<table class="table table-striped">
  <tr>
    <td>
      ID
    </td>
    <td>
      ФИО
    </td>
    <td>
      Телефон
    </td>
    <td>
      Почта
    </td>
    <td>
      ВУЗ\ССУЗ
    </td>
    <td>
      Тип
    </td>
    <td>
      Курс
    </td>
    <td>
      Тема
    </td>
    <td>
      До
    </td>
    <td>
      Специальность
    </td>
    <td>
      Комментарии
    </td>
    <td>
      Дисциплина
    </td>
    <td>
      Промо
    </td>
    <td>
      Файлы
    </td>
    <td>
      Создано
    </td>
  </tr>
<% _.each(orders,function(order){ %>
    <tr>
      <td>
        <%= order.id %>
      </td>
      <td>
        <%= order.fio %>
      </td>
      <td>
        <%= order.phone %>
      </td>
      <td>
        <%= order.email %>
      </td>
      <td>
        <%= order.vuz %>
      </td>
      <td>
        <%= order.type %>
      </td>
      <td>
        <%= order.course %>
      </td>
      <td>
        <%= order.theme %>
      </td>
      <td>
        <%= order.todate %>
      </td>
      <td>
        <%= order.special %>
      </td>
      <td>
        <%= order.comments %>
      </td>
      <td>
        <%= order.discipline %>
      </td>
      <td>
        <%= order.promo %>
      </td>
      <td>
        <% if(order.files && order.files != '-') { %>
          <% for(var key in order.files) { %>
            <li><a href="/uploads/<%= order.files[key].file %>" target="_blank"><%= order.files[key].filename %></a></li>
          <% } %>
        <% } else { %>
            -
          <% } %>
      </td>
      <td>
        <%= moment(order.createdAt).format('DD.MM.YYYY') %>
      </td>
    </tr>
<% }); %>
</table>
