<div class="wrapper">
<%- partial("partial/header.ejs") %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="manager-order-panel">
        <ul>
          <a href="/manager"><li>Новые <b><%= ordersCount.type1 %></b></li></a>
          <a href="/manager/orders/2"><li>Рецензия <b><%= ordersCount.type2 %></b></li></a>
          <a href="/manager/orders/3"><li>На тендере <b><%= ordersCount.type3 %></b></li></a>
          <a href="/manager/orders/4"><li>Ждем оплату <b><%= ordersCount.type4 %></b></li></a>
          <a href="/manager/orders/5"><li>В работе <b><%= ordersCount.type5 %></b></li></a>
          <a href="/manager/orders/6"><li>На доработке <b><%= ordersCount.type6 %></b></li></a>
          <a href="/manager/orders/7"><li>На проверке <b><%= ordersCount.type7 %></b></li></a>
          <a href="/manager/orders/8"><li>Архив <b><%= ordersCount.type8 %></b></li></a>
          <a href="/manager/orders/9"><li>Возврат <b><%= ordersCount.type9 %></b></li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if(order) { %>
        <div class="orderid"><%= order.id %></div>
        <div class="userid"><%= userID %></div>
        <div class="col-xs-9 manager-order-sp-l">
          <div class="col15-xs-1 action">
            <a href="#" class="btn btn-z4-dark" id="saveOrder" data-toggle="tooltip" data-placement="bottom" title="Сохранить"><span class="glyphicon glyphicon-floppy-disk"></span></a>
          </div>
          <div class="col15-xs-1 action">
            <a href="#" class="btn btn-z4-dark" data-toggle="tooltip" data-placement="bottom" title="Отмена"><span class="glyphicon glyphicon-ban-circle"></span></a>
          </div>
          <div class="col15-xs-2 action">
            <a href="#" class="btn btn-z4-dark">Оплата</a>
          </div>
          <% if(order.manager_status == 1) { %>
          <div class="col15-xs-3 action">
            <a href="#" class="btn btn-z4-dark setStatus" data-status="3"><img src="/images/manager/tender-w.svg" alt="" /> На тендер</a>
          </div>
          <% } %>
          <div class="col15-xs-3 action">
            <a href="#" class="btn btn-z4-dark declineOrder"><img src="/images/manager/reject-w.svg" alt="" /> Отказ</a>
          </div>
          <div class="col15-xs-3 action" style="border:0;">
            <a href="#" class="btn btn-z4-dark"><img src="/images/manager/orderTransfered-w.svg" alt="" /> В другой кабинет</a>
          </div>
          <div class="clearfix"></div>
          <form class="form" method="post" id="params1">
          <div class="manager-order">
            <strong>Заказ №<%= order.id %> от <%= moment(order.createdAt).format('DD.MM.YYYY HH:MM') %></strong>
              <div class="form-group">
                <label for="type" class="col-sm-2 col-xs-12 control-label">Вид работы </label>
                <div class="col-sm-8 col-xs-12">
                  <select name="order_type" id="type" class="form-control" placeholder="Выберите тип работы">
                    <% _.each(workTypes, function(worktype) { %>
                      <option value="<%= worktype.id %>"<% if(order.order_type.id == worktype.id) { %> selected="selected"<% } %>><%= worktype.name %></option>
                    <% }); %>
                  </select>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="discipline" class="col-sm-2 col-xs-12 control-label">Дисциплина </label>
                <div class="col-sm-8 col-xs-12">
                  <input type="text" id="discipline" name="order_discipline" value="<%= order.order_discipline?order.order_discipline:'' %>" class="form-control" placeholder="Выберите дисциплину">
                </div>
                <div class="col-xs-2">
                  <a href="#" id="select-discipline" class="btn btn-z4-default"><span class="glyphicon glyphicon-th-list"></span></a>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="vuz" class="col-sm-2 col-xs-12 control-label">ВУЗ (ССУЗ) </label>
                <div class="col-sm-8 col-xs-12">
                  <input type="text" id="vuz" name="order_highschool" class="form-control" value="<%= order.order_highschool?order.order_highschool:'-'%>" placeholder="Выберите ВУЗ (ССУЗ)">
                </div>
                <div class="col-xs-2">
                  <a href="#" class="btn btn-z4-default popup-with-zoom-anim" id="list-vuz-ssuz"><span class="glyphicon glyphicon-th-list"></span></a>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="speciality" class="col-sm-2 col-xs-12 control-label">Специальность </label>
                <div class="col-sm-8 col-xs-12">
                  <input type="text" id="speciality" name="order_speciality" class="form-control" value="<%= order.order_speciality?order.order_speciality:'-'%>" placeholder="Введите специальность">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="pbdate" class="col-sm-2 col-xs-12 control-label">Выполнить </label>
                <div class="col-sm-3 col-xs-12 pbdt">
                  <input type="text" id="pbdate" name="date_to" value="<%= order.date_to?order.date_to:'' %>" class="form-control pbdate"><a href="#" class="profileCalendarTrg"><img src="/images/calendar.svg" alt="" /></a>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="theme" class="col-sm-2 col-xs-12 control-label">Тема </label>
                <div class="col-sm-8 col-xs-12">
                  <input type="text" id="theme" name="order_theme" class="form-control" value="<%= order.order_theme?order.order_theme:'' %>" placeholder="Введите тему">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="comments" class="col-sm-2 col-xs-12 control-label">Примечания </label>
                <div class="col-sm-8 col-xs-12">
                  <textarea type="text" id="comments" name="comments" class="form-control"><%= order.comments %></textarea>
                </div>
              </div>
            <div class="clearfix"></div>
          </div>
          </form>

          <div class="manager-orderPanel">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#chat" aria-controls="home" role="tab" data-toggle="tab">Чат</a></li>
              <li role="presentation"><a href="#files" aria-controls="profile" role="tab" data-toggle="tab">Файлы</a></li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="chat">
                <div class="col-xs-3 chat-info">
                    <div class="col-xs-3">
                      <img src="/images/manager/client-r.svg" alt="" />
                    </div>
                    <div class="col-xs-9">
                      <%= order.user.name?order.user.name:'-' %>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-xs-3">
                      <img src="/images/manager/phone-b.svg" alt="" />
                    </div>
                    <div class="col-xs-9">
                      <%= order.user.phone?order.user.phone:'-' %>
                    </div>
                </div>
                <div class="col-xs-9 chat-area">
                  <div class="chat-field">
                    <div class="chat-messages">
                      <div id="preloader">
                        Загрузка сообщений..
                        <img src="/images/preloader.gif" alt="" />
                      </div>
                    </div>
                    <div class="input-group">
                      <input type="text" class="form-control" id="chatMessage" placeholder="Ваше сообщение">
                      <input type="hidden" name="to" id="to" value="<%= order.user.id %>">
                      <input type="hidden" name="order" id="order" value="<%= order.id %>">
                      <span class="input-group-btn">
                        <button class="btn btn-default" id="chatSend" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="files">Файлы</div>
            </div>

          </div>
        </div>

        <div class="col-xs-3 manager-order-sp-r">
          <form class="form" id="params2" method="post">
          <div class="manager-order-config">
            <b>Области знаний</b>
            <select class="col-xs-12" name="area" multiple>
              <option value="option">Экономика</option>
              <option value="option">Право</option>
              <option value="option">Другое</option>
            </select>
            <div class="clearfix"></div>
            <br />
            <b>Авторы</b>
            <select class="col-xs-12" name="author" multiple>
              <option value="option">Анатолий Анатольевич</option>
              <option value="option">Егор Егорович</option>
              <option value="option">Виктор Викторович</option>
            </select>
            <div class="clearfix"></div>
          </div>
          <br />
          <div class="manager-order-config">
            <a href="#" id="calc-manager" class="btn btn-z4-default">Калькулятор</a>
            <div class="form-group">
              <label for="price" class="col-xs-5 control-label">Полная</label>
              <div class="col-xs-7">
                <input type="text" id="price" name="price" class="form-control" value="<%= order.price?order.price:'' %>" data-toggle="tooltip" data-placement="bottom" title="Полная стоимость заказа">
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
              <label for="discount" class="col-xs-7 control-label">Скидка\надбавка</label>
              <div class="col-xs-5">
                <input type="text" id="discount" name="discount" class="form-control" value="<%= order.discount?order.discount:'0' %>" data-toggle="tooltip" data-placement="bottom" title="Без знака %">
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
              <label for="topay" class="col-xs-5 control-label">К оплате</label>
              <div class="col-xs-7">
                <input type="text" id="topay" name="" class="form-control" value="<%= order.price?order.price - order.price*order.discount/100:'0' %>">
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
              <label for="paytomanager" class="col-xs-5 control-label">Менеджеру</label>
              <div class="col-xs-7">
                <input type="text" id="paytomanager" name="paytomanager" class="form-control" value="<%= order.paytomanager?order.paytomanager:'' %>">
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
              <label for="paytoauthor" class="col-xs-5 control-label">Автору</label>
              <div class="col-xs-7">
                <input type="text" id="paytoauthor" name="paytoauthor" class="form-control" value="<%= order.paytoauthor?order.paytoauthor:'' %>">
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <br />
          <div class="manager-order-config">
            <textarea name="name" rows="8" cols="40" data-toggle="tooltip" data-placement="bottom" title="Поле для внутренних комментариев. Видны только менеджерам"></textarea>
          </div>
          <input type="hidden" name="order" id="order" value="<%= order.id %>">
          <input type="hidden" name="_csrf" id="token" value="<%= _csrf %>">
          </form>
        </div>
      <% } else { %>
        Заказ не найден!
      <% } %>
    </div>
  </div>
</div>
</div>
<div class="status infostatus">
  <div class="preloader"><img src="/images/loading.gif" alt="" /><br /><a href="#" class="dismiss">Закрыть</a></div>
  <div class="info">

  </div>
</div>
