<%- partial('main/partial/header.ejs') %>
<div class="container errpage">
  <div class="row">
    <div class="errcode">
      404
    </div>
    <div class="col-xs-12 e404">
      <h2>Ошибка 404</h2>
      <p>
        К сожалению, запрашиваемой Вами страницы не существует или она была перемещена по другому адресу.<br />Попробуйте посетить другой раздел сайта.
      </p>
      Вы можете <a href="/" class="back-link">перейти на главную</a> страницу сайта.
    </div>
  </div>
</div>
<%- partial('main/partial/footer.ejs') %>
