<%- partial('main/partial/header.ejs') %>
<div class="container errpage">
  <div class="row">
    <div class="errcode">
      500
    </div>
    <div class="col-xs-12 e404">
      <h2>Ошибка 500</h2>
      <p>
        Внутренняя ошибка сервера. Пожалуйста, свяжитесь с администратором сайта.
      </p>
      Вы можете <a href="/" class="back-link">перейти на главную</a> страницу сайта.
    </div>
  </div>
</div>
<%- partial('main/partial/footer.ejs') %>
