<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Зачетка' : title%></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!--STYLES-->
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap_col_15.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/daterangepicker.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/importer.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/smart_wizard_theme_arrows.css">
    <link rel="stylesheet" href="/css/smart_wizard.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  </head>

  <body>
    <div id="primaryApp">

    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.min.js"></script>
    <script src="/js/dependencies/jquery.magnific-popup.min.js"></script>
    <script src="/js/validator/jquery.validate.min.js"></script>
    <script src="/js/validator/localization/messages_ru.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/daterangepicker.js"></script>
    <script src="/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/phonecode.js"></script>
    <script src="/js/jquery.smartWizard.min.js"></script>
    <!--SCRIPTS END-->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/ru-RU.js"></script>
    <script src="/js/apps/primaryApp/build.js"></script>
    <script src="/js/master.js"></script>
    <script>ELEMENT.locale(ELEMENT.lang.ruRU)</script>
    <% if(userType == 2) { %>
      <script src="/js/manager.js"></script>
    <% } %>
    <!-- BEGIN JIVOSITE CODE -->
    <script type='text/javascript'>
      (function() {
        var widget_id = '4gx6wpcfMh';
        var d = document;
        var w = window;

        function l() {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//code.jivosite.com/script/widget/' + widget_id;
          var ss = document.getElementsByTagName('script')[0];
          ss.parentNode.insertBefore(s, ss);
        }
        if (d.readyState == 'complete') {
          l();
        } else {
          if (w.attachEvent) {
            w.attachEvent('onload', l);
          } else {
            w.addEventListener('load', l, false);
          }
        }
      })();
    </script>
    <!-- END JIVOSITE CODE -->
  </body>
</html>
