<%- partial('partial/header.ejs') %>
<%- body %>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery-2.1.4.min.js"></script>
<script src="/js/dependencies/jquery.magnific-popup.min.js"></script>
<script src="/js/validator/jquery.validate.min.js"></script>
<script src="/js/validator/localization/messages_ru.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<script src="/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/phonecode.js"></script>
<script src="/js/jquery.smartWizard.min.js"></script>
<!--SCRIPTS END-->
<%- partial('partial/footer.ejs') %>
