<h1>Login</h1>
<form method="POST" action="/login">
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <input type="submit" value="submit">
</form>
