<div id="managerApp">
  <div class="sidebar-menu">
    <div class="logo-primary">
      <img src="/images/logo.png" alt="" style="width:150px;margin-left:-5px;">
    </div>
    <ul>
      <li class="sidemenu-title">Навигация</li>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          Заказы
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><router-link to="/orders/1">Новые</router-link></li>
          <li><router-link to="/orders/2">Рецензия</router-link></li>
          <li><router-link to="/orders/3">На тендере</router-link></li>
          <li><router-link to="/orders/4">Ждем оплату</router-link></li>
          <li><router-link to="/orders/5">В работе</router-link></li>
          <li><router-link to="/orders/6">На доработке</router-link></li>
          <li><router-link to="/orders/7">На проверке</router-link></li>
          <li><router-link to="/orders/8">Архив</router-link></li>
          <li><router-link to="/orders/9">Возврат</router-link></li>
        </ul>
      </div>
      <router-link to="/library" title="Справочник">
        <li><span class="glyphicon glyphicon-list"></span>Справочники</li>
      </router-link>
      <router-link to="/organizer" title="Органайзер">
        <li><span class="glyphicon glyphicon-time"></span>Органайзер</li>
      </router-link>
      <router-link to="/payment" title="Оплата">
        <li><span class="glyphicon glyphicon-piggy-bank"></span>Оплата</li>
      </router-link>
      <a href="/logout" title="Выход">
        <li><span class="glyphicon glyphicon-remove-sign"></span>Выход</li>
      </a>
    </ul>
  </div>
  <nav class="navbar top-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" name="button"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
      </div>
      <ul class="nav navbar-nav nav-right">
        <li><span class="glyphicon glyphicon-envelope"></span></li>
        <li><span class="glyphicon glyphicon-question-sign"></span></li>
        <li><span class="glyphicon glyphicon-cog"></span></li>
      </ul>
    </div>
  </nav>
