<div id="authorApp">
  <div class="sidebar-menu">
    <div class="logo-primary">
      <img src="/images/logo.png" alt="" style="width:150px;margin-left:-5px;">
    </div>
    <ul>
      <li class="sidemenu-title">Навигация</li>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          Заказы
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <router-link to="/orders/1">На тендере</router-link>
          </li>
          <li>
            <router-link to="/orders/2">Предзаказ</router-link>
          </li>
          <li>
            <router-link to="/orders/3">В работе</router-link>
          </li>
          <li>
            <router-link to="/orders/4">На доработке</router-link>
          </li>
          <li>
            <router-link to="/orders/5">На проверке</router-link>
          </li>
          <li>
            <router-link to="/orders/6">Архив</router-link>
          </li>
        </ul>
      </div>

      <router-link to="/profile" title="Профиль">
        <li><span class="glyphicon glyphicon-user"></span>Профиль</li>
      </router-link>

      <router-link to="/calendar" title="Календарь">
        <li><span class="glyphicon glyphicon-calendar"></span>Календарь</li>
      </router-link>

      <router-link to="/partner" title="Партнерство">
        <li><span class="glyphicon glyphicon-user"></span>Партнерство</li>
      </router-link>

      <router-link to="/payments" title="Оплата">
        <li><span class="glyphicon glyphicon-piggy-bank"></span>Оплата</li>
      </router-link>

      <a href="/logout" title="Выход">
        <li><span class="glyphicon glyphicon-remove-sign"></span>Выход</li>
      </a>
    </ul>
  </div>
  <nav class="navbar top-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" name="button"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
      </div>
      <ul class="nav navbar-nav nav-right">
        <li><span class="glyphicon glyphicon-envelope"></span></li>
        <li><span class="glyphicon glyphicon-question-sign"></span></li>
        <li><span class="glyphicon glyphicon-cog"></span></li>
      </ul>
    </div>
  </nav>
  <!--
  <div class="menu-primary">
    <ul>
      <li class="col-xs-2"><img src="/images/logo.png" alt="" style="width:180px;"></li>
      <router-link to="/orders/1" title="Заказы"><li class="col-xs-1"><img src="/images/manager/orders-w.svg" alt="Заказы" style="width:20px;" /></li></router-link>
      <router-link to="/messages" title="Сообщения"><li class="col-xs-1"><img src="/images/manager/messages-w.svg" alt="Сообщения" style="width:20px;" /></li></router-link>
      <router-link to="/calendar" title="Календарь"><li class="col-xs-1"><img src="/images/author/calendar-w.svg" alt="Календарь" style="width:20px;" /></li></router-link>
      <router-link to="/profile" title="Профиль"><li class="col-xs-1"><img src="/images/cabinet/profile-w.svg" alt="Профиль" style="width:20px;" /></li></router-link>
      <router-link to="/partner" title="Партнерство"><li class="col-xs-1"><img src="/images/author/partner-w.svg" alt="Партнерство" style="width:20px;" /></li></router-link>
      <router-link to="/pay" title="Оплата"><li class="col-xs-1"><img src="/images/manager/oplata-w.svg" alt="Оплата" style="width:20px;" /></li></router-link>
      <a href="/logout" title="Выход" style="float:right;"><li class="col-xs-1 exit"><img src="/images/manager/exit-w.svg" alt="Выход" style="width:20px;" /></li></a>
    </ul>
    <div class="clearfix"></div>
  </div>-->
