<template lang="html">
  <div class="cabinet-control">
    <div class="container-fluid">
    <h4 class="page-title">Справочники</h4>
      <el-tabs v-model="libraryTab">
        <el-tab-pane label="ВУЗы и ССУЗы" name="hs">
          <div class="block-dark">
          <el-input v-model="hsQuery" placeholder="Поиск по записям" style="width:250px;" icon="search"></el-input>
          <br />
          <br />
          <el-table :data="filteredHighschools" border style="width:100%;">
            <el-table-column property="caption" label="Название"></el-table-column>
          </el-table>
          </div>
        </el-tab-pane>
        <el-tab-pane label="Дисциплины" name="ds">
          <div class="block-dark">
          <el-input v-model="disciplinesQuery" placeholder="Поиск по записям" style="width:250px;" icon="search"></el-input>
          <br />
          <br />
          <el-table :data="filteredDisciplines" border style="width:100%;" @expand="fetchPrice">
            <el-table-column type="expand" label="Подробнее">
              <template scope="scope">
                <h3>Стоимость услуг для дисциплины {{ scope.row.discipline }}</h3>
                <br />
                <el-table :data.sync="detailedPrices[scope.row.id]" border style="width:100%;">
                  <el-table-column label="Наименование" property="name"></el-table-column>
                  <el-table-column label="Стоимость" property="price"></el-table-column>
                </el-table>
              </template>
            </el-table-column>
            <el-table-column label="Код в системе" property="id" width="120"></el-table-column>
            <el-table-column label="Наименование" sortable property="discipline"></el-table-column>
          </el-table>
        </div>
        </el-tab-pane>
        <el-tab-pane label="Стоимость услуг" name="ps">
          <div class="block-dark">
          <el-table :data="basicPrices" border style="width:100%;">
            <el-table-column label="Наименование" sortable property="name"></el-table-column>
            <el-table-column label="Стоимость за единицу" property="price"></el-table-column>
          </el-table>
          </div>
        </el-tab-pane>
        <el-tab-pane label="Области знаний" name="kl">
          <div class="block-dark">
          </div>
        </el-tab-pane>
        <el-tab-pane label="Виды работ" name="wt">
          <div class="block-dark">
          <el-table :data="worktypes" border style="width:100%;">
            <el-table-column label="Код в системе" property="id" width="120"></el-table-column>
            <el-table-column label="Название" sortable property="name"></el-table-column>
          </el-table>
        </div>
        </el-tab-pane>
      </el-tabs>
  </div>
  </div>
</template>

<script>
module.exports = {
  methods: {
    fetchBasicPrices() {
      this.$http.get('/api/disciplinePrices/*').then(response => {
        this.basicPrices = response.body;
      });
    },
    fetchPrice(val, vl) {
      this.$http.get('/api/disciplinePrices/' + val.discipline).then(response => {
        Vue.set(this.detailedPrices, val.id, response.body);
      });
    },
    fetchHs() {
      if(!this.highschools) {
        this.$http.get('/api/highschools').then(response => {
          this.highschools = response.body;
        });
      }
    },
    fetchDisciplines() {
      this.$http.get('/api/disciplines').then(response => {
        this.disciplines = response.body;
      });
    },
    fetchWt() {
      this.$http.get('/api/wt').then(response => {
        this.worktypes = response.body;
      })
    }
  },
  computed: {
    filteredDisciplines: function() {
      var disciplines = this.disciplines,
      query = this.disciplinesQuery.toLowerCase();

      if(!query) {
        return disciplines;
      }

      disciplines = disciplines.filter(function(item){
        if(item.discipline.toLowerCase().indexOf(query) !== -1) {
          return item;
        }
      });
      return disciplines;
    },
    filteredHighschools: function() {
      var hs = this.highschools,
      query = this.hsQuery.toLowerCase();

      if(!query) {
        return hs;
      }

      hs = hs.filter(function(item) {
        if(item.caption.toLowerCase().indexOf(query) !== -1) {
          return item;
        }
      });
      return hs;
    }
  },
  created() {
    this.fetchHs();
    this.fetchBasicPrices();
    this.fetchDisciplines();
    this.fetchWt();
  },
  data() {
    return {
      libraryTab: 'hs',
      hsQuery: "",
      highschools: null,
      basicPrices: null,
      disciplinesQuery: '',
      disciplines: null,
      worktypes: null,
      detailedPrices: {}
    }
  }
}
</script>
