<template lang="html">
    <div class="cabinet-control">
      <div class="container-fluid">
        <h4 class="page-title">Управление заказами</h4>
        <h5>Если какой-либо вкладки нет - в разделе нет ни одного заказа.</h5>
        <ul v-if="ordersCount" class="work-types">
          <router-link v-if="ordersCount[1] > 0" to="/orders/1">
            <el-tag type="gray">Новые <b>{{ ordersCount[1] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[2] > 0" to="/orders/2">
            <el-tag type="gray">Рецензия <b>{{ ordersCount[2] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[3] > 0" to="/orders/3">
            <el-tag type="gray">На тендере <b>{{ ordersCount[3] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[4] > 0" to="/orders/4">
            <el-tag type="gray">Ждем оплату <b>{{ ordersCount[4] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[5] > 0" to="/orders/5">
            <el-tag type="gray">В работе <b>{{ ordersCount[5] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[6] > 0" to="/orders/6">
            <el-tag type="gray">На доработке <b>{{ ordersCount[6] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[7] > 0" to="/orders/7">
            <el-tag type="gray">На проверке <b>{{ ordersCount[7] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[8] > 0" to="/orders/8">
            <el-tag type="gray">Архив <b>{{ ordersCount[8] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[9] > 0" to="/orders/9">
            <el-tag type="gray">Возврат <b>{{ ordersCount[9] }}</b></el-tag>
          </router-link>
        </ul>
      <div class="block-dark" style="border-top-left-radius:0px;">
        <table id="tblCtrl" class="table table-striped table-bordered display">
          <thead>
            <tr>
              <th>Заказ</th>
              <th>Дата</th>
              <th>Выполнить к</th>
              <th>Клиент</th>
              <th>Вид работы</th>
              <th>Учебное заведение</th>
              <th>Дисциплина</th>
              <th>Файлы</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
</template>
<script>
module.exports = {
  methods: {
    fetchOrdersCount() {
      this.$http.get('/manager/ordersShorted').then(response => {
        this.ordersCount = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        response.body.forEach((item) => {
          this.ordersCount[item.manager_status]++;
        });
      });
    },
    destroyTable() {
      if (this.tableInstance) {
        this.tableInstance.destroy();
        return true;
      }
      return true;
    },
    fetchOrders() {
      this.$http.get('/manager/orders/' + this.$route.params.type).then(response => {
        this.orders = response.body.orders;
        this.tableInstance = $('#tblCtrl').DataTable({
          retrieve: true,
          language: {
            url: "//cdn.datatables.net/plug-ins/1.10.16/i18n/Russian.json"
          },
          data: response.body.orders,
          columns: [{
              data: 'id',
              render: (data) => {
                return '<a href="/manager#/order/' + data + '">' + data + '</a>'
              }
            },
            {
              data: 'createdAt',
              render: (data) => {
                return moment(data).format('DD.MM.YYYY')
              }
            },
            {
              data: 'date_to',
              render: (data) => {
                return moment(data).format('DD.MM.YYYY')
              }
            },
            {
              data: 'user.name'
            },
            {
              data: 'order_type.name'
            },
            {
              data: 'order_highschool'
            },
            {
              data: 'order_discipline'
            },
            {
              data: 'files'
            }
          ]
        });
      });
    },
    fetchCSRF() {
      if (!this.csrfToken) {
        this.$http.get("/csrfToken").then(response => {
          this.csrfToken = response.body._csrf;
        });
      }
    },
    joinGlobal() {
      var app = this;
      io.socket.get('/api/joinGlobalManagers', function() {
        io.socket.on('forceUpdate', function() {
          app.fetchOrders();
        });
      });
    }
  },
  watch: {
    '$route': ['destroyTable', 'fetchOrders', 'fetchOrdersCount']
  },
  created() {
    this.fetchOrdersCount();
    this.fetchOrders();
    this.fetchCSRF();
    this.joinGlobal();
  },
  data: () => ({
    ordersCount: [],
    orders: null,
    tableInstance: null
  })
}
</script>
