<template lang="html">
  <div class="cabinet-control" v-if="order">
    <div class="container-fluid">
          <h4 class="page-title">Редактирование заказа <span v-if="order">№{{ order.id }} от {{ moment(order.createdAt).format("DD.MM.YYYY HH:MM") }}</span></h4>
          <h5 class="bcrumbs"><a href="/manager#/orders/1">Заказы</a><span class="divider">></span><a :href="'/manager#/orders/' + managerStatus">{{ managerStatusName[managerStatus] }}</a></h5>
          <div v-if="orderAuthor != null && (managerStatus == 4 || managerStatus == 5 || managerStatus == 6)">
            Назначен автор: {{orderAuthor.name}} <a @dblclick="removeAuthor();" class="btn btn-sm btn-info">Снять автора с заказа</a>
          </div>
          <div class="actions-left-bar" v-if="managerStatus == 1">
            <div class="action">
              <a @click="saveOrder();" id="saveOrder"><el-button class="btn btn-success">Сохранить</el-button></a>
            </div>
            <div class="action" v-if="((knowledgeList != null && knowledgeList.length > 0) && (selectedAuthors != null && selectedAuthors.length > 0))">
              <div class="dropdown">
               <el-button class="btn btn-success" data-toggle="dropdown">Оплата <span class="caret"></span></el-button>
  	           <ul class="dropdown-menu">
  		          <li v-if="formPrice > 0"><a @click="saveOrder(); setClientStatus(2); setManagerStatus(3);">Выставить счет</a></li>
  		          <li v-if="formPrice > 0"><a @click="insertPayment = true;">Оплачен в офисе</a></li>
  	           </ul>
              </div>
            </div>
            <div class="action" v-if="managerStatus != 3 && ((knowledgeList != null && knowledgeList.length > 0) && (selectedAuthors != null && selectedAuthors.length > 0))">
              <a @click="tenderDialogVisible = true;" class="setStatus" data-status="3"><el-button class="btn btn-success">На тендер</el-button></a>
            </div>
            <div class="action" v-if="managerStatus != 8">
              <a @click="rejectDialogVisible = true;" class="declineOrder"><el-button class="btn btn-danger">Отказ</el-button></a>
            </div>
            <div class="action" style="border:0;">
              <a @click="throwDialogVisible = true; fetchCabinets();"><el-button class="btn btn-info">В другой кабинет</el-button></a>
            </div>
          </div>

          <div class="actions-left-bar" v-if="managerStatus == 2">
            <div class="action" v-if="managerStatus != 3">
              <a class="setStatus" @click="setStatus(5, 6, 4);" data-status="3"><el-button class="btn btn-success">На доработку</el-button></a>
            </div>
            <div class="action" v-if="managerStatus != 8">
              <a class="declineOrder"><el-button @click="createOnExisting" class="btn btn-info">Создать новый</el-button></a>
            </div>
            <div class="action" style="border:0;">
              <a><el-button @click="setStatus(7, 8, 6);" class="btn btn-info">Вернуть в архив</el-button></a>
            </div>
          </div>

          <div class="actions-left-bar" v-if="managerStatus == 3">
            <div v-if="order.order_status == 2 && formPaid < 1">
              <b>Ждём оплату</b>
            </div>
            <div v-if="formPaid > 0 && formPaid < formPrice">
              <b>Частично оплачен</b>
            </div>
            <div v-if="formPaid == formPrice">
              <b>Оплачен</b>
            </div>
            <div class="action" v-if="order.order_status != 2 && formPrice > 0 && formPaid < 1">
              <a @click="saveOrder(); setClientStatus(2);" id="saveOrder"><el-button class="btn btn-success">Выставить счёт</el-button></a>
            </div>
            <div class="action">
              <a @click="saveOrder();" id="saveOrder"><el-button class="btn btn-success">Сохранить</el-button></a>
            </div>
            <!--<div class="action" v-if="formPrice > 0 && ((knowledgeList != null && knowledgeList.length > 0) && (selectedAuthors != null && selectedAuthors.length > 0))">
              <a @click="setClientStatus(2); setManagerStatus(4);" class="setStatus" data-status="3"><el-button class="btn btn-success">Выставить счёт</el-button></a>
            </div>-->
            <div class="action" v-if="managerStatus != 8">
              <a @click="rejectDialogVisible = true;" class="declineOrder"><el-button class="btn btn-danger">Отказ</el-button></a>
            </div>
          </div>

          <div class="actions-left-bar" v-if="managerStatus == 4">
            <div v-if="formPaid > 0 && formPaid < formPrice">
              Частично оплачен
            </div>
            <div v-if="formPaid == formPrice">
              Оплачен
            </div>
            <div class="action">
              <a @click="saveOrder();" id="saveOrder"><el-button class="btn btn-success">Сохранить</el-button></a>
            </div>
            <div class="action" v-if="formPaid == 0 || formPaid == null || (formPaid > 0 && formPaid < formPrice)">
              <a class="setStatus" @click="insertPaymentVb = true;" data-status="3"><el-button class="btn btn-success">Оплачен</el-button></a>
            </div>
            <div class="action">
              <a @click="tenderDialogVisible = true;" class="setStatus" data-status="3"><el-button class="btn btn-info">На тендер</el-button></a>
            </div>
            <div class="action" v-if="managerStatus != 8">
              <a @click="rejectDialogVisible = true;" class="declineOrder"><el-button class="btn btn-danger">Отказ</el-button></a>
            </div>
          </div>

          <div class="actions-left-bar" v-if="managerStatus == 5">
            <span v-if="order.inWork != 1">Автор не подтвердил заказ</span>
            <span v-else>Заказ принят автором</span>
            <br />
            <div class="action">
              <a @click="saveOrder();" id="saveOrder"><el-button class="btn btn-success">Сохранить</el-button></a>
            </div>
            <div class="action">
              <a class="setStatus" @click="tenderDialogVisible = true;" data-status="3"><el-button class="btn btn-info">На тендер</el-button></a>
            </div>
            <div class="action" v-if="managerStatus != 8">
              <a @click="rejectDialogVisible = true;" class="declineOrder"><el-button class="btn btn-danger">Возврат</el-button></a>
            </div>
          </div>

          <div class="actions-left-bar" v-if="managerStatus == 6">
            <span v-if="order.inFix != 1">Автор не подтвердил доработку заказа</span>
            <span v-else>Заказ принят автором на доработку</span>
            <br />
            <div class="action">
              <a @click="saveOrder();" id="saveOrder"><el-button class="btn btn-success">Сохранить</el-button></a>
            </div>
            <div class="action">
              <a class="setStatus" data-status="3"><el-button @click="setStatus(4,2,5)" class="btn btn-info">Рецензия</el-button></a>
            </div>
            <div class="action" v-if="managerStatus != 8">
              <a @click="rejectDialogVisible = true;" class="declineOrder"><el-button class="btn btn-danger">Возврат</el-button></a>
            </div>
          </div>

          <div class="actions-left-bar" v-if="managerStatus == 7">
            <div class="action">
              <a class="setStatus" data-status="3"><el-button @click="formPaid>=formPrice?setStatus(7, 8, 6):setStatus(6,8,6)" class="btn btn-success">Выдать работу</el-button></a>
            </div>
            <div class="action">
              <a class="setStatus" data-status="3"><el-button @click="setStatus(5, 6, 4);" class="btn btn-success">На доработку</el-button></a>
            </div>
            <div class="action" v-if="managerStatus != 8">
              <a @click="rejectDialogVisible = true;" class="declineOrder"><el-button class="btn btn-danger">Возврат</el-button></a>
            </div>
          </div>

          <div class="actions-left-bar" v-if="managerStatus == 8">
            <span style="font-size:1.3em; color:#00FF00;" v-if="order.success == 1"><b>ВЫПОЛНЕН</b></span>
            <span style="font-size:1.3em; color:#FF0000;" v-if="order.success != 1"><b>ОТКАЗ</b></span>
          </div>

          <div class="actions-left-bar" v-if="managerStatus == 9">
            <div class="action">
              <a @click="saveOrder(); setStatus(8,8,0);" class="setStatus" data-status="3"><el-button class="btn btn-success">Средства возвращены</el-button></a>
            </div>
            <div class="action" v-if="managerStatus != 8">
              <a @click="returnDialogVisible = true;" class="declineOrder"><el-button class="btn btn-info">Вернуть в работу</el-button></a>
            </div>
          </div>
  </div>
  <div class="container-fluid">
    <div class="col-xs-12" v-if="managerStatus == 3 && suggestions">
      <div class="block-dark">
      <h3>Предложения авторов</h3>
      <h5>В данной таблице будут появляться предложения авторов к заказу. Наиболее выгодные предложения помечаются зелёным цветом текста. Если отображается только имя автора - автор согласен на все текущие условия по заказу.</h5>
      <div id="tender" v-if="suggestions">
        <el-table :data="suggestions" border>
          <el-table-column property="user.name" label="Автор"></el-table-column>
          <el-table-column label="Срок сдачи">
            <template scope="scope">
              <span v-if="scope.row.data == null">
                {{ scope.row.order.date_to | moment("DD.MM.YYYY") }}
              </span>
              <span v-else>
                <b :class="{
                  'moreThan': new Date(JSON.parse(scope.row.data).date).getTime() > new Date(formDateTo?formDateTo:scope.row.order.date_to).getTime(),
                  'lessThan': new Date(JSON.parse(scope.row.data).date).getTime() < new Date(formDateTo?formDateTo:scope.row.order.date_to).getTime()}">
                  {{ JSON.parse(scope.row.data).date | moment("DD.MM.YYYY") }}
                  <i v-show="new Date(JSON.parse(scope.row.data).date).getTime() > new Date(formDateTo?formDateTo:scope.row.order.date_to).getTime()" class="glyphicon glyphicon-triangle-top"></i>
                  <i v-show="new Date(JSON.parse(scope.row.data).date).getTime() < new Date(formDateTo?formDateTo:scope.row.order.date_to).getTime()" class="glyphicon glyphicon-triangle-bottom"></i>
                </b>
              </span>
            </template>
          </el-table-column>
          <el-table-column label="Стоимость">
            <template scope="scope">
              <span v-if="scope.row.data == null">
                {{ scope.row.order.paytoauthor }}
              </span>
              <span v-else>
                <b :class="{
                  'moreThan': JSON.parse(scope.row.data).price > formAuthorPay,
                  'lessThan': JSON.parse(scope.row.data).price < formAuthorPay}">
                  {{ JSON.parse(scope.row.data).price }}
                  <i v-show="JSON.parse(scope.row.data).price > formAuthorPay" class="glyphicon glyphicon-triangle-top"></i>
                  <i v-show="JSON.parse(scope.row.data).price < formAuthorPay" class="glyphicon glyphicon-triangle-bottom"></i>
                </b>
              </span>
            </template>
          </el-table-column>
          <el-table-column label="Действия">
            <template scope="scope">
                <a @dblclick="setAuthor(scope.row.user.id, scope.row.data);" class="btn btn-info btn-sm">Назначить</a>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="clearfix"></div>
      </div>
    </div>
  <div class="col-xs-6" style="padding-left:0px;">
    <div class="block-dark">
      <form class="form" method="post" id="params1" v-model="formInfo">
      <div class="manager-order" v-if="order">
        <h3>Основная информация</h3>
        <h5>Всегда проверяйте правильность заполнения данных. Поля дисциплина и ВУЗ являются активными справочниками. Для их вызова необходимо дважды нажать на соответствующее поле.</h5>
          <div class="form-group col-xs-12" v-if="wt">
            <label for="type" class="control-label">Вид работы </label>
            <el-select v-model="formWorkType" placeholder="Выберите тип работы" v-if="order.order_type">
              <template v-for="w in wt">
                <el-option :label="w.name" :value="w.id" v-if="w.id == order.order_type.id" selected="selected"></el-option>
                <el-option :label="w.name" :value="w.id" v-else></el-option>
              </template>
            </el-select>
          </div>

          <div class="form-group col-xs-12" @dblclick="disciplinesLibrary = true; fetchDisciplines();">
            <label for="discipline">Дисциплина </label>
            <input type="text" v-model="formDiscipline" class="form-control" :value="order.order_discipline" placeholder="Выберите дисциплину">
          </div>

          <div class="form-group col-xs-12">
            <label for="pbdate" class="control-label">Выполнить до</label>
            <el-date-picker v-model="formDateTo" format="dd.MM.yyyy" type="date" :placeholder="this.dateTo?moment(this.dateTo).format('DD.MM.YYYY'):''"></el-date-picker>
          </div>

          <div class="form-group col-xs-12">
            <label for="theme" class="control-label">Тема </label>
            <input type="text" class="form-control" v-model="formTheme" :value="order.order_theme" placeholder="Введите тему">
          </div>
          <div class="form-group col-xs-12" @dblclick="hsLibrary = true; fetchHs();">
            <label for="vuz" class="control-label">ВУЗ (ССУЗ) </label>
            <input type="text" class="form-control" v-model="formHighschool" :value="order.order_highschool" placeholder="Выберите ВУЗ (ССУЗ)">
          </div>

          <div class="form-group col-xs-12">
            <label for="speciality" class="control-label">Специальность </label>
            <input type="text" class="form-control" v-model="formSpeciality" :value="order.order_speciality" placeholder="Введите специальность">
          </div>

          <div class="form-group col-xs-12">
            <label for="comments" class="control-label">Примечания </label>
            <textarea class="form-control" v-model="formComments" :value="order.comments" placeholder="Примечания" type="textarea"></textarea>
          </div>
        <div class="clearfix"></div>
      </div>
      </form>
    </div>
    <div class="block-dark">
      <h3>Чат</h3>
      <h5>Сервис обмена сообщениями с клиентом или автором. Дополнительные вкладки появляются по мере их доступности.</h5>
      <el-tabs v-model="chatTab">
        <el-tab-pane label="Клиент" name="client">
          <div class="col-xs-3 chat-info" @click="showUserInfo = true;" style="padding-left: 0;">
              <div class="col-xs-3" style="padding-left: 0; margin-bottom: 5px;">
                <img src="/images/manager/client-r.svg" alt="" />
              </div>
              <div class="col-xs-9" style="padding-left: 0; margin-bottom: 5px;">
                {{ (clientCredentials.name != undefined)?clientCredentials.name:'не указано' }}
              </div>

              <div class="clearfix"></div>

              <div class="col-xs-3" style="padding-left: 0;">
                <img src="/images/manager/phone-b.svg" alt="" />
              </div>
              <div class="col-xs-9" style="padding-left: 0;">
                {{ clientCredentials?clientCredentials.phonePrefix + ' ' + clientCredentials.phone:'не указано' }}
              </div>
          </div>
          <div class="col-xs-9 chat-area">
            <div class="chat-field well well-sm">
              <div class="chat-messages">
                <div class="messages-all">
                  <span style="text-align:center; display:block;" v-if="!chat">Сообщений нет</span>

                  <div v-if="chat" v-for="msg in chat">
                    <div class="message" v-if="msg.message" :class="{'mine': msg.from.room == me.room, 'his': msg.from.room != me.room}">
                      <div class="col-xs-4">
                        <span>{{ msg.createdAt | moment("DD.MM.YYYY HH:mm") }}</span>
                        <br />
                        <b v-if="msg.from.room != me.room && msg.from">{{ msg.from.name }} (клиент)</b>
                        <b v-else>Вы</b>
                      </div>
                      <div class="col-xs-8">
                        {{ msg.message }}
                      </div>
                      <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group chat-input">
            <textarea class="form-control" placeholder="Ваше сообщение" name="msgToClient" rows="4" cols="40" v-model="messageToClient" @keyup.stop.prevent.ctrl.enter="sendMessage(order.user.id);"></textarea>
            <button class="btn btn-info" @click.stop.prevent="sendMessage();" id="chatSend" type="button">Отправить</button>
          </div>
        </el-tab-pane>
        <el-tab-pane v-if="orderAuthor" label="Автор" name="author">
          <div class="col-xs-3 chat-info" @click="showUserInfo = true;" style="padding-left: 0;">
              <div class="col-xs-3" style="padding-left: 0; margin-bottom: 5px;">
                <img src="/images/manager/client-r.svg" alt="" />
              </div>
              <div class="col-xs-9" style="padding-left: 0; margin-bottom: 5px;">
                {{ orderAuthor?orderAuthor.name:'не указано' }}
              </div>

              <div class="clearfix"></div>

              <div class="col-xs-3" style="padding-left: 0;">
                <img src="/images/manager/phone-b.svg" alt="" />
              </div>
              <div class="col-xs-9" style="padding-left: 0;">
                {{ orderAuthor?orderAuthor.phone:'не указано' }}
              </div>
          </div>
          <div class="col-xs-9 chat-area">
            <div class="chat-field well well-sm">
              <div class="chat-messages">
                <div class="messages-all">
                  <span style="text-align:center; display:block;" v-if="authorChat == null">Сообщений нет</span>

                  <div v-if="chat != null" v-for="msg in authorChat">
                    <div class="message" v-if="msg.message != null" :class="{'mine': msg.from.room == me.room, 'his': msg.from.room != me.room}">
                      <div class="col-xs-4">
                        <span>{{ msg.createdAt | moment("DD.MM.YYYY HH:mm") }}</span>
                        <br />
                        <b v-if="msg.from.room != me.room">{{ msg.from.name }} (автор)</b>
                        <b v-else>Вы</b>
                      </div>
                      <div class="col-xs-8">
                        {{ msg.message }}
                      </div>
                      <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group chat-input">
            <textarea class="form-control" placeholder="Ваше сообщение" name="msgToClient" rows="4" cols="40" v-model="messageToClient" @keyup.stop.prevent.ctrl.enter="sendMessage(order.user.id);"></textarea>
            <button class="btn btn-info" @click.stop.prevent="sendMessage();" id="chatSend" type="button">Отправить</button>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
  <div class="col-xs-6" style="padding-right:0;">
    <div class="block-dark knowledge-authors">
        <h3>Области знаний и авторы</h3>
        <h5>Для ускорения обработки заказа авторами необходимо указывать подходящие заказу области знаний.</h5>
        <div class="col-xs-6" style="padding-left:0;">
          <a class="btn btn-danger" @click="knowledgeListVisible = true; fetchKl();">Добавить область знаний</a>
          <ul v-if="knowledgeList" v-for="kl in knowledgeList">
            <li>{{ kl.name }}</li>
          </ul>
        </div>
        <div class="col-xs-6" style="padding-right:0;" v-if="orderAuthor == null">
          <a class="btn btn-danger" @click="authorListVisible = true; fetchAuthors();">Добавить автора</a>
          <ul v-if="selectedAuthors" v-for="author in selectedAuthors">
            <li>{{ author.name }}</li>
          </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block-dark">
      <h3>Стоимость услуг</h3>
      <h5>Для правильного расчета стоимости заказа используйте калькулятор. Кнопка появляется при указании дисциплины и напрямую зависит от значения этого поля.</h5>
      <a @click="calcDialogVisible = true; fetchPrices();" v-if="formDiscipline" id="calc-manager"><el-button class="btn btn-info" style="width:220px;">Калькулятор</el-button></a>
      <div class="clearfix"></div>
      <div class="form-group col-xs-2">
        <label for="price" class="control-label">Полная</label>
        <input type="text" id="price" name="price" v-model="formPrice" @keyup="updatePrices();" class="form-control" :value="order.price" data-toggle="tooltip" data-placement="bottom" title="Полная стоимость заказа">
      </div>
      <div class="form-group col-xs-2">
        <label for="price" class="control-label">Оплачено</label>
        <input type="text" id="price" name="price" v-model="formPaid" disabled class="form-control" :value="order.paid" data-toggle="tooltip" data-placement="bottom" title="Оплачено клиентом">
      </div>
      <div class="form-group col-xs-2">
        <label for="discount" class="control-label">Скидка</label>
        <input type="text" id="discount" name="discount" v-model="formDiscount" @keyup="updatePrices();" class="form-control" :value="order.discount" data-toggle="tooltip" data-placement="bottom" title="Без знака %">
      </div>
      <div class="form-group col-xs-2">
        <label for="topay" class="control-label">К оплате</label>
        <input type="text" id="topay" name="" class="form-control" v-model="formToPay">
      </div>
      <div class="form-group col-xs-2">
        <label for="paytomanager" class="control-label">Менеджеру</label>
        <input type="text" id="paytomanager" name="paytomanager" v-model="formManagerPay" class="form-control">
      </div>
      <div class="form-group col-xs-2">
        <label for="paytoauthor" class="control-label">Автору</label>
        <input type="text" id="paytoauthor" name="paytoauthor" v-model="formAuthorPay" class="form-control">
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="block-dark">
      <h3>Управление файлами</h3>
      <h5>Для загрузки файлов необходимо сначала перейти в соответствующую типу файла вкладку и нажать кнопку загрузить. Флажки Авторам и Клиенту отвечают за доступность файла автору или клиенту соответственно.</h5>
      <div id="files">
        <el-tabs v-model="filesTab">
          <el-tab-pane v-if="filesList" label="Задание" name="1">
            <el-table :data="filesList[1]" class="table table-striped" border v-show="!showUploadForm">
              <el-table-column label="X" width="50"><template scope="scope"><span style="text-align:center;"><i @dblclick="removeFile(scope.row.id, scope.$index, scope.row);" class="el-icon-close"></i></span></template></el-table-column>
              <el-table-column property="name" width="220" label="Файл">
                <template scope="scope">
                  <a :href="'/uploads/' + $route.params.id + '/' + scope.row.path" target="_blank"><b v-if="scope.row.user != me.id">> </b>{{ scope.row.name }}</a>
                </template>
              </el-table-column>
              <el-table-column property="createdAt" sortable label="Загружен">
                <template scope="scope">
                  {{ scope.row.createdAt | moment('DD.MM.YYYY HH:mm') }}
                </template>
              </el-table-column>
              <el-table-column property="access" width="80" label="Авторам" v-if="access">
                <template scope="scope">
                  <el-checkbox v-model="access[scope.row.path]" :checked="scope.row.access" @change="switchAccess(access[scope.row.path], scope.row.id);"></el-checkbox>
                </template>
              </el-table-column>
              <el-table-column property="visible" width="80" label="Клиенту" v-if="visible">
                <template scope="scope">
                  <el-checkbox v-model="visible[scope.row.path]" :checked="scope.row.visible" @change="switchVisible(visible[scope.row.path], scope.row.id);"></el-checkbox>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane v-if="filesList" label="Готовая работа" name="100">
            <el-table :data="filesList[100]" class="table table-striped" border v-show="!showUploadForm">
              <el-table-column label="X" width="50"><template scope="scope"><span style="text-align:center;"><i @dblclick="removeFile(scope.row.id, scope.$index, scope.row);" class="el-icon-close"></i></span></template></el-table-column>
              <el-table-column property="name" width="220" label="Файл">
                <template scope="scope">
                  <a :href="'/uploads/' + $route.params.id + '/' + scope.row.path" target="_blank"><b v-if="scope.row.user != me.id">> </b>{{ scope.row.name }}</a>
                </template>
              </el-table-column>
              <el-table-column property="createdAt" sortable label="Загружен">
                <template scope="scope">
                  {{ scope.row.createdAt | moment('DD.MM.YYYY HH:mm') }}
                </template>
              </el-table-column>
              <el-table-column property="access" width="80" label="Авторам" v-if="access">
                <template scope="scope">
                  <el-checkbox v-model="access[scope.row.path]" :checked="scope.row.access" @change="switchAccess(access[scope.row.path], scope.row.id);"></el-checkbox>
                </template>
              </el-table-column>
              <el-table-column property="visible" width="80" label="Клиенту" v-if="visible">
                <template scope="scope">
                  <el-checkbox v-model="visible[scope.row.path]" :checked="scope.row.visible" @change="switchVisible(visible[scope.row.path], scope.row.id);"></el-checkbox>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane v-if="filesList" label="Прочее" name="50">
            <el-table :data="filesList[50]" class="table table-striped" border v-show="!showUploadForm">
              <el-table-column label="X" width="50"><template scope="scope"><span style="text-align:center;"><i @dblclick="removeFile(scope.row.id, scope.$index, scope.row);" class="el-icon-close"></i></span></template></el-table-column>
              <el-table-column property="name" width="220" label="Файл">
                <template scope="scope">
                  <a :href="'/uploads/' + $route.params.id + '/' + scope.row.path" target="_blank"><b v-if="scope.row.user != me.id">> </b>{{ scope.row.name }}</a>
                </template>
              </el-table-column>
              <el-table-column property="createdAt" sortable label="Загружен">
                <template scope="scope">
                  {{ scope.row.createdAt | moment('DD.MM.YYYY HH:mm') }}
                </template>
              </el-table-column>
              <el-table-column property="access" width="80" label="Авторам" v-if="access">
                <template scope="scope">
                  <el-checkbox v-model="access[scope.row.path]" :checked="scope.row.access" @change="switchAccess(access[scope.row.path], scope.row.id);"></el-checkbox>
                </template>
              </el-table-column>
              <el-table-column property="visible" width="80" label="Клиенту" v-if="visible">
                <template scope="scope">
                  <el-checkbox v-model="visible[scope.row.path]" :checked="scope.row.visible" @change="switchVisible(visible[scope.row.path], scope.row.id);"></el-checkbox>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
        <br />
        <el-button type="primary" v-show="!showUploadForm" @click="showUploadForm = true;">Загрузить <i class="el-icon-plus"></i></el-button>
        <el-button type="warning" v-show="2==1" :loading="archivingFiles" @click="createArchive($route.params.id);">Скачать одним архивом <i class="el-icon-check"></i></el-button>
        <div v-show="showUploadForm">
          <el-upload
            class="upload"
            drag
            name="uploadFile"
            :data="{ '_csrf':csrfToken, 'order':id, 'type':Number(filesTab), 'visible':false, 'access':false }"
            action="/api/upload"
            :file-list="fileList"
            :on-success="function(r, file, fl) { filesList[Number(filesTab)].push(r); }"
          multiple>
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Перетяните файлы сюда или <em>нажмите для выбора файлов</em></div>
            <div class="el-upload__tip" slot="tip">Документы и изображения не больше 15Мб</div>
          </el-upload>
          <br />
          <el-button type="warning" @click="showUploadForm = false;">Закрыть</el-button>
        </div>
      </div>
    </div>
  </div>
<!--<div class="block-dark" v-if="order">
    <div class="orderid">{{ order.id }}</div>
      <div class="manager-order-sp-r">
        <div v-if="orderAuthor != null && (managerStatus == 4 || managerStatus == 5 || managerStatus == 6)">
          Назначен автор: {{orderAuthor.name}} <a @dblclick="removeAuthor();" class="btn btn-sm btn-info">Снять автора с заказа</a>
        </div>


      </div>
      <div class="col-xs-12 manager-order-sp-l">

        <div class="well well-sm col-xs-12" v-if="order && suggestions && managerStatus == 3">
        <div class="manager-order-config">
          <h3>Предложения авторов</h3>
          <div id="tender" v-if="suggestions">
            <el-table :data="suggestions" border>
              <el-table-column property="user.name" label="Автор"></el-table-column>
              <el-table-column label="Срок сдачи">
                <template scope="scope">
                  <span v-if="scope.row.data == null">
                    {{ scope.row.order.date_to | moment("DD.MM.YYYY") }}
                  </span>
                  <span v-else>
                    <b :class="{
                      'moreThan': new Date(JSON.parse(scope.row.data).date).getTime() > new Date(formDateTo?formDateTo:scope.row.order.date_to).getTime(),
                      'lessThan': new Date(JSON.parse(scope.row.data).date).getTime() < new Date(formDateTo?formDateTo:scope.row.order.date_to).getTime()}">
                      {{ JSON.parse(scope.row.data).date | moment("DD.MM.YYYY") }}
                      <i v-show="new Date(JSON.parse(scope.row.data).date).getTime() > new Date(formDateTo?formDateTo:scope.row.order.date_to).getTime()" class="glyphicon glyphicon-triangle-top"></i>
                      <i v-show="new Date(JSON.parse(scope.row.data).date).getTime() < new Date(formDateTo?formDateTo:scope.row.order.date_to).getTime()" class="glyphicon glyphicon-triangle-bottom"></i>
                    </b>
                  </span>
                </template>
              </el-table-column>
              <el-table-column label="Стоимость">
                <template scope="scope">
                  <span v-if="scope.row.data == null">
                    {{ scope.row.order.paytoauthor }}
                  </span>
                  <span v-else>
                    <b :class="{
                      'moreThan': JSON.parse(scope.row.data).price > formAuthorPay,
                      'lessThan': JSON.parse(scope.row.data).price < formAuthorPay}">
                      {{ JSON.parse(scope.row.data).price }}
                      <i v-show="JSON.parse(scope.row.data).price > formAuthorPay" class="glyphicon glyphicon-triangle-top"></i>
                      <i v-show="JSON.parse(scope.row.data).price < formAuthorPay" class="glyphicon glyphicon-triangle-bottom"></i>
                    </b>
                  </span>
                </template>
              </el-table-column>
              <el-table-column><template scope="scope"><div><a @dblclick="setAuthor(scope.row.user.id, scope.row.data);" class="btn btn-info btn-sm">Назначить</a></div></template></el-table-column>
            </el-table>
          </div>
          <div class="clearfix"></div>
        </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-6" style="padding-left: 0;">
        <div class="well well-sm">
          <form class="form" method="post" id="params1" v-model="formInfo">
          <div class="manager-order" v-if="order">
            <h3>Основная информация</h3>
              <div class="form-group col-xs-12" v-if="wt">
                <label for="type" class="control-label">Вид работы </label>
                <el-select v-model="formWorkType" placeholder="Выберите тип работы" v-if="order.order_type">
                  <template v-for="w in wt">
                    <el-option :label="w.name" :value="w.id" v-if="w.id == order.order_type.id" selected="selected"></el-option>
                    <el-option :label="w.name" :value="w.id" v-else></el-option>
                  </template>
                </el-select>
              </div>

              <div class="form-group col-xs-12" @dblclick="disciplinesLibrary = true; fetchDisciplines();">
                <label for="discipline">Дисциплина </label>
                <input type="text" v-model="formDiscipline" class="form-control" :value="order.order_discipline" placeholder="Выберите дисциплину">
              </div>

              <div class="form-group col-xs-12">
                <label for="pbdate" class="control-label">Выполнить до</label>
                <el-date-picker v-model="formDateTo" format="dd.MM.yyyy" type="date" :placeholder="this.dateTo?moment(this.dateTo).format('DD.MM.YYYY'):''"></el-date-picker>
              </div>

              <div class="form-group col-xs-12">
                <label for="theme" class="control-label">Тема </label>
                <input type="text" class="form-control" v-model="formTheme" :value="order.order_theme" placeholder="Введите тему">
              </div>
              <div class="form-group col-xs-12" @dblclick="hsLibrary = true; fetchHs();">
                <label for="vuz" class="control-label">ВУЗ (ССУЗ) </label>
                <input type="text" class="form-control" v-model="formHighschool" :value="order.order_highschool" placeholder="Выберите ВУЗ (ССУЗ)">
              </div>

              <div class="form-group col-xs-12">
                <label for="speciality" class="control-label">Специальность </label>
                <input type="text" class="form-control" v-model="formSpeciality" :value="order.order_speciality" placeholder="Введите специальность">
              </div>

              <div class="form-group col-xs-12">
                <label for="comments" class="control-label">Примечания </label>
                <textarea class="form-control" v-model="formComments" :value="order.comments" placeholder="Примечания" type="textarea"></textarea>
              </div>
            <div class="clearfix"></div>
          </div>
          </form>
        </div>

        <div class="well well-sm">
          <div class="manager-order-config">
            <h3>Чат</h3>
            <el-tabs v-model="chatTab">
              <el-tab-pane label="Клиент" name="client">
                <div class="col-xs-3 chat-info" @click="showUserInfo = true;" style="padding-left: 0;">
                    <div class="col-xs-3" style="padding-left: 0; margin-bottom: 5px;">
                      <img src="/images/manager/client-r.svg" alt="" />
                    </div>
                    <div class="col-xs-9" style="padding-left: 0; margin-bottom: 5px;">
                      {{ (clientCredentials.name != undefined)?clientCredentials.name:'не указано' }}
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-xs-3" style="padding-left: 0;">
                      <img src="/images/manager/phone-b.svg" alt="" />
                    </div>
                    <div class="col-xs-9" style="padding-left: 0;">
                      {{ clientCredentials?clientCredentials.phone:'не указано' }}
                    </div>
                </div>
                <div class="col-xs-9 chat-area">
                  <div class="chat-field well well-sm">
                    <div class="chat-messages">
                      <div class="messages-all">
                        <span style="text-align:center; display:block;" v-if="chat == null">Сообщений нет</span>

                        <div v-if="chat != null" v-for="msg in chat">
                          <div class="message" v-if="msg.message != null" :class="{'mine': msg.from.id == me.id, 'his': msg.from.id != me.id}">
                            <div class="col-xs-4">
                              <span>{{ msg.createdAt | moment("DD.MM.YYYY HH:mm") }}</span>
                              <br />
                              <b v-if="msg.from.id != me.id">{{ msg.from.name }} (клиент)</b>
                              <b v-else>Вы</b>
                            </div>
                            <div class="col-xs-8">
                              {{ msg.message }}
                            </div>
                            <div class="clearfix"></div>
                          </div>

                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group chat-input">
                  <textarea class="form-control" placeholder="Ваше сообщение" name="msgToClient" rows="4" cols="40" v-model="messageToClient" @keyup.stop.prevent.ctrl.enter="sendMessage(order.user.id);"></textarea>
                  <button class="btn btn-info" @click.stop.prevent="sendMessage();" id="chatSend" type="button">Отправить</button>
                </div>
              </el-tab-pane>
              <el-tab-pane v-if="orderAuthor != null" label="Автор" name="author">
                <div class="col-xs-3 chat-info" @click="showUserInfo = true;" style="padding-left: 0;">
                    <div class="col-xs-3" style="padding-left: 0; margin-bottom: 5px;">
                      <img src="/images/manager/client-r.svg" alt="" />
                    </div>
                    <div class="col-xs-9" style="padding-left: 0; margin-bottom: 5px;">
                      {{ orderAuthor?orderAuthor.name:'не указано' }}
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-xs-3" style="padding-left: 0;">
                      <img src="/images/manager/phone-b.svg" alt="" />
                    </div>
                    <div class="col-xs-9" style="padding-left: 0;">
                      {{ orderAuthor?orderAuthor.phone:'не указано' }}
                    </div>
                </div>
                <div class="col-xs-9 chat-area">
                  <div class="chat-field well well-sm">
                    <div class="chat-messages">
                      <div class="messages-all">
                        <span style="text-align:center; display:block;" v-if="authorChat == null">Сообщений нет</span>

                        <div v-if="chat != null" v-for="msg in authorChat">
                          <div class="message" v-if="msg.message != null" :class="{'mine': msg.from.id == me.id, 'his': msg.from.id != me.id}">
                            <div class="col-xs-4">
                              <span>{{ msg.createdAt | moment("DD.MM.YYYY HH:mm") }}</span>
                              <br />
                              <b v-if="msg.from.id != me.id">{{ msg.from.name }} (клиент)</b>
                              <b v-else>Вы</b>
                            </div>
                            <div class="col-xs-8">
                              {{ msg.message }}
                            </div>
                            <div class="clearfix"></div>
                          </div>

                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group chat-input">
                  <textarea class="form-control" placeholder="Ваше сообщение" name="msgToClient" rows="4" cols="40" v-model="messageToClient" @keyup.stop.prevent.ctrl.enter="sendMessage(order.user.id);"></textarea>
                  <button class="btn btn-info" @click.stop.prevent="sendMessage();" id="chatSend" type="button">Отправить</button>
                </div>
              </el-tab-pane>
            </el-tabs>
            <div class="clearfix"></div>
          </div>
        </div>

        </div>

        <div class="well well-sm col-xs-6" v-if="order.manager_status != 5">
        <div class="manager-order-config">
          <h3>Области знаний и авторы</h3>
          <div class="col-xs-6">
            <a class="btn btn-danger" @click="knowledgeListVisible = true; fetchKl();">Добавить область знаний</a>
            <ul v-if="knowledgeList" v-for="kl in knowledgeList">
              <li>{{ kl.name }}</li>
            </ul>
          </div>
          <div class="col-xs-6" v-if="orderAuthor == null">
            <a class="btn btn-danger" @click="authorListVisible = true; fetchAuthors();">Добавить автора</a>
            <ul v-if="selectedAuthors" v-for="author in selectedAuthors">
              <li>{{ author.name }}</li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        </div>

        <form class="form" id="params2" method="post" v-model="formParams">
        <div class="well well-sm col-xs-6">
        <div class="manager-order-config">
          <h3>Стоимость услуг</h3>
          <a @click="calcDialogVisible = true; fetchPrices();" v-if="formDiscipline" id="calc-manager"><el-button class="btn btn-info" style="width:220px;">Калькулятор</el-button></a>
          <div class="clearfix"></div>
          <div class="form-group col-xs-2">
            <label for="price" class="control-label">Полная</label>
            <input type="text" id="price" name="price" v-model="formPrice" @keyup="updatePrices();" class="form-control" :value="order.price" data-toggle="tooltip" data-placement="bottom" title="Полная стоимость заказа">
          </div>
          <div class="form-group col-xs-2">
            <label for="price" class="control-label">Оплачено</label>
            <input type="text" id="price" name="price" v-model="formPaid" disabled class="form-control" :value="order.paid" data-toggle="tooltip" data-placement="bottom" title="Оплачено клиентом">
          </div>
          <div class="form-group col-xs-2">
            <label for="discount" class="control-label">Скидка\надбавка</label>
            <input type="text" id="discount" name="discount" v-model="formDiscount" @keyup="updatePrices();" class="form-control" :value="order.discount" data-toggle="tooltip" data-placement="bottom" title="Без знака %">
          </div>
          <div class="form-group col-xs-2">
            <label for="topay" class="control-label">К оплате</label>
            <input type="text" id="topay" name="" class="form-control" v-model="formToPay">
          </div>
          <div class="form-group col-xs-2">
            <label for="paytomanager" class="control-label">Менеджеру</label>
            <input type="text" id="paytomanager" name="paytomanager" v-model="formManagerPay" class="form-control">
          </div>
          <div class="form-group col-xs-2">
            <label for="paytoauthor" class="control-label">Автору</label>
            <input type="text" id="paytoauthor" name="paytoauthor" v-model="formAuthorPay" class="form-control">
          </div>
          <div class="clearfix"></div>
        </div>
        <input type="hidden" name="order" id="order" :value="order.id">
        </div>
        </form>

        <div class="well well-sm col-xs-6">
        <div class="manager-order-config">
          <h3>Управление файлами</h3>
          <div id="files">
            <el-table :data="filesList" border v-show="!showUploadForm">
              <el-table-column width="25"><template scope="scope"><span style="text-align:center;"><i @dblclick="removeFile(scope.row.id, scope.$index, scope.row);" class="el-icon-close"></i></span></template></el-table-column>
              <el-table-column property="name" label="Файл">
                <template scope="scope">
                  <a :href="'/uploads/' + $route.params.id + '/' + scope.row.path" target="_blank"><b v-if="scope.row.user != me.id">> </b>{{ scope.row.name }}</a>
                </template>
              </el-table-column>
              <el-table-column property="createdAt" sortable label="Загружен">
                <template scope="scope">
                  {{ scope.row.createdAt | moment('DD.MM.YYYY HH:mm') }}
                </template>
              </el-table-column>
              <el-table-column property="access" label="Доступен авторам" v-if="access">
                <template scope="scope">
                  <el-checkbox v-model="access[scope.row.path]" :checked="scope.row.access" @change="switchAccess(access[scope.row.path], scope.row.id);"></el-checkbox>
                </template>
              </el-table-column>
              <el-table-column property="visible" label="Доступен клиенту" v-if="visible">
                <template scope="scope">
                  <el-checkbox v-model="visible[scope.row.path]" :checked="scope.row.visible" @change="switchVisible(visible[scope.row.path], scope.row.id);"></el-checkbox>
                </template>
              </el-table-column>
            </el-table>
            <br />
            <el-button type="primary" v-show="!showUploadForm" @click="showUploadForm = true;">Загрузить <i class="el-icon-plus"></i></el-button>
            <el-button type="warning" v-show="!showUploadForm" :loading="archivingFiles" @click="createArchive($route.params.id);">Скачать одним архивом <i class="el-icon-check"></i></el-button>
            <div v-show="showUploadForm">
              <el-upload
                class="upload"
                drag
                name="uploadFile"
                :data="{ '_csrf':csrfToken, 'order':id }"
                action="/api/upload"
                :file-list="fileList"
                :on-success="function(r, file, fl) { filesList.push(r); }"
              multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Перетяните файлы сюда или <em>нажмите для выбора файлов</em></div>
                <div class="el-upload__tip" slot="tip">Документы и изображения не больше 15Мб</div>
              </el-upload>
              <br />
              <el-button type="warning" @click="showUploadForm = false;">Закрыть</el-button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        </div>

        <div class="clearfix"></div>
    </div>
  </div>-->
  </div>

  <el-dialog title="Список дисциплин" :visible.sync="disciplinesLibrary" size="large">
    <span>Выберите дисциплину из списка или введите название в поле</span>
    <el-form ref="form" :model="disciplinesForm">
      <el-form-item>
        <el-input type="text" icon="search" style="width:300px;" v-model.trim="disciplinesQuery"></el-input>
      </el-form-item>
    </el-form>
    <div class="disciplinesTable">
      <el-table ref="disciplinesTable" :data="filteredDisciplines" border style="width:100%" highlight-current-row @current-change="selectDiscipline">
        <el-table-column property="discipline" label="Дисциплина"></el-table-column>
      </el-table>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="disciplinesLibrary = false">Отмена</el-button>
      <el-button type="primary" @click="disciplinesLibrary = false; formPrice = 0;">Готово</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Список ВУЗов и ССУЗов" :visible.sync="hsLibrary" size="large">
    <span>Выберите ВУЗ (ССУЗ) из списка или введите название в поле</span>
    <el-form ref="form" :model="hsForm">
      <el-form-item>
        <el-input type="text" icon="search" style="width:300px;" v-model.trim="hsQuery"></el-input>
      </el-form-item>
    </el-form>
    <div class="disciplinesTable">
      <el-table ref="hsTable" :data="filteredHs" border style="width:100%" highlight-current-row @current-change="selectHs">
        <el-table-column property="caption" label="Название"></el-table-column>
      </el-table>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="hsLibrary = false">Отмена</el-button>
      <el-button type="primary" @click="hsLibrary = false;">Готово</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Области знаний" :visible.sync="knowledgeListVisible" size="large">
    <span>Выберите области знаний из списка</span>
    <div class="disciplinesTable">
      <el-table ref="hsTable" :data="filteredKl" border style="width:100%" @selection-change="selectKl">
        <el-table-column type="selection"></el-table-column>
        <el-table-column property="name" label="Название"></el-table-column>
      </el-table>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="knowledgeListVisible = false;">Ок</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Авторы" :visible.sync="authorListVisible" size="large">
    <span>Выберите авторов из списка или введите ФИО в поле</span>
    <el-form ref="form" :model="authorForm">
      <el-form-item>
        <el-input type="text" icon="search" style="width:300px;" v-model.trim="authorsQuery"></el-input>
      </el-form-item>
    </el-form>
    <div class="disciplinesTable">
      <el-table ref="hsTable" :data="filteredAuthor" border style="width:100%" @selection-change="selectAuthors">
        <el-table-column type="selection"></el-table-column>
        <el-table-column property="name" label="Автор"></el-table-column>
      </el-table>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="authorListVisible = false;">Ок</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Информация о клиенте" :visible.sync="showUserInfo" size="tiny">
    <span class="col-xs-6">Имя: <b>{{ (clientCredentials.name != undefined)?clientCredentials.name:'-' }}</b></span>
    <span class="col-xs-6">Почта: <b>{{ (clientCredentials.email != undefined)?clientCredentials.email:'-' }}</b></span>
    <span class="col-xs-6">Телефон: <b>{{ (clientCredentials.phone != undefined)?clientCredentials.phone:'-' }}</b></span>
    <span class="col-xs-6">Пол: <b>{{ (clientCredentials.gender != undefined)?clientCredentials.gender:'-' }}</b></span>
    <span class="col-xs-6">Дата рождения: <b>{{ (clientCredentials.birthDate != undefined)?clientCredentials.birthDate:'-' }}</b></span>
    <span class="col-xs-6">ВУЗ\ССУЗ: <b>{{ (clientCredentials.highschool != undefined)?clientCredentials.highschool:'-' }}</b></span>
    <span class="col-xs-6">Специальность: <b>{{ (clientCredentials.speciality != undefined)?clientCredentials.speciality:'-' }}</b></span>
    <span class="col-xs-6">Факультет: <b>{{ (clientCredentials.faculty != undefined)?clientCredentials.faculty:'-' }}</b></span>
    <span class="col-xs-6">Год поступления: <b>{{ (clientCredentials.fielded != undefined)?clientCredentials.fielded:'-' }}</b></span>
    <span class="col-xs-6">Год выпуска: <b>{{ (clientCredentials.graduation != undefined)?clientCredentials.graduation:'-' }}</b></span>
    <span class="col-xs-6">Ключ-токен: <b>{{ (clientCredentials.tokenID != undefined)?clientCredentials.tokenID:'-' }}</b></span>
    <span class="col-xs-6">ID в системе: <b>{{ (clientCredentials.id != undefined)?clientCredentials.id:'-' }}</b></span>
    <span class="col-xs-6">Дата регистрации: <b>{{ (clientCredentials.createdAt != undefined) | moment("DD.MM.YYYY") }}</b></span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="showUserInfo = false;">Закрыть</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Отказ" :visible.sync="rejectDialogVisible" size="tiny">
    <span>Укажите причину отказа или выберите её из справочника</span>
    <el-form ref="form" :model="form">
      <el-form-item>
        <el-input type="textarea" width="100%" v-model.trim="reason"></el-input>
      </el-form-item>
      <el-form-item v-if="formPaid > 0">
        <b>Заказ оплачен на {{formPaid}} руб.</b>
        <br />
        Возврат средств: <el-input :class="{'has-error':refund>formPaid}" type="input" width="100%" v-model.trim="refund"></el-input>
        <br />
        <span style="color:#FF0000;" v-if="refund>formPaid">Сумма возврата не может быть больше суммы оплаты</span>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="info" @click="reasonLibrary = true;">Справочник</el-button>
      <el-button @click="rejectDialogVisible = false">Отмена</el-button>
      <el-button v-if="formPaid < 1" type="danger" @click="rejectDialogVisible = false; declineOrder();">Отказ</el-button>
      <el-button v-if="formPaid > 0 && refund > 0 && refund<=formPaid" type="danger" @click="rejectDialogVisible = false; declineOrder();">Возврат {{refund}} руб.</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Причины отказа" :visible.sync="reasonLibrary" size="tiny">
    <span>Выберите причину отказа</span>
    <el-table ref="reasonTable" :data="reasons" border highlight-current-row @current-change="selectPreReason" style="width:100%">
      <el-table-column property="name" label="Сообщение"></el-table-column>
    </el-table>
    <span slot="footer" class="dialog-footer">
      <el-button @click="reasonLibrary = false;">Отмена</el-button>
      <el-button type="primary" @click="reasonLibrary = false; selectReason();">Сохранить</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Перенести на тендер" :visible.sync="tenderDialogVisible" size="tiny">
    <span>Перенести заказ на тендер?</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="tenderDialogVisible = false">Отмена</el-button>
      <el-button type="primary" @click="tenderDialogVisible = false; saveOrder(); setStatus(1, 3, 1);">На тендер</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Выставить клиенту счёт" :visible.sync="sendPaymentRequest" size="tiny">
    Сумма к оплате: <el-input type="text" v-model="formToPay"></el-input>
    <span slot="footer" class="dialog-footer">
      <el-button @click="sendPaymentRequest = false">Отмена</el-button>
      <el-button type="primary" @click="sendPaymentRequest = false; sendPayment();">Отправить</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Оплачен в офисе или наличными" :visible.sync="insertPaymentVb" size="tiny">
    Оплачено всего: <el-input type="text" v-model="prePaid"></el-input>
    <span slot="footer" class="dialog-footer">
      <el-button @click="insertPaymentVb = false">Отмена</el-button>
      <el-button type="primary" @click="insertPaymentVb = false; savePaymentVb();">Сохранить</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Оплачен в офисе или наличными" :visible.sync="insertPayment" size="tiny">
    Оплачено всего: <el-input type="text" v-model="prePaid"></el-input>
    <span slot="footer" class="dialog-footer">
      <el-button @click="insertPayment = false">Отмена</el-button>
      <el-button type="primary" @click="insertPayment = false; savePayment();">Сохранить</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Передать в другой кабинет" :visible.sync="throwDialogVisible" size="tiny">
    <el-table :data="cabinets" border highlight-current-row @current-change="selectTargetCabinet" ref="cabinetsTable">
      <el-table-column property="id" label="Кабинет"></el-table-column>
      <el-table-column property="phone" label="Телефон"></el-table-column>
      <el-table-column property="comment" label="Примечание"></el-table-column>
    </el-table>
    <span slot="footer" class="dialog-footer">
      <el-button @click="throwDialogVisible = false">Отмена</el-button>
      <el-button type="primary" @click="throwDialogVisible = false; throwToCabinet();">Отправить</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Калькулятор" :visible.sync="calcDialogVisible" size="large">
    <span>Стоимость работ по дисциплине <b v-if="formDiscipline">{{ formDiscipline }}</b></span>
    <br />
    <br />
    <div class="disciplinesTable">
      <el-table ref="calcTable" :data="prices" border style="width:100%">
        <el-table-column property="name" label="Наименование"></el-table-column>
        <el-table-column property="price" label="Стоимость"></el-table-column>
        <el-table-column label="$index" v-if="dev"><template scope="scope">{{ scope.$index }}</template></el-table-column>
        <el-table-column label="Кол-во">
          <template scope="scope">
            <el-input-number v-model="qty[scope.$index]" size="small" :min="0" :max="1000"></el-input-number>
          </template>
        </el-table-column>
        <el-table-column label="Итог" column-key="totalPrice" class-name="totalPriceColumn">
          <template scope="scope">{{ qty[scope.$index] ? qty[scope.$index] * scope.row.price : '' }}</template>
        </el-table-column>
      </el-table>
    </div>
    <span slot="footer" class="dialog-footer">
      <span v-if="totalPrice > 0"><b>Итог: {{ totalPrice }} руб. </b></span>
      <el-button @click="calcDialogVisible = false;">Отмена</el-button>
      <el-button type="primary" @click="calcDialogVisible = false; formPrice = totalPrice;">Готово</el-button>
    </span>
  </el-dialog>
  <audio id="eventAudio"><source src="/sound/notification.ogg" type="audio/ogg"></source><source src="/sound/notification.mp3" type="audio/mpeg"></source><source src="/sound/notification.wav" type="audio/wav"></source></audio>
</div>
</template>

<script>
module.exports = {
  methods: {
    throwNotification(message, type) {
      this.$notify({
        title: 'Уведомление',
        message,
        type,
        duration: 5000
      })
    },
    removeAuthor() {
      this.$http.get("/manager/removeAuthor/" + this.$route.params.id).then(response => {
        this.$notify({
          title: 'Уведомление',
          message: "Автор был снят с заказа",
          duration: 5000,
          type: 'warning'
        });
        this.setStatus(1, 3, 1);
        /*this.fetchSuggestions();
        this.fetchOrdersCount();
        this.$forceUpdate();*/
        this.orderAuthor = null;
        return true;
      });
    },
    setAuthor(user, data) {
      console.log(user);
      console.log(data);
      var app = this;
      this.$http.post('/manager/setAuthor', {
        _csrf: this.csrfToken,
        author: user,
        date: data?data.date:'',
        paytoauthor: data?data.price:'',
        order: this.$route.params.id
      }).then(response => {
        this.$notify({
          title: 'Выбор автора',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
        if (this.formPrice > this.formPaid) {
          console.log("Moving to 4");
          this.setStatus(3, 4, 2);
          this.orderAuthor = user;
          this.suggestions = false;
          /*this.fetchOrdersCount();
          this.fetchOrder();
          this.$forceUpdate();*/
          return true;
        } else {
          console.log("Moving to 5");
          this.setStatus(4, 5, 3);
          this.orderAuthor = user;
          this.suggestions = false;
          /*this.fetchOrdersCount();
          this.fetchOrder();
          this.$forceUpdate();*/
          return true;
        }
      });
    },
    sendMessage(to) {
      var app = this;
      if (this.messageToClient != null) {
        io.socket.post('/api/message', {
          message: this.messageToClient,
          order: this.order.id,
          to,
          _csrf: this.csrfToken
        }, function(a) {
          app.fetchChat();
        });
      }
    },
    savePaymentVb() {
      var app = this;
      this.formPaid = this.prePaid;
      var pre = this.prePaid;
      var price = this.formPrice;
      this.updatePrices();
      this.$http.post('/manager/insertPayment', {
        order: this.order.id,
        paid: this.prePaid,
        _csrf: this.csrfToken
      }).then(response => {

        if (pre == price) {
          app.setStatus(4, 5, 3);
          console.log(pre);
          console.log(price);
          console.log("setting 5");
        } else {
          app.setStatus(3, 4, 2);
          console.log("setting 4");
        }

        this.$notify({
          title: 'Внесение предоплаты',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
      });
    },
    savePayment() {
      this.formPaid = this.prePaid;
      this.updatePrices();
      this.$http.post('/manager/insertPayment', {
        order: this.order.id,
        paid: this.prePaid,
        _csrf: this.csrfToken
      }).then(response => {

        if (this.orderStatus.id != 1) {
          if (this.prePaid == this.formPrice) {
            this.setStatus(4, 5, 3);
            console.log("setting 5");
          } else {
            this.setStatus(3, 4, 2);
            console.log("setting 4");
          }
        } else {
          this.setStatus(1, 3, 1);
        }

        this.$notify({
          title: 'Внесение предоплаты',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
      });
    },
    selectPreReason(val) {
      if (val) {
        this.preReason = val.name;
      }
    },
    selectTargetCabinet(val) {
      this.targetCabinet = val.id;
    },
    throwToCabinet() {
      this.$http.post('/manager/throw', {
        id: this.targetCabinet,
        order: this.$route.params.id,
        _csrf: this.csrfToken
      }).then(response => {
        this.throwDialogVisible = false;
        this.$notify({
          title: 'Передача заказа',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
      });
    },
    fetchAuthors() {
      var klArr = new Array();
      if (this.knowledgeList != null) {
        this.knowledgeList.forEach(function(item) {
          klArr.push(item.id);
        });
      } else {
        klArr = null;
      }
      this.$http.post('/manager/authorsList', {
        kl: klArr,
        _csrf: this.csrfToken
      }).then(response => {
        this.authorsList = response.body;
        this.authorAccess = true;
      });
    },
    fetchCabinets() {
      this.$http.get('/manager/cabinets').then(response => {
        var arr = [];
        response.body.forEach(function(item) {
          arr.push(item);
        });
        this.cabinets = arr;
        this.$forceUpdate();
      });
    },
    selectReason() {
      this.reason = this.preReason;
    },
    createArchive(order) {
      this.archivingFiles = true;
      this.$http.post('/api/createArchive', {
        order,
        '_csrf': this.csrfToken
      }).then(response => {
        this.archivingFiles = false;
        var url = response.body;
        window.open(url, '_self');
        return true;
      });
    },
    removeFile(file, index, row) {
      this.$http.post("/api/removeFile", {
        file,
        '_csrf': this.csrfToken,
        order: this.$route.params.id
      }).then(response => {
        this.filesList[row.type].splice(index, 1);
        this.access.splice(row.id, 1);
        this.visible.splice(row.id, 1);
        return true;
      });
    },
    switchAccess(f, id) {
      this.$http.post("/manager/switchAccess", {
        id,
        '_csrf': this.csrfToken
      }).then(response => {
        return true;
      });
    },
    switchVisible(f, id) {
      this.$http.post("/manager/switchVisible", {
        id,
        '_csrf': this.csrfToken
      }).then(response => {
        return true;
      });
    },
    fetchCSRF() {
      if (!this.csrfToken) {
        this.$http.get("/csrfToken").then(response => {
          this.csrfToken = response.body._csrf;
        });
      }
    },
    selectAuthors(val) {
      this.selectedAuthors = val;
    },
    selectKl(val) {
      if (val) {
        this.authorAccess = true;
        this.knowledgeList = val;
      }
    },
    fetchMe() {
      this.$http.get("/api/me").then(response => {
        this.me = response.body;
      });
    },
    selectDiscipline(val) {
      this.formDiscipline = val.discipline;
      this.order.order_discipline = this.formDiscipline.discipline;
    },
    selectHs(val) {
      this.formHighschool = val.caption;
      this.order.order_highschool = this.formHighschool.caption;
    },
    fetchKl() {
      this.$http.get('/api/knowledge').then(response => {
        this.knowledgesList = response.body;
      });
    },
    fetchFileList() {
      this.$http.get("/manager/fileList/" + this.$route.params.id).then(response => {
        this.filesList[1] = [];
        this.filesList[50] = [];
        this.filesList[100] = [];
        if(response.body.length > 0) {
          response.body.forEach(item => {
            this.filesList[item.type].push(item);
          });
        } else {
          this.filesList = null;
        }
        $.each(response.body, function(elm, v) {
          this.access[v.path] = v.access;
          this.visible[v.path] = v.visible;
        });
      });
    },
    fetchOrdersCount() {
      this.$http.get('/manager/ordersShorted').then(response => {
        if (response.body != null && response.body != undefined) {
          this.ordersCount = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
          response.body.forEach((item) => {
            this.ordersCount[item.manager_status]++;
          });
        }
      });
    },
    createOnExisting() {
      this.$http.post('/manager/createOnExisting', {
        _csrf: this.csrfToken,
        data: this.order
      }).then(response => {
        this.$notify({
          title: "Новый заказ",
          message: 'Новый заказ создан и помещен в раздел "Новые"',
          duration: 5000,
          type: "warning"
        });
      });
    },
    fetchOrder() {
      var app = this;
      io.socket.on('msg', function(data) {
        app.fetchChat();
      });
      this.$http.get('/manager/order/' + this.$route.params.id).then(response => {
        this.order = response.body;
        this.formWorkType = response.body.order_type.id;
        this.formDiscipline = response.body.order_discipline;
        this.formHighschool = response.body.order_highschool;
        this.formSpeciality = response.body.order_speciality;
        this.formTheme = response.body.order_theme;
        this.formComments = response.body.comments;
        this.formPaid = response.body.paid;
        this.formPrice = response.body.price ? response.body.price : 0;
        this.formDiscount = response.body.discount ? response.body.discount : 0;
        this.formToPay = this.formPrice - (this.formPrice * this.formDiscount / 100) - this.formPaid;
        this.formManagerPay = response.body.paytomanager ? response.body.paytomanager : 0;
        this.formAuthorPay = response.body.paytoauthor ? response.body.paytoauthor : 0;
        this.dateTo = response.body.date_to;
        this.orderAuthor = response.body.order_author;
        this.clientCredentials = response.body.user;
        this.managerStatus = response.body.manager_status;
        this.orderStatus = response.body.order_status;
        if (response.body.guess_authors) {
          var selectedAuthors = new Array();
          var app = this;
          var ga = response.body.guess_authors.split(",");
          ga.forEach(function(item) {
            app.$http.get('/manager/fetchAuthor/' + item).then(response => {
              selectedAuthors.push(response.body);
            });
          });
          this.selectedAuthors = selectedAuthors;
        }

        if (response.body.knowledge_list) {
          var knowledgeList = new Array();
          var app = this;
          var kl = response.body.knowledge_list.split(",");
          kl.forEach(function(item) {
            app.$http.get('/manager/fetchKnowledge/' + item).then(response => {
              knowledgeList.push(response.body);
            });
          });
          this.knowledgeList = knowledgeList;
        }

      });
    },
    fetchSuggestions() {
      this.$http.get("/manager/suggestions/" + this.$route.params.id).then(response => {
        this.suggestions = response.body;
      });
    },
    fetchCount() {
      var app = this;
      this.$http.get('/manager/statusList').then(response => {
        this.counts = response.body;
        this.$http.get('/manager/map/' + this.$route.params.id).then(response => {
          if (response.body != '') {
            var json = JSON.parse(response.body);
            if (json.subTypes) {
              var st = json.subTypes;
              st.forEach(function(item, i) {
                var index = item.id;
                app.qty[index] = item.count;
              });
            }
            this.map = json;
          }
        });
      });
    },
    fetchWorkTypes() {
      this.$http.get('/api/wt').then(response => {
        this.wt = response.body;
      });
    },
    fetchDisciplines() {
      if (!this.disciplines) {
        this.$http.get('/api/disciplines').then(response => {
          this.disciplines = response.body;
        });
      }
    },
    fetchHs() {
      if (!this.highschools) {
        this.$http.get('/api/highschools').then(response => {
          this.highschools = response.body;
        });
      }
    },
    fetchChat() {
      var el = this;
      this.$http.get('/api/user').then(user => {
        this.userToken = user.body.user;
      });
      this.$http.get('/csrfToken').then(response => {
        this.$http.post('/api/chats', {
          order: el.$route.params.id,
          _csrf: response.body._csrf
        }).then(response => {
          this.chat = response.body;
          this.$http.post('/api/markRead', {
            order: el.$route.params.id,
            _csrf: this.csrfToken
          }).then(response => {});
          if (this.messageToClient == "") {
            document.getElementById('eventAudio').play();
          }
          this.messageToClient = "";
        });
      });
    },
    setStatus(s, ms, as) {
      this.$http.post('/manager/status', {
        order: this.$route.params.id,
        status: s,
        managerstatus: ms,
        authorstatus: as,
        _csrf: this.csrfToken
      }).then(response => {
        this.$notify({
          title: 'Обновление статуса заказа',
          message: 'Статусы обновлены',
          duration: 5000,
          type: 'info'
        });
        return true;
        /*this.fetchOrdersCount();
        this.fetchOrder();*/
      });
    },
    setClientStatus(s) {
      this.$http.post('/manager/setClientStatus', {
        status: s,
        orderid: this.$route.params.id,
        _csrf: this.csrfToken
      }).then(response => {
        this.orderStatus = s;
      });
    },
    setManagerStatus(s) {
      this.$http.post('/manager/setManagerStatus', {
        status: s,
        orderid: this.$route.params.id,
        _csrf: this.csrfToken
      }).then(response => {
        this.fetchOrdersCount();
        this.fetchOrder();
      });
    },
    setAuthorStatus(s) {
      this.$http.post('/manager/setAuthorStatus', {
        status: s,
        orderid: this.$route.params.id,
        _csrf: this.csrfToken
      }).then(response => {});
    },
    declineOrder() {
      if (this.formPaid > 0) {
        this.$http.get('/manager/return?order=' + this.$route.params.id + '&reason=' + this.reason + '&refund=' + this.refund).then(response => {
          this.fetchOrdersCount();
          this.fetchOrder();
        });
      } else {
        this.$http.get('/manager/decline?order=' + this.$route.params.id + '&reason=' + this.reason).then(response => {
          this.fetchOrdersCount();
          this.fetchOrder();
        });
      }
    },
    fetchPrices() {
      this.$http.get('/api/disciplinePrices/' + this.formDiscipline).then(response => {
        this.prices = response.body;
      });
    },
    updatePrices() {
      var price = this.formPrice;
      var discount = this.formDiscount;
      this.formToPay = price - (price * discount / 100) - this.formPaid;
      this.formManagerPay = Math.round(((price - (price * discount / 100)) * 0.15) * 100) / 100;
      this.formAuthorPay = Math.round(((price - (price * discount / 100)) * 0.4) * 100) / 100;
      return true;
    },
    saveOrder() {
      var sendDate = null;
      if (this.formDateTo == '') {
        sendDate = this.dateTo;
      } else {
        sendDate = this.formDateTo;
      }

      if (this.qty) {
        var map = [];
        this.qty.forEach(function(item, i) {
          map.push('{"id":' + i + ', "count":' + item + '}');
        });
        var mapQuery = '{"subTypes": [' + map + ']}';
      }

      if (this.knowledgeList) {
        var knowledgeListArr = new Array();
        this.knowledgeList.forEach(function(item) {
          knowledgeListArr.push(item.id);
        });
      }

      if (this.selectedAuthors) {
        var selectedAuthorsArr = new Array();
        this.selectedAuthors.forEach(function(item) {
          selectedAuthorsArr.push(item.id);
        });
      }

      this.$http.post('/manager/saveOrder', {
        id: this.order.id,
        knowledge_list: knowledgeListArr,
        guess_authors: selectedAuthorsArr,
        map: mapQuery,
        order_theme: this.formTheme,
        order_type: this.formWorkType,
        order_discipline: this.formDiscipline,
        order_highschool: this.formHighschool,
        order_speciality: this.formSpeciality,
        date_to: sendDate,
        comments: this.formComments,
        paytoauthor: this.formAuthorPay,
        paytomanager: this.formManagerPay,
        price: this.formPrice,
        discount: this.formDiscount,
        '_csrf': this.csrfToken
      }).then(response => {
        this.$notify({
          title: 'Сохранение заказа',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
        /*this.fetchOrdersCount();
        this.fetchOrder();*/
      });
    },
    joinGlobal() {
      var app = this;
      io.socket.get('/api/joinGlobalManagers', function() {
        io.socket.on('forceUpdate', function() {
          app.fetchSuggestions();
        });
      });
    }
  },
  watch: {
    qty: function() {
      var total = document.getElementsByClassName("totalPriceColumn");
      this.totalPrice = 0;
      for (var i = 1; i < total.length; i++) {
        if (Number(total[i].innerText) > 0 && total[i].innerText != '') {
          this.totalPrice += Number(total[i].innerText);
        }
      }
    },
    formPrice: 'updatePrices',
    formDiscount: 'updatePrices'
  },
  computed: {
    filteredDisciplines: function() {
      var disciplines = this.disciplines,
        queryString = this.disciplinesQuery.toLowerCase();

      if (!queryString) {
        return disciplines;
      }

      disciplines = disciplines.filter(function(item) {
        if (item.discipline.toLowerCase().indexOf(queryString) !== -1) {
          return item;
        }
      });
      return disciplines;
    },
    filteredAuthor: function() {
      var authors = this.authorsList,
        queryString = this.authorsQuery.toLowerCase();

      if (!queryString) {
        return authors;
      }

      authors = authors.filter(function(item) {
        if (item.name.toLowerCase().indexOf(queryString) !== -1) {
          return item;
        }
      });
      return authors;
    },
    filteredHs: function() {
      var hs = this.highschools,
        queryString = this.hsQuery.toLowerCase();

      if (!queryString) {
        return hs;
      }

      hs = hs.filter(function(item) {
        if (item.caption) {
          if (item.caption.toLowerCase().indexOf(queryString) !== -1) {
            return item;
          }
        }
      });
      return hs;
    },
    filteredKl: function() {
      var knowledges = this.knowledgesList,
        queryString = this.knowledgeListQuery.toLowerCase();

      if (!queryString) {
        return knowledges;
      }

      knowledges = knowledges.filter(function(item) {
        if (item.name.toLowerCase().indexOf(queryString) !== -1) {
          return item;
        }
      });
      return knowledges;
    }
  },
  created() {
    this.fetchCSRF();
    this.fetchMe();
    this.fetchOrdersCount();
    this.fetchOrder();
    this.fetchWorkTypes();
    this.fetchChat();
    this.fetchFileList();
    this.fetchDisciplines();
    this.fetchSuggestions();
    this.joinGlobal();
  },
  data() {
    return {
      id: this.$route.params.id,
      order: null,
      me: null,
      counts: null,
      wt: null,
      chat: null,
      map: null,
      suggestions: null,
      disciplines: null,
      discipline: null,
      prices: null,
      qty: [],
      highschools: null,
      highschool: null,
      hsLibrary: false,
      hsQuery: "",
      totalPrice: 0,
      userToken: null,
      knowledgesList: null,
      knowledgeList: null,
      sendPaymentRequest: false,
      insertPayment: false,
      insertPaymentVb: false,
      knowledgeListQuery: "",
      authorList: null,
      authorsList: null,
      authorsQuery: "",
      selectedAuthors: null,
      isDarked: false,
      authorAccess: false,
      rejectDialogVisible: false,
      tenderDialogVisible: false,
      calcDialogVisible: false,
      knowledgeListVisible: false,
      authorListVisible: false,
      disciplinesLibrary: false,
      paymentDialogVisible: false,
      throwDialogVisible: false,
      rooms: null,
      reasonLibrary: false,
      reason: "",
      preReason: "",
      disciplinesQuery: "",
      targetCabinet: null,
      price: null,
      discount: "0",
      archivingFiles: false,
      showUploadForm: false,
      filesList: [],
      csrfToken: "",
      access: [],
      visible: [],
      dateTo: null,
      formDiscipline: null,
      formWorkType: null,
      formDiscipline: null,
      formHighschool: null,
      formSpeciality: null,
      formDateTo: '',
      formTheme: null,
      formPaid: null,
      prePaid: 0,
      formComments: null,
      formPrice: null,
      formToPay: null,
      formDiscount: null,
      formManagerPay: null,
      formAuthorPay: null,
      orderStatus: null,
      messageToClient: null,
      refund: 0,
      moment: moment,
      orderAuthor: null,
      managerStatus: null,
      clientCredentials: null,
      ordersCount: null,
      showUserInfo: false,
      chatTab: "client",
      authorChat: null,
      filesTab: '1',
      managerStatusName: [0, "Новые", "Рецензия", "На тендере", "Ждем оплату", "В работе", "На доработке", "На проверке", "Архив", "Возврат"],
      reasons: [{
          id: 1,
          name: "Мы не можем выполнить ваш заказ"
        },
        {
          id: 2,
          name: "У нас нет автора"
        },
      ]
    }
  }
}
</script>
