<template lang="html">
  <div class="cabinet-control">
  <div class="container-fluid">
    <h4 class="page-title">Органайзер</h4>
    <div class="block-dark">
    <div class="col-sm-6" style="padding-left:0;">
  		<h3>Новое событие</h3>

        <div class="form-group" style="margin-top:5px; margin-bottom:5px;padding:0;">
          <input class="form-control" placeholder="Название" v-model="event.name">
        </div>

        <div class="form-group" style="margin-top:5px; margin-bottom:5px;padding:0;">
          <textarea class="form-control" placeholder="Описание" v-model="event.description"></textarea>
        </div>

        <div class="form-group" style="margin-top:5px; margin-bottom:5px;padding:0;">
          <input type="date" class="form-control" placeholder="Дата" v-model="event.date">
        </div>

        <button class="btn btn-success" v-on:click="addEvent">Подтвердить</button>
    </div>

    <!-- show the events -->
    <div class="col-sm-6" style="padding-right:0;">
      <div class="list-group">

        <div style="background: #303841;border: 0;" class="list-group-item" v-for="(event, index) in events" :key="event.id">
          <h4 class="list-group-item-heading">
          {{ event.name }}
        </h4>

        <h5>
          {{ event.date | moment("DD.MM.YYYY") }}
        </h5>

        <p style="color: #FFF;padding: 14px 0;" class="list-group-item-text" v-if="event.description">{{ event.description }}</p>
        <button class="btn btn-xs btn-danger" v-on:click="deleteEvent(index, event.id)">Удалить</button>
      </div>

      </div>
    </div>
    <div class="clearfix"></div>
    </div>
  </div>
  </div>
</template>

<script>
module.exports = {
  methods: {
    moment: function() {
      return moment();
    },
    getCurrentDate() {
      var app = this;
      app.currentDate = moment().format("DD.MM.YYYY HH:mm:ss");
      setInterval(function() {
        app.currentDate = moment().format("DD.MM.YYYY HH:mm:ss");
      }, 1000);
    },
    addEvent: function() {
      if (this.event.name) {
        this.$http.get("/csrfToken").then(response => {
          this.$http.post("/manager/organizer/add", {
            name: this.event.name,
            description: this.event.description,
            date: this.event.date,
            _csrf: response.body._csrf
          }).then(response => {
            if (response.body == 1) {
              this.events.unshift(this.event);
              this.event = {
                name: '',
                description: '',
                date: ''
              };
            } else {
              alert("Ошибка");
            }
          });
        })
      } else {
        alert("Ошибка");
      }
    },
    fetchEvents: function() {
      this.$http.get('/manager/organizer/list').then(response => {
        this.events = response.body.reverse();
      });
    },

    deleteEvent: function(index, id) {
      this.$http.get('/csrfToken').then(response => {
        this.$http.post('/manager/organizer/remove', {id, _csrf: response.body._csrf}).then(response => {
          if(response.body == 1) {
            this.events.splice(index, 1);
          }
        });
      });
    }
  },
  created() {
    this.getCurrentDate();
    this.fetchEvents();
  },
  ready: function() {

  },
  data() {
    return {
      currentDate: null,
      order: 1,
      event: {
        name: '',
        description: '',
        date: ''
      },
      events: [],
    }
  }

}
</script>
