<%- partial('partial/header.ejs') %>
  <div class="container content">
    <transition name="animateFlow" enter-active-class="animated fadeIn" leave-active-class="hidden">
      <router-view></router-view>
    </transition>
  </div>
</div>
