<%- partial("partial/header.ejs") %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="manager-order-panel">
        <ul>
          <a href="/manager"><li>Новые <b><%= ordersCount.type1 %></b></li></a>
          <a href="/manager/orders/2"><li>Рецензия <b><%= ordersCount.type2 %></b></li></a>
          <a href="/manager/orders/3"><li>На тендере <b><%= ordersCount.type3 %></b></li></a>
          <a href="/manager/orders/4"><li>Ждем оплату <b><%= ordersCount.type4 %></b></li></a>
          <a href="/manager/orders/5"><li>В работе <b><%= ordersCount.type5 %></b></li></a>
          <a href="/manager/orders/6"><li>На доработке <b><%= ordersCount.type6 %></b></li></a>
          <a href="/manager/orders/7"><li>На проверке <b><%= ordersCount.type7 %></b></li></a>
          <a href="/manager/orders/8"><li>Архив <b><%= ordersCount.type8 %></b></li></a>
          <a href="/manager/orders/9"><li>Возврат <b><%= ordersCount.type9 %></b></li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-condensed manager-table">
        <tr class="first">
          <td><img src="/images/manager/orderTransfered-w.svg" alt="" /></td>
          <td>Дата</td>
          <td>Заказ</td>
          <td>Клиент</td>
          <td>ВУЗ (ССУЗ)</td>
          <td>Дисциплина</td>
          <td>Вид работы</td>
          <td>Выполнить к</td>
          <td>Файлы</td>
        </tr>
      <% if(orders) { %>
        <% _.each(orders, function(order){ %>
          <tr>
            <td></td>
            <td><%= moment(order.createdAt).format('DD.MM.YYYY HH:MM') %></td>
            <td><a href="/manager/order/<%= order.id %>"><%= order.id %></a></td>
            <td><%= order.user.name?order.user.name:'-' %></td>
            <td><%= order.order_highschool?order.order_highschool:'-' %></td>
            <td><%= order.order_discipline?order.order_discipline:'-' %></td>
            <td><%= order.order_type?order.order_type.name:'-' %></td>
            <td><%= order.date_to?order.date_to:'-' %></td>
            <td></td>
          </tr>
        <% }) %>
      <% } else { %>
        На данный момент новых заказов нет!
      <% } %>
      </table>
    </div>
  </div>
</div>
