<%- partial("partial/header.ejs") %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="author-order-panel">
        <ul>
          <a class="col-xs-2" href="/manager"><li>На тендере <b>12</b></li></a>
          <a class="col-xs-2" href="/manager/orders/2"><li>Предзаказ <b>6</b></li></a>
          <a class="col-xs-2" href="/manager/orders/3"><li>В работе <b>7</b></li></a>
          <a class="col-xs-2" href="/manager/orders/4"><li>На доработке <b>4</b></li></a>
          <a class="col-xs-2" href="/manager/orders/5"><li>На проверке <b>6</b></li></a>
          <a class="col-xs-2" href="/manager/orders/6"><li class="last">Архив <b>9</b></li></a>
        </ul>
      </div>
    </div>
    <%- partial("partial/filters.ejs") %>
  </div>
</div>
