<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-12.ejs') %>
<div class="block-white doubled-inner">
  <div class="container process-inner-mg" align="center">
    <div class="row sub">
      <%- partial('partial/processNoText.ejs') %>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
