<%- partial('partial/header.ejs') %>
<div class="block-white doubled-inner">
  <h2>Соглашение о сотрудничестве</h2>
  <div class="container" align="center">
    <div class="row sub">
      <div class="oferta">
        <div class="clearfix"></div>
        <p>
          Частное предприятие «Зачётка» (далее – «Заказчик») с одной стороны и Исполнитель (далее – «Автор») с другой стороны заключили настоящее Соглашение о нижеследующем.
        </p>
        <strong>1. Предмет Соглашения</strong>
        <p>
          1.1 Автор по заданию Заказчика обязуется оказать Заказчику услуги по написанию авторских
          работ, соответствующих требованиям, предъявляемым к научно-исследовательским студенческим
          работам (реферат, курсовая, диплом и др.) и передать их результат Заказчику в установленный срок, а
          Заказчик обязуется принять эти работы и оплатить их.<br />
          1.2 Заказы назначаются Автору индивидуально, согласно дисциплинам, видам и типам работ,
          которые Автор сам для себя определил.<br />
        </p>
        <strong>2. Принцип работы</strong>
        <p>
          2.1 Работа удаленная (фриланс). Общение происходит по телефону и электронной почте.
Авторы никоим образом не контактируют с клиентами Заказчика, контактная информация Авторов
клиентам Заказчика не разглашается. Структура контактов: Автор – Менеджер – Клиент и наоборот.<br />
2.2 Авторы распределяются по областям знаний, сформированным в зависимости от
относящихся к ним дисциплинам.<br />
2.3 Предложение заказов на рассмотрение осуществляется посредством рассылки электронных
писем на указанный Автором электронный адрес. Каждый заказ проходит три стадии, каждая из
которых наступает с момента получения Автором соответствующего вида письма.<br />
2.3.1 Стадия рассмотрения. Письмо с пометкой «на рассмотрение» в теме письма.
Этот вид письма по каждому конкретному заказу получают все Авторы, являющиеся специалистами
в соответствующей дисциплине области знаний. Из ответивших согласием на письмо указанного
вида, Менеджером выбирается один Автор, и заказ переходит в стадию подтверждения.<br />
2.3.2 Стадия подтверждения. Письмо с пометкой «Предварительное уведомление» в теме
письма.
Письмо указанного вида получает Автор, назначенный на выполнение заказа. С момента его
получения заказ не может быть передан другому Автору без согласования с изначально назначенным.
Ожидается поступление денежных средств за выполнение заказа от клиента Заказчика, и далее
наступает стадия исполнения.<br />
2.3.3 Стадия исполнения. Письмо с пометкой «на исполнение» в теме письма.
Автор, получивший письмо указанного вида, должен приступить к выполнению заказа и отправить в
указанный срок выполненную работу в ответном письме на письмо с пометкой «на исполнение».<br />
<b>Обращаем Ваше внимание на следующие важные моменты</b>:<br />
2.3.3.1 Заказ, не оплаченный клиентом, в стадию исполнения не переходит, в связи с чем Автор
получает уведомление об отмене заказа.<br />
2.3.3.2 В случае, если письмо с пометкой «на исполнение» поступает Автору, когда с момента
получения письма с пометкой «Предварительное уведомление» прошло более 2-х рабочих дней, а
срок исполнения остается без изменений, Автор имеет право на продление срока исполнения (если
такая необходимость для Автора присутствует), но – важный момент – в обязательном порядке по
согласованию с Менеджером.<br />
2.3.3.3 До получения письма с пометкой «на исполнение» к выполнению заказа приступать
НЕ СЛЕДУЕТ. В случае если Автор по своему желанию приступает к выполнению заказа до
получения указанного вида письма, заказ Автору оплачен НЕ БУДЕТ.<br />
2.4 Письмо на рассмотрение заключает в себе следующие данные: вид работы, тема, ВУЗ,
дисциплина, срок исполнения, ориентировочная стоимость, задание, информация о наличии плана и
документов по организации, а также другие необходимые сведения. Во вложении к письму находится
задание в виде архива.<br />
2.5 О готовности принять каждый конкретный заказ к исполнению Автору следует заявлять в
ответ на письмо с пометкой «на рассмотрение» путем нажатия кнопки «Ответить», написав
«ВЫПОЛНЮ ЗАКАЗ №» (сохраняя при этом тело письма).
Выбор Автора для выполнения каждого конкретного заказа осуществляется Менеджером в
соответствии с рейтингом Автора (формируется в процессе сотрудничества и зависит от таких
факторов, как выполнение работ в срок, наименьшее количество доработок по выполненным ранее
заказам и многих других).<br />
<b>Обращаем Ваше внимание на следующий важный момент</b>:<br />
2.5.1 Как следует из вышеизложенного, Автор не обязан принимать к исполнению каждый
присланный на рассмотрение заказ.<br />
2.6 Стоимости, как правило, являются наработанными. Заказчик считает, что в состоянии
компетентно определить реальную стоимость работы. Однако, в отдельных случаях стоимость может
быть обсуждаема в зависимости от дополнительных обстоятельств, срока выполнения работы и
прочее. Если Автор считает стоимость поступившего на рассмотрение заказа
заниженной/завышенной, он может сообщить об этом Заказчику, и Заказчик постарается согласовать
изменение стоимости с клиентом. Заявлять о готовности выполнить заказ, но с условием изменения
стоимости, Автору следует в ответ на письмо с пометкой «на рассмотрение», помимо «ВЫПОЛНЮ
ЗАКАЗ №» указать желаемую стоимость за выполнение заказа.<br />
<b>Обращаем Ваше внимание на следующий важный момент</b>:<br />
2.6.1 После получения письма с пометкой «на исполнение», изменение стоимости не является
возможным (даже если «там оказалось больше работы, чем я думал» и т.д.).<br />
2.7 Выполненную работу Автору необходимо отправлять путем нажатия кнопки «Ответить» в
письме «на исполнение», прикрепив к письму файл (текстовый документ, файл САПР, архив,
документ иного формата), являющий собой результат выполнения задания по заказу.<br />
        </p>
        <strong>3. Оформление</strong>
        <p>
          3.1 Выполненная работа должна соответствовать предъявленным Заказчиком требованиям, а
именно:<br />
3.1.1 соответствие содержания работы заданию и общепринятым требованиям, предъявляемым
к определенного вида работам;<br />
3.1.2 соответствие содержания работы методическим рекомендациям;<br />
3.1.3 соответствие оформления работы методическим рекомендациям (в случае отсутствия
таковых – ГОСТу, Правилам оформления работ Заказчика или требованиям, указанным в задании);<br />
3.1.4 грамотность работы (с точки зрения используемых формул для расчетов, теоретической
базы, соответствие излагаемого материала заданию), а также актуальность, как непосредственно
текста работы, так и списка использованных источников;<br />
3.1.5 отсутствие в работе орфографических, синтаксических и пунктуационных ошибок;<br />
3.1.6 аккуратный и читаемый вид работы (работа должна быть оформлена с использованием
текстового редактора Microsoft Office Word либо в иной указанной программе; написанные от руки и
сканированные решения не принимаются Заказчиком);<br />
3.1.7 выполненная работа выдается в виде файла (текстового документа, файла САПР, архива,
документа иного формата), названного номером заказа (например, «1510-266»);<br />
3.1.8 если, в соответствии с заданием, работа выполняется в программах САПР, помимо самого
файла САПР необходимо отправлять также графический файл решения в формате на выбор: .jpeg,
.jpg, .gif, .pdf;<br />
3.1.9 рисунки, чертежи и другие виды работ, выполненные от руки, доставляются Автором в
офис Заказчика или отправляются заказным письмом по почте. Все расходы по доставке и
ответственность за срок доставки несет Автор.<br />
<b>Обращаем Ваше внимание на следующий важный момент</b>:<br />
В случае не предоставления клиентом требований по оформлению Автору рекомендуется
самостоятельно найти таковые на сайте учебного заведения, в который выполненная работа будет
сдаваться на проверку клиентом, или же ориентироваться на Общие правила оформления Заказчика.<br />
        </p>
        <strong>4. Оригинальность</strong>
        <p>
          4.1 В случае, если клиентом не указывается определенная программа или Интернет-сервис,
посредством которых должна быть осуществлена проверка работы на оригинальность текста,
Заказчиком и Автором используется программа «Etxt Антиплагиат».<br />
4.2 Выполненная работа должна проходить проверку на уровень оригинальности текста,
который должен составлять не менее 40% – всегда; не менее 70% – в случаях, если клиент указал,
что работа будет проходить проверку на оригинальность.<br />
4.3 В случае, если в задании по заказу указан определенный уровень оригинальности, которого
требовалось достичь, Автор отправляет вместе с выполненной работой скриншот результата или
полную версию отчета о проверке текста на оригинальность.<br />
        </p>
        <strong>5. Доработки</strong>
        <p>
          5.1 Автор выполняет доработку выполненной им работы (внесение необходимых исправлений
согласно указанным замечаниям Заказчика) бесплатно в течение 2-х суток с момента получения
рецензии, если замечания не выходят за рамки тематического задания и плана (иными словами – если
замечания в рецензии являются следствием ошибки Автора).<br />
5.2 Все изменения, вытекающие из ранее не заявленных Заказчиком требований, вносятся в
работу на платной основе.<br />
5.2.1 Выполнение доработки работы на платной основе оформляется отдельным заказом,
который последовательно проходит те же стадии, которые проходит новый заказ, за исключением
стадии рассмотрения (п. 2.3.2, 2.3.3 Соглашения).<br />
<b>Обращаем Ваше внимание на следующий важный момент</b>:<br />
Все изложенные в указанных пунктах условия распространяются на данный вид работы.<br />
5.2.2 Доработка (в части пояснительной записки) выполняется в самом текстовом документе с
выполненной работой. Все дополнения/изменения Автор выделяет в тексте работы маркером любого
цвета. Файл с доработанной работой называется номером заказа с указанием даты выполнения
доработки (например, «1510-266 доработка 23.12.2015.docx»).<br />
5.2.3 Доработка (графической части работы) выполняется в исходном варианте результата
выполнения графической части или же полностью выполняется заново в зависимости от специфики
замечаний и указаний преподавателя и актуальности выбора того или иного варианта в каждом
конкретном случае.<br />
5.2.4 Стоимость и срок выполнения платной доработки, а также иные условия (при
необходимости), определяется Автором по согласованию с Менеджером.<br />
5.3 В случае, если замечания в рецензии являются следствием не выполнения Автором условия
по обязательному доскональному изучению задания (п. 8.2.4 Соглашения), Автор обязуется за свой
счет устранить замечания Заказчика по выполненному материалу в срок, согласованный с
Заказчиком.<br />
        </p>
        <strong>6. Способы оплаты</strong>
        <p>
          6.1 Оплата осуществляется по заказам, с момента выполнения которых прошло 30 календарных
дней. Для этого Автор с 1 по 10 число месяца, отправляет на электронный адрес
za4etkaoplata@list.ru письмо с перечнем заказов, с момента выполнения которых прошло 30
календарных дней. Информация в перечне представляется по следующей схеме: номер заказа,
стоимость, срок исполнения. Выплаты по заказам осуществляются с 10 по 15 число каждого месяца.
(Например, с 10 по 15 июля Автор получает оплату за заказы, выполненные до 10 июня
включительно).<br />
6.2 Оплата заказов производится одним из возможных способов, согласованным с Автором:<br />
- Перевод на банковскую карту ОАО «АСБ «Беларусбанк»;<br />
- EasyPay;<br />
- Webmoney (WMB);<br />
- Р/счет ИП.
        </p>
        <strong>7. Штрафные санкции</strong>
        <p>
          7.1 Заказчиком определена нижеизложенная система штрафов, которая предназначена для
защиты от недобросовестных Авторов.

Уважаемые Авторы, помните, что репутация Заказчика – превыше всего. Наш опыт
показывает, что причиной прекращения сотрудничества с нами по инициативе клиента, в
большинстве случаев, является ненадлежащее качество выполненных заказов. В то же время
практика показывает, что каждый удовлетворенный клиент в течение года обеспечивает нас вместе со
своими друзьями и знакомыми в среднем десятью заказами. Потеря даже одного клиента – это
немалые расходы и удар по репутации Заказчика.
        </p>
        <strong>8. Права и обязанности сторон</strong>
        <p>
          8.1 Автор вправе:<br />
8.1.1 вносить свои предложения и рекомендации по работе Заказчика;<br />
8.1.2 получать всю необходимую информацию о выплатах;<br />
8.1.3 прекратить сотрудничество с Заказчиком, если в данный момент у Автора нет работ на
выполнении, а выполненные работы прошли проверку преподавателем;<br />
8.1.4 выполнять работу по своему усмотрению, используя все доступные ему способы, средства
и источники;<br />
8.1.5 запрашивать у Менеджера всю необходимую информацию, касающуюся выполнения
работы;<br />
8.1.6 отказаться от выполнения работы до получения письма с пометкой «Предварительное
уведомление»;<br />
8.1.7 досрочно сдавать результаты работы Заказчику;<br />
8.1.8 в случае осознания в процессе выполнения работы (доработки) явной невозможности
сдачи работы (доработки) в срок (не позднее 11:00 установленного дня) поступить следующим
образом:<br />
8.1.8.1 если необходимо согласовать продление срока исполнения заказа до 19:00
установленного дня, Автор отправляет письмо с просьбой продлить время сдачи заказы до указанного
времени на письмо с пометкой «на исполнение»;<br />
8.1.8.2 если необходимо согласовать продление срока исполнения заказа более чем до 19:00
установленного дня, Автор незамедлительно связывается с Менеджером Заказчика (по электронной
почте или по телефону), и решается вопрос о возможности согласования нового срока.<br />
<b>Обращаем Ваше внимание на следующие важные моменты:</b><br />
Указанные выше ситуации могут являться разовыми исключениями, спровоцированными
непредвиденными обстоятельствами, но никак не регулярными. Автор должен уметь самостоятельно
организовывать свое рабочее время. В случае неоднократного возникновения такого рода ситуаций,
будет решаться вопрос о безусловном применении штрафных санкций и в дальнейшем о
прекращении сотрудничества.<br />
8.2 Автор обязан:<br />
8.2.1 достоверно предоставить информацию о себе и о дисциплинах, в выполнении работ по
которым Автор достаточно компетентен, а также о количестве работ, которые Автор способен
принять на исполнение;<br />
8.2.2 обеспечивать Заказчику возможность связаться с Автором по телефону или электронной
почте;<br />
8.2.3 информировать Менеджера Заказчика о невозможности выполнять работы в течение
какого-то времени (например, отпуск) либо о прекращении сотрудничества;<br />
8.2.4 в обязательном порядке досконально изучить задание по заказу, о согласии выполнить
который Автор заявил.<br />
8.2.4.1 в случае необходимости запросить у Менеджера Заказчика информацию, способную
оказать влияние на готовность/неготовность Автора выполнить заказ, до момента наступления стадии
подтверждения (п. 2.3.2 Соглашения), т.е. до того, как Автор дал ответ о готовности принять заказ к
исполнению (п. 2.5 Соглашения). Информацию Автор запрашивает, отправив письмо в ответ на
письмо с пометкой «на рассмотрение»;<br />
8.2.4.2 с момента получения письма с пометкой «Предварительное уведомление» и до момента
получения письма с пометкой «на исполнение» полностью изучить задание (проверить читаемость
задания, наличие точного плана, требований по выполнению и оформлению, наличие в открытом
доступе указанных к использованию данных, а также иных составляющих задания) и в случае
необходимости запросить у Менеджера Заказчика всю недостающую информацию, касающуюся
выполнения заказа. Максимальный срок, в течение которого запрос должен быть осуществлен
Автором, наступает спустя сутки с момента получения письма с пометкой «на исполнение».<br />
<b>Обращаем Ваше внимание на следующий важный момент:</b><br />
Своевременное выполнение условий пункта 8.2.2 Соглашения является безусловным условием
взаимного комфорта в процессе сотрудничества. В случае, если Автор запрашивает недостающую
информацию на исходе срока исполнения заказа, Менеджер Заказчика вправе отказать Автору в
получении сведений, поскольку обращение к клиенту будет несвоевременным или же невозможным.<br />
8.2.5 в обязательном порядке давать ответ на письма, предполагающие его наличие (если в
письме задан вопрос или же указана просьба дать ответ).<br />
8.2.6 подготовить план на согласование и (или) перечень необходимых документов в течение
суток с момента получения письма с пометкой «на исполнение», не дожидаясь дополнительного
запроса от Менеджера Заказчика, в случае, если указание на составление вышеуказанного
присутствует в графе «примечание»;<br />
8.2.6.1 в случае присутствия необходимости составления вышеуказанного до получения письма
с пометкой «на исполнение» Менеджер Заказчика осуществляет запрос, связавшись с Автором по
телефону или электронной почте в индивидуальном порядке;<br />
8.2.7 проверить наличие всех необходимых документов в течение суток с момента получения
письма, содержащего предоставленные заказчиком документы, и при необходимости составить
перечень недостающих документов;<br />
8.2.8 выполнять принятые на исполнение работы в соответствии с предъявляемыми
требованиями и сдавать их в срок;<br />
8.2.9 предоставлять промежуточные варианты работы для проверки Заказчиком на стадии
выполнения в сроки, установленные Заказчиком (при необходимости);<br />
8.2.10 бесплатно подготовить презентацию, раздаточный материал, плакаты, доклад-сообщение
или демонстрационный материал иного вида к выполненной Автором дипломной работе в случае
присутствия необходимости разработки вышеуказанного до или после выполнения дипломной
работы. Срок выполнения определяется Автором по согласованию с Менеджером Заказчика;<br />
8.2.11 информировать Менеджера Заказчика о явной невозможности выполнения задания в
срок, ставшей понятной в ходе выполнения работы;<br />
8.2.12 при возникновении необходимости доработать выполненную работу (т.е. в рецензии
работы написано «на доработку», «не допуск», «к защите после доработки», «доработать»);<br />
8.2.13 в случае обоснованных претензий клиентов Заказчика, а также, если работа не пройдет
проверку на оригинальность (которая должен составлять не менее 70%), Автор обязуется за свой счет
устранить замечания Заказчика по выполненному материалу в срок, согласованный с Заказчиком.<br />
8.3 Заказчик вправе:<br />
8.3.1 проверять выполняемую Автором работу на любой ее стадии;<br />
8.3.2 отказаться от Соглашения и потребовать возмещение убытков, если Автор не приступает
своевременно к выполнению заказа или оказывает услуги настолько медленно, что окончание их к
сроку становится явно невозможным;<br />
8.3.3 отказаться от Соглашения либо поручить исправление оказанных услуг другому лицу за
счет Автора, а также потребовать возмещения убытков, если во время оказания услуг станет
очевидным, что они не будут оказаны надлежащим образом, а в назначенный ранее Автору срок для
устранения недостатков он их не устранил;<br />
8.3.4 прекратить сотрудничество с Автором в одностороннем порядке;<br />
8.3.5 запрашивать от Автора необходимые для сотрудничества документы;<br />
8.3.6 проверять работы Автора на соответствие их текста необходимому уровню
оригинальности при помощи соответствующей программы, указанной клиентом Заказчика;<br />
8.3.7 формировать рейтинг Авторов;<br />
8.3.8 применять штрафные санкции и премиальные поощрения в отношении Авторов в случае
необходимости;<br />
8.3.9 самостоятельно устанавливать размер премий/штрафов.<br />
8.4 Заказчик обязан:<br />
8.4.1 оплачивать работы Авторов в соответствии с оговоренной ценой и сроками;<br />
8.4.2 соблюдать конфиденциальность в отношении предоставляемой информации Авторами;<br />
8.4.3 предоставлять необходимую информацию Авторам для понимания задания.
        </p>
        <strong>9. Ответственность</strong>
        <p>
          9.1 Соглашаясь выполнить заказ, Автор несет ответственность за качественное и
своевременное его выполнение вне зависимости от специфических условий задания (более короткий
срок исполнения в сравнении со стандартным, более высокий уровень оригинальности в сравнении с
наиболее часто встречающимся и прочих).
! Обращаем Ваше внимание на следующие важные моменты:
Даже если Автору предлагается рассмотреть возможность выполнения заказа в
индивидуальном порядке, Автор имеет право отказаться. Если же Автор дает согласие на выполнение
заказа, «Вы меня заставили выполнить заказ», «Я думал, я не могу отказаться», «Что Вы думали, я за
ночь напишу качественный диплом?» и т.п. в качестве оправдания Заказчиком не принимаются и на
снижение меры ответственности влияние не оказывают. Автор должен уметь объективно оценить
свои возможности и ранее сделанные наработки по конкретной теме и давать объективный ответ о
возможности качественного и своевременного выполнения заказа.<br />
9.2 В случае некачественного оказания услуг, в том числе, если Автором не соблюдены
требования задания или требования ГОСТов, Заказчик имеет право не оплачивать некачественно
оказанные услуги, либо уменьшить их стоимость.<br />
9.3 Заказчик вправе устанавливать и изменять меры ответственности для Авторов.
        </p>
        <strong>10. Конфиденциальность</strong>
        <p>
          10.1 Стороны обязуются хранить в тайне любую информацию и данные, предоставленные
каждой из сторон в связи с настоящим Соглашением. Конфиденциальной считается любая
информация об отношениях и деятельности сторон по настоящему Соглашению.<br />
10.2 Передача конфиденциальной информации третьим лицам, опубликование или иное
разглашение такой информации могут осуществляться только с письменного согласия другой
стороны независимо от причины прекращения действия настоящего Соглашения.<br />
10.3 Ограничения относительно разглашения информации не относятся к общедоступной
информации или информации, ставшей общеизвестной не по вине сторон, а также к информации,
ставшей известной из иных источников.
        </p>
        <strong>11. Срок действия Соглашения</strong>
        <p>
          11.1 Данное Соглашение вступает в силу с момента активации Автора и действует на
протяжении всего сотрудничества – неопределенный срок, а в части исполнения обязательств по
настоящему Соглашению – до полного их исполнения.<br />
11.2 Изменение и досрочное расторжение данного Соглашения возможно по соглашению
сторон.
        </p>
        <strong>12. Дополнительно</strong>
        <p>
          <u>Заказчик</u><br /><br />
Республика Беларусь,<br />
г. Гомель, ул. Советская, д.60, офис 6-6 (6-й этаж)<br />
г. Минск, ул. Раковская, д.18, офис 2-16<br />
г. Могилев, ул. Ленинская, д. 29, офис 3-29<br />
<br />
Контактные данные:<br />
Т/ф +375 232 20-70-66<br />
Velcom +375 29 636-83-61<br />
МТС +375 29 535-83-61<br />
Life +375 25 535-83-61<br />
Сайт: http://za4etka.by/<br />
E-mail: za4etkaoplata@list.ru (для вопросов по оплате)<br />
E-mail: za4etkaavtor@list.ru (для вопросов по сотрудничеству)<br />
E-mail: avtor@za4etka.info (для взаимодействия с Менеджером ЧУП «Зачётка»)<br />
E-mail: texnic@za4etka.info (для взаимодействия с Менеджером ЧУП «Зачётка»)<br />
E-mail: econom@za4etka.info (для взаимодействия с Менеджером ЧУП «Зачётка»)<br />
<br />
С Вами работают менеджеры:<br />
avtor@za4etka.info – Лариса, Любовь;<br />
econom@za4etka.info – Диана, Елена.<br />
texnic@za4etka.info – Ольга, Татьяна<br /><br />
<strong>Будем рады с Вами сотрудничать!</strong>
        </p>
        <a href="/files/soglashenie.pdf" class="btn btn-z4-default" download>Скачать документ</a>
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
