<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-7.ejs') %>
<div class="block-white doubled-inner blog">
  <div class="container" align="center">
    <div class="row sub">

      <% if(news) { %>
        <% _.each(news, function(n) { %>
          <div class="col-xs-12 element">
            <div class="col-xs-12 col-sm-5">
              <div class="photo">
                <img src="/images/news/<%= n.id %>.jpg" alt="" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-7">
              <h3><%= n.title %></h3>
              <div class="params">
                <div class="param">
                  <span class="glyphicon glyphicon-user"></span> <%= n.author %>
                </div>
                <div class="param">
                  <span class="glyphicon glyphicon-calendar"></span> <%- moment(n.createdAt).format('DD.MM.YYYY') %>
                </div>
                <div class="param">
                  <span class="glyphicon glyphicon-eye-open"></span> <%= n.views %>
                </div>
              </div>
              <p class="short">
                <%= n.short %>
              </p>
              <a href="/blog/<%= n.id %>" class="btn btn-z4-default">Читать полностью</a>
            </div>
          </div>
          <div class="clearfix"></div>
        <% }); %>
      <% } else { %>
        <h2>Новостей нет</h2>
      <% } %>

    </div>
  </div>
</div>
<%- partial('partial/form-subscribe.ejs') %>
<%- partial('partial/footer.ejs') %>
