<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-7.ejs') %>
<div class="block-white inner-margin blog">
  <div class="container" align="center">
    <div class="row sub">

      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-5 element">
          <div class="photo">
            <img src="/images/news/<%= news.id %>.jpg" alt="" />
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 element">
          <h3><%= news.title %></h3>
          <div class="params">
            <div class="param">
              <span class="glyphicon glyphicon-user"></span> <%= news.author %>
            </div>
            <div class="param">
              <span class="glyphicon glyphicon-calendar"></span> <%- moment(news.createdAt).format('DD.MM.YYYY') %>
            </div>
            <div class="param">
              <span class="glyphicon glyphicon-eye-open"></span> <%= news.views %>
            </div>
          </div>
          <p class="short">
            <%= news.short %>
          </p>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-12 fulltext">
          <%= news.full %>
        </div>

        <div class="clearfix"></div>

        <%- partial('partial/share.ejs') %>
      </div>

    </div>
  </div>
</div>
<%- partial('partial/form-subscribe.ejs') %>
<%- partial('partial/footer.ejs') %>
