<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-9.ejs') %>
<div class="block-white doubled-inner">
  <div class="container" align="center">
    <div class="row sub">
      <div class="comments">
        <div class="comment">
          <div class="name col-xs-2">
            Анастасия Сокол
          </div>
          <div class="date col-xs-10">
            13 февраля 2017
          </div>
          <div class="clearfix"></div>
          <div class="content">
            <div class="quote1">
              <img src="/images/quote1.svg" alt="" />
            </div>
            <p>
              Оставляю свой отзыв, т.к. очень довольна работой компании "Зачётка" в городе Гомель. Ребята молодцы! Избавили меня от целого ряда проблем, написав мою курсовую работу по ТСП быстро и хорошо. Правда были небольшие недочеты, но они все быстро исправили. Доработка у них бесплатная. Оплачивать, кстати, очень удобно через ЕРИП. Ехать никуда не пришлось, все прислали на e-mail.
            </p>
            <div class="quote2">
              <img src="/images/quote2.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="name col-xs-2">
            Любовь Антоненко
          </div>
          <div class="date col-xs-10">
            11 января 2017
          </div>
          <div class="clearfix"></div>
          <div class="content">
            <div class="quote1">
              <img src="/images/quote1.svg" alt="" />
            </div>
            <p>
              Заказывала в данной организации отчет по преддипломной практике и дипломку!! Спасибо большое, сделали все вовремя. Работа вышла современной и качественной, практически без доработок! Зачётка, буду Вас рекомендовать знакомым и друзьям, а может и сотрудничать в дальнейшем. Благодарю!
            </p>
            <div class="quote2">
              <img src="/images/quote2.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="name col-xs-2">
            Владимир Дебелка
          </div>
          <div class="date col-xs-10">
            8 января 2017
          </div>
          <div class="clearfix"></div>
          <div class="content">
            <div class="quote1">
              <img src="/images/quote1.svg" alt="" />
            </div>
            <p>
              Чтобы заказать в «Зачётке», даже не нужно выходить из дома, вот это сервис (заявку оставил здесь, прикрепил задание в электронном виде, заплатил через мобильный банк, работу прислали на e-mail), пришлось только распечатать и отнести в университет. Курсовую мою по Программированию написали за 5 дней. Спасибо Вам!
            </p>
            <div class="quote2">
              <img src="/images/quote2.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="name col-xs-2">
            Таня Григоренко
          </div>
          <div class="date col-xs-10">
            24 декабря 2016
          </div>
          <div class="clearfix"></div>
          <div class="content">
            <div class="quote1">
              <img src="/images/quote1.svg" alt="" />
            </div>
            <p>
              Хочу сказать, что все очень достойно. Заказывала в подобной компании первый раз, раньше все делала самостоятельно. Пришлось обратиться за помощью в написании курсовой работы и отчета по практике вместе, так как тема была довольно сложная. После заявки перезвонили почти сразу, сказали, что выполнят без проблем и сказали цену, а реквизиты скинули на почту. Всё сдала удачно, спасибо Вам ребята.
            </p>
            <div class="quote2">
              <img src="/images/quote2.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="name col-xs-2">
            Марина Скидан
          </div>
          <div class="date col-xs-10">
            16 декабря 2016
          </div>
          <div class="clearfix"></div>
          <div class="content">
            <div class="quote1">
              <img src="/images/quote1.svg" alt="" />
            </div>
            <p>
              Благодарю «Зачётку» за качественную помощь с курсовой по Педагогике, так быстро написали, что я уже подумала, что плагиат какой-то, а нет. Преподаватель сказала, что у меня лучшая работа в группе, вот что значит писать, как Марина сама, а не заказывать как остальные))) Меня нашла какой-то их менеджер по рекламе и с ее промо-кодом мне еще и скидку сделали. Я очень осталась довольна, буду все советовать вас.
            </p>
            <div class="quote2">
              <img src="/images/quote2.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
