<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-13.ejs') %>
<div class="block-white contacts">
  <div class="container" align="center">
    <div class="row sub">
      <div class="col-lg-3 col-md-3 col-sm-3 element col-xs-12">
        <div class="img">
          <img src="/images/contacts/phon.svg" alt="" />
        </div>
        <h4>Номера телефонов</h4>
        <p>
          <img src="/images/contacts/mts.png" class="operator" alt="" /> +375 29 535-83-61<br />
          <img src="/images/contacts/velcom.png" class="operator" alt="" /> +375 29 636-83-61<br />
          <img src="/images/contacts/life.png" class="operator" alt="" /> +375 25 535-83-61<br />
          <img src="/images/contacts/phone.png" class="operator" alt="" /> +375 23 220-70-66<br />
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 element col-xs-12">
        <div class="img">
          <img src="/images/contacts/list.svg" alt="" />
        </div>
        <h4>Режим работы</h4>
        <p>
          Ежедневно<br />
          с 9.00 до 21.00
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 element col-xs-12">
        <div class="img">
          <img src="/images/contacts/mail.svg" alt="" />
        </div>
        <h4>Почта</h4>
        <p>
          zakaz@za4etka.info
        </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 element col-xs-12">
        <div class="img">
          <img src="/images/contacts/addr.svg" alt="" />
        </div>
        <h4>Адреса</h4>
        <p class="addresses">
          <strong>Гомель</strong>, ул. Советская, д. 60, 6 этаж, оф. 6-6<br />
          <strong>Минск</strong>, ул. Раковская, д. 18, 2 этаж, оф. 2-16<br />
          <strong>Могилев</strong>, ул. Ленинская, д. 29, 3 этаж, оф. 3-29<br />
        </p>
      </div>
    </div>
  </div>

  <div class="maps">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#gomel" aria-controls="home" role="tab" data-toggle="tab">Гомель</a></li>
    <li role="presentation"><a href="#minsk" aria-controls="profile" role="tab" data-toggle="tab">Минск</a></li>
    <li role="presentation"><a href="#mogilev" aria-controls="messages" role="tab" data-toggle="tab">Могилёв</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="gomel">
      <div class="onmap wide">
        <iframe src="https://api-maps.yandex.ru/frame/v1/-/C6ede07W" width="560" height="400" frameborder="0"></iframe>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="minsk">
      <div class="onmap wide">
        <iframe src="https://api-maps.yandex.ru/frame/v1/-/C6edeZ0d" width="560" height="400" frameborder="0"></iframe>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="mogilev">
      <div class="onmap wide">
        <iframe src="https://api-maps.yandex.ru/frame/v1/-/C6edeN~U" width="560" height="400" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  </div>

</div>
<%- partial('partial/footer.ejs') %>
