<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-11.ejs') %>
<div class="block-white doubled-inner">
  <div class="container" align="center">
    <div class="row sub">
      <div class="guarantees">

        <div id="slider-generic-guarantee" class="carousel slide visible-xs" data-interval="false" data-ride="carousel">
          <div class="carousel-inner" role="listbox">

            <div class="guarantee item active">
              <div class="col-xs-12">
                <div class="icon">
                  <img src="/images/advantages/5.svg" alt="" />
                </div>
                <div class="title">
                  Гарантии профессионализма авторов
                </div>
                <div class="content">
                  Наша компания сотрудничает только с профессиональными авторами студенческих работ – преподавателями вузов и научными сотрудниками (аспирантами,кандидатами и докторами наук, профессорами и т.п.). Чтобы стать автором нашей компании, кандидат должен успешно выполнить сложное тестовое задание и пройти испытательный срок
                </div>
              </div>
            </div>
            <div class="guarantee item">
              <div class="col-xs-12">
                <div class="icon">
                  <img src="/images/advantages/3.svg" alt="" />
                </div>
                <div class="title">
                  Гарантии своевременности выполнения
                </div>
                <div class="content">
                  Каждая работа выполняется точно в отведенное клиентом время. При необходимости (к примеру, при переносе даты сдачи/защиты) выполнение может быть ускорено. То, какая часть работы уже написана, клиент может в любой момент узнать в своем личном кабинете или у персонального менеджера
                </div>
              </div>
            </div>
            <div class="guarantee item">
              <div class="col-xs-12">
              <div class="icon">
                <img src="/images/advantages/2.svg" alt="" />
              </div>
              <div class="title">
                Гарантии уникальности работ
              </div>
              <div class="content">
                Все работы проверяются на плагиат для того, чтобы они имели тот процент уникальности, который нужен клиенту. При этом тексты работ уникализируются в соответствии с требованиями заданных заказчиком систем проверки («Антиплагиат», Etxt, text.ru и т.д.)
              </div>
              </div>
            </div>
            <div class="guarantee item">
              <div class="col-xs-12">
              <div class="icon">
                <img src="/images/advantages/6.svg" alt="" />
              </div>
              <div class="title">
                Гарантии конфиденциальности
              </div>
              <div class="content">
                Наша компания ни при каких условиях не передает данные о заказчиках и заказах третьим лицам. Мы неукоснительно следуем Политике конфиденциальности, поэтому любая клиентская информация всегда сохраняется в полной тайне.
              </div>
              </div>
            </div>
            <div class="guarantee item">
              <div class="col-xs-12">
              <div class="icon">
                <img src="/images/advantages/1.svg" alt="" />
              </div>
              <div class="title">
                Гарантии качества работ
              </div>
              <div class="content">
                Каждая выполненная работа сначала проходит многоступенчатую проверку в нашем отделе контроля качества, а затем разбирается независимыми экспертами на предмет соответствия заявленной теме. Если клиенту требуется внести какие-либо дополнения или изменения в работу, то все доработки осуществляются абсолютно бесплатно.
              </div>
              </div>
            </div>
            <div class="guarantee item">
              <div class="col-xs-12">
              <div class="icon">
                <img src="/images/advantages/4.svg" alt="" />
              </div>
              <div class="title">
                Гарантии качества оформления
              </div>
              <div class="content">
                Наши авторы оформляют работы в точном соответствии с ГОСТами и внутренними регламентами вузов. Естественно, согласно установленным стандартам оформляется не только сам текст работы, но и список литературы, а также различные приложения
              </div>
              </div>
            </div>
            <div class="guarantee item">
              <div class="col-xs-12">
              <div class="icon">
                <img src="/images/advantages/1.svg" alt="" />
              </div>
              <div class="title">
                Гарантии качественного сервиса
              </div>
              <div class="content">
                За каждым клиентом закрепляется вежливый и компетентный личный менеджер, который готов ответить на любой вопрос, касающийся выполнения заказа. Кроме того, каждая работа сопровождается вплоть до самой сдачи/защиты, т.е., если возникает такая необходимость, правки и дополнения вносятся в нее совершенно бесплатно.
              </div>
              </div>
            </div>
            <div class="guarantee item">
              <div class="col-xs-12">
              <div class="icon">
                <img src="/images/advantages/1.svg" alt="" />
              </div>
              <div class="title">
                Гарантии возврата средств
              </div>
              <div class="content">
                Если клиента не устроило качество предоставленных услуг, он может потребовать возврата своих денежных средств в течение 30 дней после получения готовой работы на руки. Данную процедуру регламентирует Политика возврата, принятая в нашей компании.
              </div>
              </div>
            </div>

          <a class="left carousel-control" href="#slider-generic-guarantee" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
          </a>
          <a class="right carousel-control" href="#slider-generic-guarantee" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
          </a>
        </div>
      </div>

      <div class="hidden-xs">
        <div class="guarantee col-sm-3">
          <div class="icon">
            <img src="/images/advantages/5.svg" alt="" />
          </div>
          <div class="title">
            Гарантии<br />профессионализма<br />авторов
          </div>
          <div class="content">
            Наша компания сотрудничает только с профессиональными авторами студенческих работ – преподавателями вузов и научными сотрудниками (аспирантами,кандидатами и докторами наук, профессорами и т.п.). Чтобы стать автором нашей компании, кандидат должен успешно выполнить сложное тестовое задание и пройти испытательный срок
          </div>
        </div>
        <div class="guarantee col-sm-3">
          <div class="icon">
            <img src="/images/advantages/3.svg" alt="" />
          </div>
          <div class="title">
            Гарантии<br />своевременности<br />выполнения
          </div>
          <div class="content">
            Каждая работа выполняется точно в отведенное клиентом время. При необходимости (к примеру, при переносе даты сдачи/защиты) выполнение может быть ускорено. То, какая часть работы уже написана, клиент может в любой момент узнать в своем личном кабинете или у персонального менеджера
          </div>
        </div>
        <div class="guarantee col-sm-3">
          <div class="icon">
            <img src="/images/advantages/2.svg" alt="" />
          </div>
          <div class="title">
            Гарантии<br />уникальности<br />работ
          </div>
          <div class="content">
            Все работы проверяются на плагиат для того, чтобы они имели тот процент уникальности, который нужен клиенту. При этом тексты работ уникализируются в соответствии с требованиями заданных заказчиком систем проверки («Антиплагиат», Etxt, text.ru и т.д.)
          </div>
        </div>
        <div class="guarantee col-sm-3">
          <div class="icon">
            <img src="/images/advantages/6.svg" alt="" />
          </div>
          <div class="title">
            Гарантии<br />конфиденциальности<br />данных
          </div>
          <div class="content">
            Наша компания ни при каких условиях не передает данные о заказчиках и заказах третьим лицам. Мы неукоснительно следуем Политике конфиденциальности, поэтому любая клиентская информация всегда сохраняется в полной тайне.
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="guarantee col-sm-3">
          <div class="icon">
            <img src="/images/advantages/1.svg" alt="" />
          </div>
          <div class="title">
            Гарантии<br />качества<br />работ
          </div>
          <div class="content">
            Каждая выполненная работа сначала проходит многоступенчатую проверку в нашем отделе контроля качества, а затем разбирается независимыми экспертами на предмет соответствия заявленной теме. Если клиенту требуется внести какие-либо дополнения или изменения в работу, то все доработки осуществляются абсолютно бесплатно.
          </div>
        </div>
        <div class="guarantee col-sm-3">
          <div class="icon">
            <img src="/images/advantages/4.svg" alt="" />
          </div>
          <div class="title">
            Гарантии<br />качества<br />оформления
          </div>
          <div class="content">
            Наши авторы оформляют работы в точном соответствии с ГОСТами и внутренними регламентами вузов. Естественно, согласно установленным стандартам оформляется не только сам текст работы, но и список литературы, а также различные приложения
          </div>
        </div>
        <div class="guarantee col-sm-3">
          <div class="icon">
            <img src="/images/advantages/1.svg" alt="" />
          </div>
          <div class="title">
            Гарантии<br />качественного<br />сервиса
          </div>
          <div class="content">
            За каждым клиентом закрепляется вежливый и компетентный личный менеджер, который готов ответить на любой вопрос, касающийся выполнения заказа. Кроме того, каждая работа сопровождается вплоть до самой сдачи/защиты, т.е., если возникает такая необходимость, правки и дополнения вносятся в нее совершенно бесплатно.
          </div>
        </div>
        <div class="guarantee col-sm-3">
          <div class="icon">
            <img src="/images/advantages/1.svg" alt="" />
          </div>
          <div class="title">
            Гарантии<br />возврата<br />средств
          </div>
          <div class="content">
            Если клиента не устроило качество предоставленных услуг, он может потребовать возврата своих денежных средств в течение 30 дней после получения готовой работы на руки. Данную процедуру регламентирует Политика возврата, принятая в нашей компании.
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
