<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-15.ejs') %>
<div class="block-white doubled-inner">
  <div class="container" align="center">
    <div class="row">
      <% if(name) { %>
        <h2><%= name %></h2>
      <% } else { %>
        <h2>Ошибка</h2>
      <% } %>
      <div class="col-xs-12 hs-content">
      content
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
