<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-15.ejs') %>
<div class="block-white doubled-inner">
  <div class="container" align="center">
    <div class="row">
      <div class="col-xs-12 hs-content">
        <div class="hs-section">
          <div class="hs-title">
            Брест
          </div>
          <div class="hs-main">
            <% if(data) { %>
            <ul>
              <% _.each(data, function(place) { %>
              <% if(place.parent_id == 'zavedenia_brest') { %>
              <li><a href="uchebnie-zavedenia/<%= place.id %>"><%= place.caption %></a></li>
              <% } %>
              <% }); %>
            </ul>
            <% } else { %>
              Нет данных
            <% } %>
          </div>
        </div>
        <div class="hs-section">
          <div class="hs-title">
            Витебск
          </div>
          <div class="hs-main">
            <% if(data) { %>
            <ul>
              <% _.each(data, function(place) { %>
              <% if(place.parent_id == 'zavedenia_vitebsk') { %>
              <li><a href="uchebnie-zavedenia/<%= place.id %>"><%= place.caption %></a></li>
              <% } %>
              <% }); %>
            </ul>
            <% } else { %>
              Нет данных
            <% } %>
          </div>
        </div>
        <div class="hs-section">
          <div class="hs-title">
            Гомель
          </div>
          <div class="hs-main">
            <% if(data) { %>
            <ul>
              <% _.each(data, function(place) { %>
              <% if(place.parent_id == 'zavedenia_gomel') { %>
              <li><a href="uchebnie-zavedenia/<%= place.id %>"><%= place.caption %></a></li>
              <% } %>
              <% }); %>
            </ul>
            <% } else { %>
              Нет данных
            <% } %>
          </div>
        </div>
        <div class="hs-section">
          <div class="hs-title">
            Гродно
          </div>
          <div class="hs-main">
            <% if(data) { %>
            <ul>
              <% _.each(data, function(place) { %>
              <% if(place.parent_id == 'zavedenia_grodno') { %>
              <li><a href="uchebnie-zavedenia/<%= place.id %>"><%= place.caption %></a></li>
              <% } %>
              <% }); %>
            </ul>
            <% } else { %>
              Нет данных
            <% } %>
          </div>
        </div>
        <div class="hs-section">
          <div class="hs-title">
            Минск
          </div>
          <div class="hs-main">
            <% if(data) { %>
            <ul>
              <% _.each(data, function(place) { %>
              <% if(place.parent_id == 'zavedenia_minsk') { %>
              <li><a href="uchebnie-zavedenia/<%= place.id %>"><%= place.caption %></a></li>
              <% } %>
              <% }); %>
            </ul>
            <% } else { %>
              Нет данных
            <% } %>
          </div>
        </div>
        <div class="hs-section">
          <div class="hs-title">
            Гродно
          </div>
          <div class="hs-main">
            <% if(data) { %>
            <ul>
              <% _.each(data, function(place) { %>
              <% if(place.parent_id == 'zavedenia_grodno') { %>
              <li><a href="uchebnie-zavedenia/<%= place.id %>"><%= place.caption %></a></li>
              <% } %>
              <% }); %>
            </ul>
            <% } else { %>
              Нет данных
            <% } %>
          </div>
        </div>
        <div class="hs-section">
          <div class="hs-title">
            Могилёв
          </div>
          <div class="hs-main">
            <% if(data) { %>
            <ul>
              <% _.each(data, function(place) { %>
              <% if(place.parent_id == 'zavedenia_mogilev') { %>
              <li><a href="uchebnie-zavedenia/<%= place.id %>"><%= place.caption %></a></li>
              <% } %>
              <% }); %>
            </ul>
            <% } else { %>
              Нет данных
            <% } %>
          </div>
        </div>
        <div class="hs-section">
          <div class="hs-title">
            Прочие города
          </div>
          <div class="hs-main">
            <% if(data) { %>
            <ul>
              <% _.each(data, function(place) { %>
              <% if(place.parent_id == 'zavedenia_other') { %>
              <li><a href="uchebnie-zavedenia/<%= place.id %>"><%= place.caption %></a></li>
              <% } %>
              <% }); %>
            </ul>
            <% } else { %>
              Нет данных
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
