<%- partial('partial/header.ejs') %>

  <div class="clearfix"></div>

  <%- partial('partial/banner-1.ejs') %>

    <div class="clearfix"></div>
    <div class="orderStatus"><%= req.flash("orderRequestStatus") %></div>
    <div class="block-white main-advantages">
      <h2 data-animation="fadeInDown" data-animation-delay="200">Почему нужно выбрать нас? Мы знаем формулу успеха</h2>
      <div class="container full elements visible-xs">
        <div class="row">
            <div id="slider-generic1" class="carousel slide" data-interval="false" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="col-xs-12 element">
                    <div class="imgcls">
                      <img src="/images/advantages/5.svg" alt="" />
                    </div>
                    <h4>Профессионализм авторов</h4>
                    <p>
                      Наша компания сотрудничает только с профессиональными авторами студенческих работ – преподавателями вузов и научными сотрудниками
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 element">
                    <div class="imgcls">
                      <img src="/images/advantages/3.svg" alt="" />
                    </div>
                    <h4>Своевременное выполнение</h4>
                    <p>
                      Каждая работа выполняется точно в отведенное клиентом время. При необходимости выполнение может быть ускорено
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 element">
                    <div class="imgcls">
                      <img src="/images/advantages/2.svg" alt="" />
                    </div>
                    <h4>Уникальность работы</h4>
                    <p>
                      Все работы проверяются на плагиат для того, чтобы они имели тот процент уникальности, который нужен клиенту
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 element">
                    <div class="imgcls">
                      <img src="/images/advantages/6.svg" alt="" />
                    </div>
                    <h4>Конфиденциальность</h4>
                    <p>
                      Наша компания ни при каких условиях не передает данные о заказчиках и заказах третьим лицам
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 element">
                    <div class="imgcls">
                      <img src="/images/advantages/1.svg" alt="" />
                    </div>
                    <h4>Качество работ</h4>
                    <p>
                      Каждая выполненная работа проходит многоступенчатую проверку в нашем отделе контроля качества
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 element">
                    <div class="imgcls">
                      <img src="/images/advantages/4.svg" alt="" />
                    </div>
                    <h4>Качество оформления</h4>
                    <p>
                      Наши авторы оформляют работы в точном соответствии с ГОСТами и внутренними регламентами вузов
                    </p>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#slider-generic1" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-menu-left top-40" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
              </a>
              <a class="right carousel-control" href="#slider-generic1" role="button" data-slide="next">
                <span class="glyphicon glyphicon-menu-right top-40" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
              </a>
            </div>
        </div>
      </div>
      <div class="container full elements hidden-xs">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 element main-advantage" data-animation="fadeInUp" data-animation-delay="400">
            <div class="imgcls">
              <img src="/images/advantages/5.svg" alt="" />
            </div>
            <h4>Профессионализм авторов</h4>
            <p>
              Наша компания сотрудничает только с профессиональными авторами студенческих работ – преподавателями вузов и научными сотрудниками
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 element main-advantage" data-animation="fadeInUp" data-animation-delay="600">
            <div class="imgcls">
              <img src="/images/advantages/3.svg" alt="" />
            </div>
            <h4>Своевременное выполнение</h4>
            <p>
              Каждая работа выполняется точно в отведенное клиентом время. При необходимости выполнение может быть ускорено
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 element main-advantage" data-animation="fadeInUp" data-animation-delay="800">
            <div class="imgcls">
              <img src="/images/advantages/2.svg" alt="" />
            </div>
            <h4>Уникальность работы</h4>
            <p>
              Все работы проверяются на плагиат для того, чтобы они имели тот процент уникальности, который нужен клиенту
            </p>
          </div>

          <div class="clearfix"></div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 element main-advantage stop-border" data-animation="fadeInUp" data-animation-delay="400">
            <div class="imgcls">
              <img src="/images/advantages/6.svg" alt="" />
            </div>
            <h4>Конфиденциальность</h4>
            <p>
              Наша компания ни при каких условиях не передает данные о заказчиках и заказах третьим лицам
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 element main-advantage" data-animation="fadeInUp" data-animation-delay="600">
            <div class="imgcls">
              <img src="/images/advantages/1.svg" alt="" />
            </div>
            <h4>Качество работ</h4>
            <p>
              Каждая выполненная работа проходит многоступенчатую проверку в нашем отделе контроля качества
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 element main-advantage" data-animation="fadeInUp" data-animation-delay="800">
            <div class="imgcls">
              <img src="/images/advantages/4.svg" alt="" />
            </div>
            <h4>Качество оформления</h4>
            <p>
              Наши авторы оформляют работы в точном соответствии с ГОСТами и внутренними регламентами вузов
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="block-colored main-prices">
      <h2>Сроки и стоимость работ</h2>
      <div class="container full elements visible-xs" align="center">
        <div class="row">
            <div id="slider-generic2" class="carousel slide" data-interval="false" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="element">
                    <div class="imgcls">
                      <img src="/images/types/1.svg" alt="" />
                    </div>
                    <h4>Дипломная работа</h4>
                    <ul>
                      <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
                      <li><span class="glyphicon glyphicon-credit-card"></span> от 360 р.</li>
                    </ul>
                    <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="1">Заказать</a>
                  </div>
                </div>
                <div class="item">
                    <div class="element d">
                      <div class="imgcls">
                        <img src="/images/types/2.svg" alt="" />
                      </div>
                      <h4>Отчет по практике</h4>
                      <ul>
                        <li><span class="glyphicon glyphicon-calendar"></span> от 2 дней</li>
                        <li><span class="glyphicon glyphicon-credit-card"></span> от 90 р.</li>
                      </ul>
                      <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="2">Заказать</a>
                    </div>
                </div>
                <div class="item">
                  <div class="element">
                    <div class="imgcls">
                      <img src="/images/types/1.svg" alt="" />
                    </div>
                    <h4>Курсовая работа</h4>
                    <ul>
                      <li><span class="glyphicon glyphicon-calendar"></span> от 2 дней</li>
                      <li><span class="glyphicon glyphicon-credit-card"></span> от 55 р.</li>
                    </ul>
                    <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="3">Заказать</a>
                  </div>
                </div>
                <div class="item">
                    <div class="element d">
                      <div class="imgcls">
                        <img src="/images/types/2.svg" alt="" />
                      </div>
                      <h4>Контрольная работа</h4>
                      <ul>
                        <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                        <li><span class="glyphicon glyphicon-credit-card"></span> от 18 р.</li>
                      </ul>
                      <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="4">Заказать</a>
                    </div>
                </div>
                <div class="item">
                  <div class="element">
                    <div class="imgcls">
                      <img src="/images/types/1.svg" alt="" />
                    </div>
                    <h4>Тест</h4>
                    <ul>
                      <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                      <li><span class="glyphicon glyphicon-credit-card"></span> от 20 р.</li>
                    </ul>
                    <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="5">Заказать</a>
                  </div>
                </div>
                <a class="left carousel-control" href="#slider-generic2" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-menu-left slider-types-icn" aria-hidden="true"></span>
                  <span class="sr-only">Предыдущий</span>
                </a>
                <a class="right carousel-control" href="#slider-generic2" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-menu-right slider-types-icn" aria-hidden="true"></span>
                  <span class="sr-only">Следующий</span>
                </a>
              </div>
            </div>
        </div>
      </div>
      <div class="container full elements hidden-xs visible-sm visible-md visible-lg" align="center">
        <div class="row sub">
          <div class="full">
            <div class="col15-lg-3 col15-md-3 col15-sm-3 pre-elem" data-animation="fadeInUp" data-animation-delay="100">
              <div class="element">
                <div class="imgcls">
                  <img src="/images/types/1.svg" alt="" />
                </div>
                <h4>Диплом<span class="hidden-sm">ная работа</span></h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 360 р.</li>
                </ul>
                <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="1">Заказать</a>
              </div>
            </div>
            <div class="col15-lg-3 col15-md-3 col15-sm-3 pre-elem" data-animation="fadeInUp" data-animation-delay="300">
              <div class="element d">
                <div class="imgcls">
                  <img src="/images/types/2.svg" alt="" />
                </div>
                <h4>Отчет<span class="hidden-sm"> по практике</span></h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 2 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 90 р.</li>
                </ul>
                <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="2">Заказать</a>
              </div>
            </div>
            <div class="col15-lg-3 col15-md-3 col15-sm-3 pre-elem" data-animation="fadeInUp" data-animation-delay="500">
              <div class="element">
                <div class="imgcls">
                  <img src="/images/types/3.svg" alt="" />
                </div>
                <h4>Курсовая<span class="hidden-sm"> работа</span></h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 2 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 55 р.</li>
                </ul>
                <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="3">Заказать</a>
              </div>
            </div>
            <div class="col15-lg-3 col15-md-3 col15-sm-3 pre-elem" data-animation="fadeInUp" data-animation-delay="700">
              <div class="element d">
                <div class="imgcls">
                  <img src="/images/types/4.svg" alt="" />
                </div>
                <h4>Контрольная<span class="hidden-sm"> работа</span></h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 18 р.</li>
                </ul>
                <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="4">Заказать</a>
              </div>
            </div>
            <div class="col15-lg-3 col15-md-3 col15-sm-3 pre-elem" data-animation="fadeInUp" data-animation-delay="900">
              <div class="element">
                <div class="imgcls">
                  <img src="/images/types/5.svg" alt="" />
                </div>
                <h4>Тест</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 20 р.</li>
                </ul>
                <a href="<% if(!req.session.user) { %>#small-dialog<% } else { %>#order-dialog-cabinet<% } %>" class="btn btn-z4-default order-main-sm popup-with-zoom-anim" data-order="5">Заказать</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="/uslugi" class="btn-z4-default" id="btn-big" data-animation="fadeInUp" data-animation-delay="800">Все услуги ></a>
    </div>

    <div class="clearfix"></div>

    <div class="block-white doubled steps">
      <h2 data-animation="fadeInDown" data-animation-delay="200">Как мы работаем</h2>
      <div class="container" align="center">
        <div class="row sub">
          <div class="visible-xs hidden-sm">
            <div id="slider-generic3" class="carousel slide" data-interval="false" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/images/steps/1.png" alt="" />
                  <p>
                    1. Вы оформляете заявку
                  </p>
                </div>
                <div class="item">
                  <img src="/images/steps/2.png" alt="" />
                  <p>
                    2. Получаете доступ в личный кабинет и персонального менеджера
                  </p>
                </div>
                <div class="item">
                  <img src="/images/steps/3.png" alt="" />
                  <p>
                    3. Менеджер сообщает стоимость
                  </p>
                </div>
                <div class="item">
                  <img src="/images/steps/4.png" alt="" />
                  <p>
                    4. Вносите предоплату
                  </p>
                </div>
                <div class="item">
                  <img src="/images/steps/5.png" alt="" />
                  <p>
                    5. Специалист выполняет работу
                  </p>
                </div>
                <div class="item">
                  <img src="/images/steps/6.png" alt="" />
                  <p>
                    6. Получаете уведомление о готовности
                  </p>
                </div>
                <div class="item">
                  <img src="/images/steps/7.png" alt="" />
                  <p>
                    7. Скачиваете готовую работу в личном кабинете
                  </p>
                </div>
                <a class="left carousel-control" href="#slider-generic3" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-menu-left top-25" aria-hidden="true"></span>
                  <span class="sr-only">Предыдущий</span>
                </a>
                <a class="right carousel-control" href="#slider-generic3" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-menu-right top-25" aria-hidden="true"></span>
                  <span class="sr-only">Следующий</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12 hidden-xs step" align="center">
            <table data-animation="fadeIn" data-animation-delay="800">
              <tr>
                <td>
                  <img src="/images/steps/1.png" alt="" />
                  <p>
                    1. Вы оформляете заявку
                  </p>
                </td>
                <td class="hidden-md hidden-sm hidden-xs">
                  <img src="/images/steps/arr_dn.png" alt="" />
                </td>
                <td class="dn">
                  <img src="/images/steps/2.png" alt="" />
                  <p>
                    2. Получаете доступ в личный кабинет и персонального менеджера
                  </p>
                </td>
                <td class="hidden-md hidden-sm hidden-xs">
                  <img src="/images/steps/arr_up.png" alt="" />
                </td>
                <td>
                  <img src="/images/steps/3.png" alt="" />
                  <p>
                    3. Менеджер сообщает стоимость
                  </p>
                </td>
                <td class="hidden-md hidden-sm hidden-xs">
                  <img src="/images/steps/arr_dn.png" alt="" />
                </td>
                <td class="dn">
                  <img src="/images/steps/4.png" alt="" />
                  <p>
                    4. Вносите предоплату
                  </p>
                </td>
                <td class="hidden-md hidden-sm hidden-xs">
                  <img src="/images/steps/arr_up.png" alt="" />
                </td>
                <td>
                  <img src="/images/steps/5.png" alt="" />
                  <p>
                    5. Специалист выполняет работу
                  </p>
                </td>
                <td class="hidden-md hidden-sm hidden-xs">
                  <img src="/images/steps/arr_dn.png" alt="" />
                </td>
                <td class="dn">
                  <img src="/images/steps/6.png" alt="" />
                  <p>
                    6. Получаете уведомление о готовности
                  </p>
                </td>
                <td class="hidden-md hidden-sm hidden-xs">
                  <img src="/images/steps/arr_up.png" alt="" />
                </td>
                <td>
                  <img src="/images/steps/7.png" alt="" />
                  <p>
                    7. Скачиваете готовую работу в личном кабинете
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="block-news">
      <div class="container full">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 data-animation="fadeIn" data-animation-delay="200">Новости</h2>
          </div>
          <div class="clearfix"></div>
          <% if(news) { %>
            <% var nc = 0; %>
            <% _.each(news, function(n) { %>
              <% nc++; %>
              <div class="col-lg-3 col-md-3 <% if(nc != 2) { %>col-sm-6 col-xs-12<% } else { %>hidden-sm hidden-xs<% } %> element" data-animation="fadeIn" data-animation-delay="<%= nc*3*100 %>">
                <h3><a href="/blog/<%= n.id %>" class="link-title"><%= n.title %></a></h3>
                <div class="photo <% if(nc == 2) { %>photo-1<% } else { %>photo-2<% } %>"></div>
                <p>
                  <%= n.short.substr(0,150) %>...
                </p>
                <a href="/blog/<%= n.id %>" class="btn btn-z4-default">Подробнее</a>
              </div>
            <% }); %>
          <% } %>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="block-quotes" data-animation="fadeIn" data-animation-delay="900">
              <h2>Отзывы клиентов</h2>
              <div class="content">
                <div id="slider-generic4" class="carousel slide" data-interval="false" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <div class="elem">
                        <div class="photograph">
                          <img src="/images/comments/4.jpg" alt="" />
                        </div>
                        <p>
                          Оставляю свой отзыв, т.к. очень довольна работой компании "Зачётка" в городе Гомель. Ребята молодцы! Избавили меня от целого ряда проблем, написав мою курсовую работу по ТСП быстро и хорошо. Правда были небольшие недочеты, но они все быстро исправили.
                        </p>
                        <div class="name">
                          Анастасия Сокол
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="elem">
                        <div class="photograph">
                          <img src="/images/comments/3.jpg" alt="" />
                        </div>
                        <p>
                          Заказывала в данной организации отчет по преддипломной практике и дипломку!! Спасибо большое, сделали все вовремя. Работа вышла современной и качественной, практически без доработок! Зачётка, буду Вас рекомендовать знакомым и друзьям, а может и сотрудничать в дальнейшем.
                        </p>
                        <div class="name">
                          Любовь Антоненко
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="elem">
                        <div class="photograph">
                          <img src="/images/comments/2.jpg" alt="" />
                        </div>
                        <p>
                          Чтобы заказать в «Зачётке», даже не нужно выходить из дома, вот это сервис (заявку оставил здесь, прикрепил задание в электронном виде, заплатил через мобильный банк, работу прислали на e-mail), пришлось только распечатать и отнести в университет.
                        </p>
                        <div class="name">
                          Владимир Дебелка
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="elem">
                        <div class="photograph">
                          <img src="/images/comments/1.jpg" alt="" />
                        </div>
                        <p>
                          Хочу сказать, что все очень достойно. Заказывала в подобной компании первый раз, раньше все делала самостоятельно. Пришлось обратиться за помощью в написании курсовой работы и отчета по практике вместе, так как тема была довольно сложная.
                        </p>
                        <div class="name">
                          Таня Григоренко
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="elem">
                        <div class="photograph">
                          <img src="/images/comments/5.jpg" alt="" />
                        </div>
                        <p>
                          Благодарю «Зачётку» за качественную помощь с курсовой по Педагогике, так быстро написали, что я уже подумала, что плагиат какой-то, а нет. Преподаватель сказала, что у меня лучшая работа в группе, вот что значит писать, как Марина сама, а не заказывать как остальные)))
                        </p>
                        <div class="name">
                          Марина Скидан
                        </div>
                      </div>
                    </div>
                    <a class="left carousel-control arrow-mob-left" href="#slider-generic4" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                      <span class="sr-only">Предыдущий</span>
                    </a>
                    <a class="right carousel-control arrow-mob-right" href="#slider-generic4" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                      <span class="sr-only">Следующий</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <%- partial('partial/footer.ejs') %>
