<%- partial('partial/header.ejs') %>
<div class="block-white doubled-inner">
  <h2>ПУБЛИЧНЫЙ ДОГОВОР ОКАЗАНИЯ УСЛУГ<br />(ПУБЛИЧНАЯ ОФЕРТА)</h2>
  <div class="container" align="center">
    <div class="row sub">
      <div class="oferta">
        <div class="left">
          <strong>г. Гомель</strong>
        </div>
        <div class="right">
          <strong>1 августа 2016 г.</strong>
        </div>
        <div class="clearfix"></div>
        <p>
          Частное унитарное предприятие по оказанию услуг «Зачётка», именуемое в дальнейшем «Исполнитель», в лице директора Духовича Станислава Леонидовича, действующего на основании Устава, адресует настоящий публичный договор оказания услуг (далее – Договор), неопределенному кругу физических лиц, именуемых в дальнейшем «Заказчик» на основании ст. 396 Гражданского кодекса Республики Беларусь.
        </p>
        <strong>1. Предмет Договора</strong>
        <p>
          1.1. Исполнитель обязуется оказать Заказчику возмездные услуги на условиях, предусмотренных настоящим Договором, а Заказчик обязуется принять оказанные услуги и выплатить Исполнителю вознаграждение в порядке и размере, предусмотренном настоящим Договором.<br />
          1.2. Для целей настоящего Договора под возмездными услугами понимается:<br />
          Поиск, обработка и структурирование информации по заданной теме;<br />
          Консультирование по вопросам образования.<br />
          1.3. Исполнитель вправе привлекать третьих лиц для исполнения своих обязательств по настоящему Договору, а также использовать услуги/работы третьих лиц, обеспечивающих возможность предоставления услуг, предусмотренных настоящим договором.<br />
          1.4. Предоставление услуг в рамках настоящего Договора подтверждается фактом отправления результата работы на электронный почтовый ящик и/или записью на электронный носитель Заказчика и отсутствием предъявленных Заказчиком письменных претензий по оказанным Исполнителем услугам в течении 10 (десяти) календарных дней с момента оказания услуги.<br />
          1.5. В случае если претензии по объему и/или качеству услуг, оказываемых Исполнителем, не были заявлены в сроки согласно п.1.4. настоящего Договора, обязанности Исполнителя по Договору считаются выполненными, а услуги считаются оказанными в срок, качественно и в полном объеме.<br />
        </p>
        <strong>2. Порядок заключения договора и оплаты услуг</strong>
        <p>
          2.1. Настоящий договор является публичным договором (ст.396 Гражданского Кодекса РБ), в соответствии с которым Исполнитель принимает на себя обязательство по оказанию услуг в отношении неопределенного круга лиц (Заказчиков), обратившихся за указанными услугами.<br />
          2.2. Публикация (размещение) текста настоящего Договора в офисе по адресу: г. Гомель, ул. Советская, д. 60, оф.6-6, является публичным предложением (офертой) Исполнителя, адресованным неопределенному кругу лиц, заключить настоящий Договор (п.2 ст.407 Гражданского Кодекса РБ).<br />
          2.3. Фактом, подтверждающим заключение публичного договора со стороны Заказчика, является оплата<br />
          (п.3 ст.408 Гражданского Кодекса РБ).<br />
          2.4. Публичный договор, совершенный в вышеописанном порядке, считается заключенным в простой письменной форме (п.2, п.3 ст.404 и п.3 ст.408 Гражданского Кодекса РБ), и соответственно не требует оформления на бумаге и обладает полной юридической силой.<br />
          2.5. Стоимость услуг, оказываемых Исполнителем в рамках настоящего Договора, определяется по утвержденному Исполнителем прейскуранту цен.<br />
          2.6. Оплата услуг, оказываемых Исполнителем в рамках настоящего Договора, производится Заказчиком путем 100% предварительной оплаты стоимости услуг в момент заказа услуги, путем внесения наличных денежных средств в офисе Исполнителя либо перечислением на расчетный счет Исполнителя.<br />
          2.7. Оплата производится в белорусских рублях.<br />
          2.8. При изменении сроков оказания услуг или иных условий, влияющих на объем и сложность их оказания, по инициативе сторон конечная стоимость услуги может изменяться согласно прейскуранту.<br />
        </p>
        <strong>3. Права и обязанности сторон</strong>
        <p>
          3.1. Исполнитель обязан:<br />
          3.1.1. Оказать услуги надлежащего качества. Качество оказания услуг по поиску, обработке и структурированию информации по заданной теме соответствует общепринятым требованиям, предъявляемым к определенного вида работам, а также тематическому заданию Заказчика. Тематическое задание включает в себя следующие структурные составляющие: бланк задания на выполнение работы, план выполнения работы, методические указания по выполнению и оформлению работы и (или) другие дополнительные условия и требования, представленные Заказчиком Исполнителю в письменной, печатной или электронной форме. Результат оказания услуг Исполнителем представляется Заказчику в электронной форме, если Исполнителем по согласованию с Заказчиком не оговорено иное.<br />
          3.1.2. Оказать услуги в полном объеме и в срок, установленный Исполнителем для оказания данного вида услуг и согласованный с Заказчиком. Начало исчисления срока ведется со следующего дня после факта принятия (акцепта) Заказчиком условий настоящего Договора. По соглашению сторон могут быть оговорены также сроки начала и завершения отдельных этапов оказания услуг. В случае необходимости Исполнитель вправе продлить срок выполнения работы в одностороннем порядке до 14 календарных дней с уведомлением Заказчика.<br />
          3.1.3. Исполнитель обязан внести за свой счет необходимые исправления и дополнения в представленный Заказчику результат оказания услуг только в пределах предоставленного Заказчиком тематического задания. Исправления и дополнения вносятся Исполнителем в представленный Заказчику результат оказания услуг, и результат их внесения представляется Заказчику в изначально оговоренной форме, если Исполнителем по согласованию с Заказчиком дополнительно не оговорено иное. Срок внесения необходимых исправлений и дополнений Исполнителем составляет от 3-х до 5-и рабочих дней. В случае внесения исправлений и дополнений в результат оказания услуг, выходящих за рамки тематического задания, Исполнитель имеет право выполнить их за счет Заказчика или отказаться от их выполнения.<br />
          3.1.4. Исполнитель обязан оказывать Заказчику в рабочее время (понедельник - воскресенье: с 09:00 до 21:00) консультации по телефону и/или электронной почте по вопросам, возникающим у Заказчика в связи с оказанием ему услуг.<br />
          3.1.5. Исполнитель обязан обеспечить конфиденциальность информации, предоставленной Заказчиком, за исключением случаев, когда предоставление доступа к такой информации для третьих лиц является необходимым условием оказания услуг, либо является обязательным в силу требований законодательства Республики Беларусь.<br />
          3.2. Заказчик обязан:<br />
          3.2.1. Оплатить работу по цене, указанной в прейскуранте цен, в порядке, предусмотренном п.п. 2.5, 2.6, 2.7 настоящего Договора.<br />
          3.2.2. Предоставить в письменной, печатной или электронной форме все необходимые условия для оказания услуг.<br />
          3.2.3. Заказчик обязан на момент оформления заказа и предоставления тематического задания полно и четко сформулировать требования, а также предоставить иную исчерпывающую информацию, необходимую Исполнителю для оказания услуг. Необходимые Исполнителю документы и материалы представляются Заказчиком только в виде копий. В случае необходимости их последующего возврата Заказчику, расходы по их доставке берет на себя Заказчик.<br />
          3.2.4. Заказчик обязан изучить представленный результат оказания услуг на предмет соответствия тематическому заданию.<br />
          3.3. Заказчик имеет право:<br />
          3.3.1. Отказаться от исполнения договора в любое время до оказания услуг в полном объеме, оплатив Исполнителю часть установленной цены пропорционально части услуг, оказанных до получения извещения об отказе Заказчика от исполнения договора.<br />
          3.4. Исполнитель имеет право:<br />
          3.4.1. Получать от Заказчика документы, разъяснения и дополнительные сведения, касающиеся вопроса консультирования, и необходимые для качественного оказания услуг.<br />
          3.4.2. На своевременную и полную оплату оказываемых Заказчику услуг в соответствии с условиями настоящего договора.<br />
          3.4.3. В одностороннем порядке отказаться от оказания услуг, возместив Заказчику в полном объеме сумму оплаты (предоплаты) в течение 7 рабочих дней с момента подписания акта возврата денежных средств.<br />
          3.5. Права на использование в любой форме результатов оказания услуг по настоящему договору принадлежат Исполнителю и Заказчику в равной степени.<br />
        </p>
        <strong>4. Порядок оказания и сдачи-приемки услуг</strong>
        <p>
          4.1. Оказание услуг Заказчику не сопровождается созданием акта выполненных работ.<br />
          4.2. При отсутствии у Заказчика отдельных структурных составляющих тематического задания, Исполнитель определяет структуру и содержание результата оказания услуг в части отсутствующих структурных составляющих по своему усмотрению, внесение изменений и дополнений в данные структурные составляющие осуществляется за счет Заказчика.<br />
          4.3. Претензия о не предоставлении (и/или ненадлежащем предоставлении) услуги считается необоснованной, если Заказчик воспользовался альтернативной услугой, предложенной ему взамен той, которая по тем или иным причинам не могла быть исполнена. Услуга в данном случае считается исполненной надлежащим образом.<br />
          4.4. Исполнитель не несет ответственности за несоответствие фактически предоставленных услуг субъективным ожиданиям и представлениям Заказчика о таких услугах.<br />
          4.5. При отказе принять результат оказания услуг на основании, не указанном в договоре, Заказчик обязуется оплатить оказанные услуги в размере 100%.<br />
        </p>
        <strong>5. Ответственность сторон</strong>
        <p>
          5.1. За неисполнение или ненадлежащее исполнение обязательств по настоящему Договору Исполнитель и Заказчик несут ответственность в соответствии с действующим законодательством Республики Беларусь и условиями Договора.<br />
          5.2. Сторона, не исполнившая или ненадлежащим образом исполнившая обязанности по настоящему Договору, обязана возместить другой Стороне причиненные таким неисполнением убытки.<br />
          5.3. Стороны настоящего Договора безоговорочно соглашаются с тем, что максимальный размер убытков, которые могут быть взысканы с Исполнителя, ограничиваются суммой оплаченных Заказчиком услуг, неисполнение, либо не надлежащее исполнение которых повлекло причинение убытков.<br />
          5.4. Заказчик использует результат оказания услуг по своему усмотрению и за возможную неэффективность такого использования либо неиспользование этой информации Исполнитель ответственности не несет.<br />
        </p>
        <strong>6. Адрес и реквизиты Исполнителя</strong>
        <p>
          Частное унитарное предприятие по оказанию услуг «Зачётка»<br />
          Почтовый адрес и индекс: 246003, г. Гомель, ул. Советская, д. 60, оф. 6-6<br />
          Контактные телефоны: 8 (0232) 20-70-66 офис<br />
          Расчетный счет № 3012111585010, центр банковских услуг №310 ОАО «БПС-Сбербанк».<br />
          УНП 490652223<br />
          <br />
          Директор Частного предприятия «Зачётка»<br />
          С.Л. Духович<br />
        </p>
        <a href="/files/contract.pdf" class="btn btn-z4-default" download>Скачать договор</a>
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
