<%- partial('partial/header.ejs') %>
<div class="block-white doubled-inner registerPage">
  <h2>Регистрация</h2>
  <div class="container" align="center">
    <div class="row sub">
      <div class="register-steps">
        <div class="col-xs-12 col-sm-3 block">
          <div class="step active scrollStep" data-num="1">
            Регистрация
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 block">
          <div class="step scrollStep" data-num="2">
            Персональные данные
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 block">
          <div class="step scrollStep" data-num="3">
            Квалификация
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 block">
          <div class="step scrollStep" data-num="4">
            Завершение регистрации
          </div>
        </div>
      </div>
      <div class="register-content full">
        <div class="slide-wrapper">

        <form id="pr-steps1">
        <div class="full step1 actions current" data-slide="1">
          <div class="col-xs-12 col-sm-6 block">
            <div class="field">
              <div class="form-group">
                <label for="rEmail" class="control-label col-xs-12 col-sm-6">Введите ваш e-mail адрес <span class="important">*</span></label>
                <div class="col-xs-12 col-sm-6">
                  <input type="text" id="rEmail" name="rEmail" class="form-control">
                </div>
              </div>
              <div class="col-xs-12 buttons">
                <div class="col-xs-12 col-sm-12">
                  <a href="#" class="btn btn-z4-default" id="next-step" data-goto="2">Далее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden-xs col-sm-6 block">
            <div class="field"></div>
          </div>
        </div>
      </form>

      <form id="pr-steps2">
        <div class="full step2 actions" data-slide="2">
          <div class="col-xs-12 col-sm-6 block">
            <div class="field">
              <div class="form-group">
                <label for="rFio" class="control-label col-xs-12 col-sm-4">ФИО <span class="important">*</span></label>
                <div class="col-xs-12 col-sm-8">
                  <input type="text" id="rFio" name="rFio" class="form-control">
                  <div class="input-error"></div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="rBdate" class="control-label col-xs-12 col-sm-4">Дата рождения <span class="important">*</span></label>
                <div class="col-xs-12 col-sm-8">
                  <input type="text" id="rBdate" name="rBdate" class="form-control prbdate">
                  <div class="input-error"></div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="rGender" class="control-label col-xs-12 col-sm-4">Пол <span class="important">*</span></label>
                <div class="col-xs-12 col-sm-8">
                  <select class="form-control" name="rGender" id="rGender" name="">
                    <option value="option">мужской</option>
                    <option value="option">женский</option>
                  </select>
                  <div class="input-error"></div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="hidden-xs col-sm-12 buttons">
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="prev-step">Назад</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="next-step" data-goto="3">Далее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 block">
            <div class="field">
              <div class="form-group rPhone">
                <label for="rPhone" class="control-label col-xs-12 col-sm-3">Номер телефона <span class="important">*</span></label>
                <div class="col-xs-12 col-sm-9">
                  <input type="text" id="rPhone" name="rPhone" class="phone-select-short" placeholder="код и номер">
                  <div class="input-error"></div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="rSkype" class="control-label col-xs-12 col-sm-3">Skype</label>
                <div class="col-xs-12 col-sm-9">
                  <input type="text" id="rSkype" class="form-control">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="rSocial" class="control-label col-xs-12 col-sm-3">Ссылка в VK, OK, Facebook</label>
                <div class="col-xs-12 col-sm-9">
                  <input type="text" id="rSocial" class="form-control">
                </div>
              </div>
              <div class="visible-xs col-xs-12 buttons">
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="prev-step">Назад</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="next-step" data-goto="3">Далее</a>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </form>

      <form id="pr-steps3">
        <div class="full step3 actions" data-slide="3">
          <div class="col-xs-12 col-sm-6 block">
            <div class="field">
              <div class="form-group">
                <label for="rVUZ" class="control-label col-xs-12 col-sm-6">ВУЗ <span class="important">*</span> (<a href="#" class="add-vuz">Добавить</a>)</label>
                <div class="col-xs-12 col-sm-6">
                  <div id="vuz-error">Необходимо добавить хотя бы 1 ВУЗ</div>
                  <div id="vuz-list"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="rJob" class="control-label col-xs-12 col-sm-6">Место работы</label>
                <div class="col-xs-12 col-sm-6">
                  <input type="text" id="rJob" class="form-control">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="rVakancy" class="control-label col-xs-12 col-sm-6">Должность</label>
                <div class="col-xs-12 col-sm-6">
                  <input type="text" id="rVakancy" class="form-control">
                </div>
              </div>
              <div class="hidden-xs col-sm-12 buttons">
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="prev-step">Назад</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="next-step" data-goto="4">Далее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 block">
            <div class="field">

              <div class="clearfix"></div>

              <div class="visible-xs col-xs-12 buttons">
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="prev-step">Назад</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="next-step">Далее</a>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </form>

      <form id="pr-steps4">
        <div class="full step4 actions" data-slide="4">
          <div class="col-xs-12 col-sm-6 block">
            <div class="field">
              <div class="form-group more-padding">
                <label for="rSotr" class="control-label col-xs-12">Сотрудничество с компанией Зачётка рассматриваете как (выбрать подходящее)</label>
                <div class="col-xs-12 checkboxes">
                  <label class="col-xs-12"><input type="radio" name="sotr" value="Основной источник дохода (работать дома дистанционно)"> Основной источник дохода (работать дома дистанционно)</label>
                  <label class="col-xs-12"><input type="radio" name="sotr" value="Основной источник дохода (работать в офисе компании)"> Основной источник дохода (работать в офисе компании)</label>
                  <label class="col-xs-12"><input type="radio" name="sotr" value="Дополнительный источник дохода"> Дополнительный источник дохода</label>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group more-padding">
                <label for="rMon" class="control-label col-xs-12">Ожидаемый размер дохода в месяц</label>
                <div class="col-xs-12 checkboxes">
                  <label class="col-xs-12"><input type="radio" name="payv" value="До 100 руб."> До 100 руб.</label>
                  <label class="col-xs-12"><input type="radio" name="payv" value="100-300 руб."> 100-300 руб.</label>
                  <label class="col-xs-12"><input type="radio" name="payv" value="300-500 руб."> 300-500 руб.</label>
                  <label class="col-xs-12"><input type="radio" name="payv" value="Более 500 руб."> Более 500 руб.</label>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group more-padding">
                <label for="rExp" class="control-label col-xs-12">Какой у Вас опыт написания студенческих работ на заказ <span class="important">*</span></label>
                <div class="col-xs-12 checkboxes">
                  <label class="col-xs-12"><input type="radio" name="exp" value="Опыта нет"> Опыта нет</label>
                  <label class="col-xs-12"><input type="radio" name="exp" value="До 1 года"> До 1 года</label>
                  <label class="col-xs-12"><input type="radio" name="exp" value="1-3 года"> 1-3 года</label>
                  <label class="col-xs-12"><input type="radio" name="exp" value="Более 5 лет"> Более 5 лет</label>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group more-padding misc">
                <label for="rMisc" class="control-label col-xs-12 col-sm-6">Прочие сведения</label>
                <div class="col-xs-12 col-sm-6">
                  <input type="text" id="rMisc" class="form-control">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="hidden-xs col-sm-12 buttons">
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="prev-step">Назад</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="register-done">Регистрация</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 block">
            <div class="field">
              <div class="form-group more-padding">
                <label for="rTypes" class="control-label col-xs-12 col-sm-12">Виды работ, которые Вы готовы выполнять <span class="important">*</span></label>
                <div class="col-xs-12 col-sm-12 stop-padding">
                  <!--<input type="text" id="rTypes" name="rTypes" class="form-control">-->
                  <!--<textarea name="rTypes" rows="3" id="rTypes" cols="40" class="form-control"></textarea>-->
                  <!--<select name="rTypes" id="rTypes" class="form-control" placeholder="Выберите тип работы" multiple>-->
                    <% _.each(workTypes, function(worktype) { %>
                      <!--<option value="<%= worktype.name %>"><%= worktype.name %></option>-->
                      <label><input type="checkbox" name="rTypes[]" value="<%= worktype.name %>"> <%= worktype.name %></label>
                    <% }); %>
                  <!--</select>-->
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group more-padding">
                <label for="rDef" class="control-label col-xs-12 col-sm-12">Области знаний, по которым Вы готовы выполнять работы <span class="important">*</span></label>
                <div class="col-xs-12 col-sm-12 stop-padding">
                  <!--<input type="text" id="rDef" name="rDef" class="form-control">-->
                  <textarea name="rDef" rows="3" id="rDef" cols="40" class="form-control"></textarea>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group more-padding">
                <label for="rPayments" class="control-label col-xs-12 checkboxes">Способы получения вознаграждения <span class="important">*</span></label>
                <div class="col-xs-12 checkboxes">
                  <label class="col-xs-12"><input type="checkbox" name="rPayments[]" value="Перевод на карту Беларусбанка"> Перевод на карту "Беларусбанка"</label>
                  <label class="col-xs-12"><input type="checkbox" name="rPayments[]" value="Расчетный счет Индивидуального предпринимателя"> Расчетный счет Индивидуального предпринимателя</label>
                  <label class="col-xs-12"><input type="checkbox" name="rPayments[]" value="WebMoney (WMB)"> WebMoney (WMB)</label>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group more-padding misc">
                <label for="rFrom" class="control-label col-xs-12 col-sm-6">Откуда вы о нас узнали</label>
                <div class="col-xs-12 col-sm-6">
                  <input type="text" id="rFrom" class="form-control">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <div class="col-xs-12 checkboxes">
                  <label><input type="checkbox" name="rAgree" value=""> Согласен с <a href="/agreement" target="_blank">соглашением</a> о сотрудничестве <span class="important">*</span></label>
                  <input type="hidden" name="_csrf" id="ratoken" value="<%= _csrf %>">
                </div>
              </div>
              <div class="visible-xs col-xs-12 buttons">
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="prev-step">Назад</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <a href="#" class="btn btn-z4-default" id="register-done">Регистрация</a>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </form>

      </div>
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
