<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-6.ejs') %>
<div class="block-white doubled-inner">
  <h2>Как заработать</h2>
  <div class="container" align="center">
    <div class="row sub">

      <div id="slider-generic8" class="carousel slide visible-xs" data-interval="false" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="partner-inner visible-xs">
              <div class="visible-xs element col-xs-12">
                <div class="content">
                  <div class="img">
                    <img src="/images/partner/1.svg" alt="" />
                  </div>
                  <h4>АГЕНТСТВАМ</h4>
                  <p>
                    У вас есть заказы, но не хватает ресурсов? Приходите к нам: широчайшая база авторов, максимум дисциплин, отличные цены и низкие сроки!
                  </p>
                  <a href="register/partner" class="btn btn-z4-red">Стать партнером</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="partner-inner visible-xs">
              <div class="visible-xs element col-xs-12">
                <div class="content">
                  <div class="img">
                    <img src="/images/partner/2.svg" alt="" />
                  </div>
                  <h4>ВЕБ-МАСТЕРАМ</h4>
                  <p>
                    У вас есть свой сайт, несколько сайтов? Разместите нашу форму на своем ресурсе и зарабатывайте с каждого заказа. Все просто! Удобный личный кабинет.
                  </p>
                  <a href="register/partner" class="btn btn-z4-red">Стать партнером</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="partner-inner visible-xs">
              <div class="visible-xs element col-xs-12">
                <div class="content">
                  <div class="img">
                    <img src="/images/partner/3.svg" alt="" />
                  </div>
                  <h4>СТУДЕНТАМ</h4>
                  <p>
                    Ты активный, у тебя куча друзей? Хочешь помочь друзьям и при этом заработать? Welcome! Оставь заявку, и мы тебе перезвоним, все расскажем, всему научим!
                  </p>
                  <a href="register/partner" class="btn btn-z4-red">Стать партнером</a>
                </div>
              </div>
            </div>
          </div>
        <a class="left carousel-control" href="#slider-generic8" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          <span class="sr-only">Предыдущий</span>
        </a>
        <a class="right carousel-control" href="#slider-generic8" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          <span class="sr-only">Следующий</span>
        </a>
      </div>
    </div>

      <div class="partner-inner hidden-xs">
        <div class="hidden-xs element col-sm-4 col-md-4 col-lg-4">
          <div class="content">
            <div class="img">
              <img src="/images/partner/1.svg" alt="" />
            </div>
            <h4>АГЕНТСТВАМ</h4>
            <p>
              У вас есть заказы, но не хватает ресурсов? Приходите к нам: широчайшая база авторов, максимум дисциплин, отличные цены и низкие сроки!
            </p>
            <a href="register/partner" class="btn btn-z4-red">Стать партнером</a>
          </div>
        </div>
        <div class="hidden-xs element col-sm-4 col-md-4 col-lg-4">
          <div class="content">
            <div class="img">
              <img src="/images/partner/2.svg" alt="" />
            </div>
            <h4>ВЕБ-МАСТЕРАМ</h4>
            <p>
              У вас есть свой сайт, несколько сайтов? Разместите нашу форму на своем ресурсе и зарабатывайте с каждого заказа. Все просто! Удобный личный кабинет.
            </p>
            <a href="register/partner" class="btn btn-z4-red">Стать партнером</a>
          </div>
        </div>
        <div class="hidden-xs element col-sm-4 col-md-4 col-lg-4">
          <div class="content">
            <div class="img">
              <img src="/images/partner/3.svg" alt="" />
            </div>
            <h4>СТУДЕНТАМ</h4>
            <p>
              Ты активный, у тебя куча друзей? Хочешь помочь друзьям и при этом заработать? Welcome! Оставь заявку, и мы тебе перезвоним, все расскажем, всему научим!
            </p>
            <a href="register/partner" class="btn btn-z4-red">Стать партнером</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
