<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-8.ejs') %>
<div class="block-white doubled-inner">
  <div class="container" align="center">
    <div class="row sub">
      <div class="payments">
        <div class="payment">
          <h3 class="title"><img src="/images/ok.svg" alt="" /> <span>Банковский перевод</span></h3>
          <p>
            Банковский перевод – один из самых универсальных методов оплат товаров и услуг.
          </p>
        </div>
        <div class="payment">
          <h3 class="title"><img src="/images/ok.svg" alt="" /> <span>В системе расчета ЕРИП</span></h3>
          <p>
            Наша компания зарегистрирована в системе «Расчет» (ЕРИП) – автоматизированной информационной системе единого расчетного и информационного пространства, создана Национальным банком Республики Беларусь в целях упрощения организации приема платежей. Данная система обеспечивает скорость и удобство при проведении платежей клиентом-плательщиком, не прибегая к услугам сторонних лиц и организаций, предоставляя при этом множество вариантов совершения платежной операции.
          </p>
        </div>
        <!--
        <div class="payment">
          <h3 class="title"><img src="/images/ok.svg" alt="" /> <span>EasyPay</span></h3>
        </div>
        <div class="payment">
          <h3 class="title"><img src="/images/ok.svg" alt="" /> <span>Оплата пластиковой картой в личном кабинете</span></h3>
          <p>
            Visa, MasterCard, Белкарт
          </p>
        </div>-->
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
