<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-14.ejs') %>
<div class="block-white doubled-inner qas">
  <div class="container process-inner-mg" align="center">
    <div class="row sub">
      <div class="qa col-xs-12">
        <div class="title">
          Как заказать работу?
        </div>
        <div class="content">
          Заказать работу можно тремя способами: по телефону горячей линии +375 29 535-83-61, оформив заказ на нашем сайте или придя в один из наших офисов
        </div>
      </div>
      <div class="qa col-xs-12">
        <div class="title">
          Как узнать, делаете ли вы работы по моему предмету?
        </div>
        <div class="content">
          Вы можете посмотреть список предметов. Если вы не нашли в списке нужный предмет, позвоните по телефону горячей линии и уточните у менеджера.
        </div>
      </div>
      <div class="qa col-xs-12">
        <div class="title">
          В какие сроки выполняете работы?
        </div>
        <div class="content">
          В первую очередь учитываем срок, указанный вами при оформлении заказа.
        </div>
      </div>
      <div class="qa col-xs-12">
        <div class="title">
          Как оплатить работу?
        </div>
        <div class="content">
          Все реквизиты и пояснения по оплате приведены <a href="/oplata">здесь</a>. Также вы можете позвонить по телефону горячей линии и уточнить непонятные моменты. Если кратко, то оплатить можно при помощи банковской карты (любой страны мира), электронных денег, наличной валюты в офисе компании.
        </div>
      </div>
      <div class="qa col-xs-12">
        <div class="title">
          А что, если я внесу предоплату, а мою работу откажутся делать?
        </div>
        <div class="content">
          Такое практически невозможно. Если менеджер сказал вам стоимость работы, то помешать ее выполнению могут только непредвиденные обстоятельства.
        </div>
      </div>
      <div class="qa col-xs-12">
        <div class="title">
          И все-таки? Обстоятельства бывают разные. Как я смогу получить предоплату обратно?
        </div>
        <div class="content">
          В случае необходимости, предоплата возращается таким же образом, каким была получена от клиента. Решение о возврате принимается по запросу клиента после проведения экспертизы качества выполнения работы. Предусмотрен полный либо частичный возврат денег в зависимости от причины возврата. В случае возврата на банковскую карту или иным способом денежные средства возвращаются обратно на ту же банковскую карту, счет без удержания штрафов и комиссий за перевод. Сумма возврата согласовывается клиентом и руководителем отдела контроля качества.
        </div>
      </div>
      <div class="qa col-xs-12">
        <div class="title">
          Если я заполняю форму заявки, смогу ли потом отказаться, если не устроит стоимость?
        </div>
        <div class="content">
          Да.
        </div>
      </div>
      <div class="qa col-xs-12">
        <div class="title">
          Какие гарантии на свои работы вы даете?
        </div>
        <div class="content">
          1) гарантия на отсутствие плагиата: каждая работа проходит проверку в системе "Антиплагиат";<br />
          2) гарантия на качество работы: если работа не будет соответствовать заявленной теме, мы вернем вам деньги;<br />
          3) договор и чек. <a href="/garantii">Подробнее</a> о гарантиях
        </div>
      </div>
      <div class="qa col-xs-12">
        <div class="title">
          Как войти в Личный кабинет?
        </div>
        <div class="content">
          Для того, чтобы войти в Личный кабинет, вам необходимо:<br />
          1. На нашем сайте za4etka.by в блоке «Вход для клиентов» ввести логин (e-mail, который вы указали при оформлении заказа), пароль (содержиться в смс, отправленной на указанный Вами телефон)<br />
          2. Войти в личный кабинет.
        </div>
      </div>
      <div class="qa col-xs-12">
        <div class="title">
          Как я узнаю, что моя работа готова?
        </div>
        <div class="content">
          С вами свяжется менеджер и сообщит о готовности работы. Также о ходе выполнения своей работы вы сможете узнать, посмотрев статус заказа в «Личном кабинете» на сайте или связавшись с менеджером, который курирует ваш заказ.
        </div>
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
