<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-2.ejs') %>
<div class="block-white doubled-inner steps all-services">
  <div class="container" align="center">
    <div class="row sub">

      <div id="slider-generic5" class="carousel slide visible-xs" data-interval="false" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/diplomnaya.svg" alt="" />
                </div>
                <h4>Диплом<span class="hidden-sm hidden-md">ная работа</span></h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 360 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/otchet.svg" alt="" />
                </div>
                <h4>Отчет</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 2 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 90 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/kursovye.svg" alt="" />
                </div>
                <h4>Курсовая <span class="hidden-sm hidden-md">работа</span></h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 2 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 55 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/kontrolnaya.svg" alt="" />
                </div>
                <h4>Контрольная <span class="hidden-sm hidden-md">работа</span></h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 18 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/testy.svg" alt="" />
                </div>
                <h4>Тест</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 20 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/dissertacia.svg" alt="" />
                </div>
                <h4>Диссертация</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 14 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 430 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/referat.svg" alt="" />
                </div>
                <h4>Реферат</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 24 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/zadacha.svg" alt="" />
                </div>
                <h4>Задача</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 3 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/doklad.svg" alt="" />
                </div>
                <h4>Доклад</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 16 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/laboratornaya.svg" alt="" />
                </div>
                <h4>Лабораторная <span class="hidden-sm hidden-md">работа</span></h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 13 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/perevod.svg" alt="" />
                </div>
                <h4>Перевод</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 15 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/praktikum.svg" alt="" />
                </div>
                <h4>Практикум</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 24 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/presentacia.svg" alt="" />
                </div>
                <h4>Презентация</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 26 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/surs.svg" alt="" />
                </div>
                <h4>СУРС</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 16 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/chertez.svg" alt="" />
                </div>
                <h4>Чертеж</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 8 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/esse.svg" alt="" />
                </div>
                <h4>Эссе</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 24 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/voprosy.svg" alt="" />
                </div>
                <h4>Вопросы</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 4 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/ekzamen.svg" alt="" />
                </div>
                <h4>Онлайн экзамен</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 14 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-xs-12 service-inner center">
              <div class="element">
                <div class="img">
                  <img src="/images/services/shpora.svg" alt="" />
                </div>
                <h4>Шпаргалка</h4>
                <ul>
                  <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
                  <li><span class="glyphicon glyphicon-credit-card"></span> от 1 р.</li>
                </ul>
                <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
              </div>
            </div>
          </div>
        <a class="left carousel-control" href="#slider-generic5" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span>
          <span class="sr-only">Предыдущий</span>
        </a>
        <a class="right carousel-control" href="#slider-generic5" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right " aria-hidden="true"></span>
          <span class="sr-only">Следующий</span>
        </a>
      </div>
    </div>

      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/diplomnaya.svg" alt="" />
          </div>
          <h4>Диплом<span class="hidden-sm hidden-md">ная работа</span></h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 360 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/otchet.svg" alt="" />
          </div>
          <h4>Отчет</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 2 дней</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 90 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/kursovye.svg" alt="" />
          </div>
          <h4>Курсовая <span class="hidden-sm hidden-md">работа</span></h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 2 дней</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 55 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/kontrolnaya.svg" alt="" />
          </div>
          <h4>Контрольная <span class="hidden-sm hidden-md">работа</span></h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 18 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/testy.svg" alt="" />
          </div>
          <h4>Тест</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 20 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/dissertacia.svg" alt="" />
          </div>
          <h4>Диссертация</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 14 дней</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 430 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/referat.svg" alt="" />
          </div>
          <h4>Реферат</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 24 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/zadacha.svg" alt="" />
          </div>
          <h4>Задача</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 3 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/doklad.svg" alt="" />
          </div>
          <h4>Доклад</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 16 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/laboratornaya.svg" alt="" />
          </div>
          <h4>Лабораторная <span class="hidden-sm hidden-md">работа</span></h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 13 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/perevod.svg" alt="" />
          </div>
          <h4>Перевод</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 15 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/praktikum.svg" alt="" />
          </div>
          <h4>Практикум</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 24 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/presentacia.svg" alt="" />
          </div>
          <h4>Презентация</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 26 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/surs.svg" alt="" />
          </div>
          <h4>СУРС</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 16 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/chertez.svg" alt="" />
          </div>
          <h4>Чертеж</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 3 дней</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 8 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/esse.svg" alt="" />
          </div>
          <h4>Эссе</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 24 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="center">
      <div class="last hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/voprosy.svg" alt="" />
          </div>
          <h4>Вопросы</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 4 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="last hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/ekzamen.svg" alt="" />
          </div>
          <h4>Онлайн экзамен</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 14 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      <div class="last hidden-xs service-inner center">
        <div class="element">
          <div class="img">
            <img src="/images/services/shpora.svg" alt="" />
          </div>
          <h4>Шпаргалка</h4>
          <ul>
            <li><span class="glyphicon glyphicon-calendar"></span> от 1 дня</li>
            <li><span class="glyphicon glyphicon-credit-card"></span> от 1 р.</li>
          </ul>
          <a href="#" class="btn btn-z4-default btn-inner">Подробнее</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
