<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-4.ejs') %>
<%- partial('partial/process.ejs') %>
<div class="block-gray doubled-inner">
  <h2>Полезная информация</h2>
  <div class="container" align="center">
    <div class="row sub">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
<div class="block-white doubled-inner">
  <h2>От чего зависит цена на дипломную работу и срок выполнения?</h2>
  <div class="container" align="center">
    <div class="row sub">
      <ul>
        <li class="col-xs-12 col-sm-6"><span class="marker">⚫</span> <span>Дисциплина</span></li>
        <li class="col-xs-12 col-sm-6"><span class="marker">⚫</span> <span>Сложность</span></li>
        <li class="col-xs-12 col-sm-6"><span class="marker">⚫</span> <span>Тип работы</span></li>
        <li class="col-xs-12 col-sm-6"><span class="marker">⚫</span> <span>Информация</span></li>
        <li class="col-xs-12 col-sm-6"><span class="marker">⚫</span> <span>Объём</span></li>
        <li class="col-xs-12 col-sm-6"><span class="marker">⚫</span> <span>Срок сдачи</span></li>
      </ul>
    </div>
  </div>
</div>
<%- partial('partial/banner-3.ejs') %>
<%- partial('partial/footer.ejs') %>
