<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-10.ejs') %>
<div class="block-white doubled-inner team">
  <div class="container" align="center">
    <div class="row sub">
      <div class="slider-team visible-xs">
        <div id="slider-generic-team1" class="carousel slide" data-interval="false" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="slide">
                <div class="col-xs-12 slide-element">
                      <div class="img">
                        <img src="/images/banner-1.jpg" alt="" />
                      </div>
                      <div class="name">
                        Станислав Духович
                      </div>
                      <div class="occup">
                        Основатель и директор Частного предприятия "Зачётка" (2008г.).
                        В сфере образовательных услуг работает 12 лет.
                        Кандидат технических наук, 3-и высших образования (Промышленное и гражданское строительство, Экономика, Бухгалтерский учет).
                      </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slide">
                <div class="col-xs-12 slide-element">
                      <div class="img">
                        <img src="/images/banner-1.jpg" alt="" />
                      </div>
                      <div class="name">
                        Андрей Сапунов
                      </div>
                      <div class="occup">
                        Главный инженер ЧП "Зачётка" с 2015 года. В сфере IT технологий работает 18 лет. Кандидат технических наук, высшее образование по специальности "Программное обеспечение информационных систем".
                      </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slide">
                <div class="col-xs-12 slide-element">
                      <div class="img">
                        <img src="/images/banner-1.jpg" alt="" />
                      </div>
                      <div class="name">
                        Анастасия Николаева
                      </div>
                      <div class="occup">
                        Начальник сектора маркетинга, PR и рекламы ЧП "Зачётка" с 2015 года. Высшее образование по специальности "Производственный менеджмент"
                      </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slide">
                <div class="col-xs-12 slide-element">
                      <div class="img">
                        <img src="/images/banner-1.jpg" alt="" />
                      </div>
                      <div class="name">
                        Диана Сарайкова
                      </div>
                      <div class="occup">
                        Начальник сектора научной деятельности и поиска информации ЧП "Зачётка" с 2014 года. Кандидат экономических наук, высшее образование по специальности "Экономика и управление на предприятии"
                      </div>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#slider-generic-team1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
          </a>
          <a class="right carousel-control" href="#slider-generic-team1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
          </a>
        </div>
      </div>
      <div class="telements hidden-xs">
        <div class="element col-xs-12">
            <div class="img col-xs-2">
              <img src="/images/banner-1.jpg" alt="" />
            </div>
            <div class="name col-xs-10">
              Станислав Духович
              <div class="occup">
                Основатель и директор Частного предприятия "Зачётка" (2008г.).<br />
                В сфере образовательных услуг работает 12 лет.<br />
                Кандидат технических наук, 3-и высших образования (Промышленное и гражданское строительство, Экономика, Бухгалтерский учет).<br />
              </div>
            </div>
        </div>
        <div class="element col-xs-12">
            <div class="img col-xs-2">
              <img src="/images/banner-1.jpg" alt="" />
            </div>
            <div class="name col-xs-10">
              Андрей Сапунов
              <div class="occup">
                Главный инженер ЧП "Зачётка" с 2015 года.<br />
                В сфере IT технологий работает 18 лет.<br />
                Кандидат технических наук, высшее образование по специальности "Программное обеспечение информационных систем".<br />
              </div>
            </div>
        </div>
        <div class="element col-xs-12">
            <div class="img col-xs-2">
              <img src="/images/banner-1.jpg" alt="" />
            </div>
            <div class="name col-xs-10">
              Анастасия Николаева
              <div class="occup">
                Начальник сектора маркетинга, PR и рекламы ЧП "Зачётка" с 2015 года.<br />
                Высшее образование по специальности "Производственный менеджмент"<br />
              </div>
            </div>
        </div>
        <div class="element col-xs-12">
            <div class="img col-xs-2">
              <img src="/images/banner-1.jpg" alt="" />
            </div>
            <div class="name col-xs-10">
              Диана Сарайкова
              <div class="occup">
                Начальник сектора научной деятельности и поиска информации ЧП "Зачётка" с 2014 года.<br />
                Кандидат экономических наук, высшее образование по специальности "Экономика и управление на предприятии"<br />
              </div>
            </div>
        </div>
      </div>
</div>
</div>
      <div class="clearfix"></div>

      <div class="block-gray slider-team-photos" align="center">
        <div class="row full">
          <div id="slider-generic-photos-min" class="carousel slide visible-xs" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="slide">
                  <div class="col-sm-3 slide-element">
                    <img src="/images/banner-1.jpg" alt="" />
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slide">
                  <div class="col-sm-3 slide-element">
                    <img src="/images/banner-1.jpg" alt="" />
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slide">
                  <div class="col-sm-3 slide-element">
                    <img src="/images/banner-1.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#slider-generic-photos-min" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
              <span class="sr-only">Предыдущий</span>
            </a>
            <a class="right carousel-control" href="#slider-generic-photos-min" role="button" data-slide="next">
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              <span class="sr-only">Следующий</span>
            </a>
          </div>

          <div id="slider-generic-photos" class="carousel slide hidden-xs" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="slide">
                  <div class="col-sm-6 slide-element">
                    <img src="/images/banner-1.jpg" alt="" />
                  </div>
                </div>
                <div class="slide">
                  <div class="col-sm-6 slide-element">
                    <img src="/images/banner-1.jpg" alt="" />
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slide">
                  <div class="col-sm-6 slide-element">
                    <img src="/images/banner-1.jpg" alt="" />
                  </div>
                </div>
                <div class="slide">
                  <div class="col-sm-6 slide-element">
                    <img src="/images/banner-1.jpg" alt="" />
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slide">
                  <div class="col-sm-6 slide-element">
                    <img src="/images/banner-1.jpg" alt="" />
                  </div>
                </div>
                <div class="slide">
                  <div class="col-sm-6 slide-element">
                    <img src="/images/banner-1.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#slider-generic-photos" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
              <span class="sr-only">Предыдущий</span>
            </a>
            <a class="right carousel-control" href="#slider-generic-photos" role="button" data-slide="next">
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              <span class="sr-only">Следующий</span>
            </a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
<div class="container">
  <div class="row">
      <h2 class="office">Наш офис</h2>
      <div class="team-slider">
        <div id="slider-generic-team2" class="carousel slide visible-xs" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="slide">
                <div class="col-xs-12 slide-element">
                  <img src="/images/banner-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slide">
                <div class="col-xs-12 slide-element">
                  <img src="/images/banner-1.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#slider-generic-team2" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
          </a>
          <a class="right carousel-control" href="#slider-generic-team2" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
          </a>
        </div>
        <div id="slider-generic-team" class="carousel slide hidden-xs" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="slide">
                <div class="col-sm-3 slide-element">
                  <img src="/images/banner-1.jpg" alt="" />
                </div>
                <div class="col-sm-3 slide-element">
                  <img src="/images/banner-1.jpg" alt="" />
                </div>
                <div class="col-sm-3 slide-element">
                  <img src="/images/banner-1.jpg" alt="" />
                </div>
                <div class="col-sm-3 slide-element">
                  <img src="/images/banner-1.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#slider-generic-team" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
          </a>
          <a class="right carousel-control" href="#slider-generic-team" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
