<%- partial('partial/header.ejs') %>
<%- partial('partial/banner-5.ejs') %>
<div class="block-white doubled-inner">
  <h2>Выгодные условия</h2>
  <div class="container" align="center">
    <div class="row sub">

      <div id="slider-generic7" class="carousel slide visible-xs" data-interval="false" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="vacancy">
              <div class="col-xs-12 element">
                <div class="img">
                  <img src="/images/vacancy/1.svg" alt="" />
                </div>
                <h4>Хороший заработок</h4>
                <p>
                  Возможность достойно зарабатывать, не выходя из дома 250-2200 руб. в месяц
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="vacancy">
              <div class="col-xs-12 element">
                <div class="img">
                  <img src="/images/vacancy/2.svg" alt="" />
                </div>
                <h4>Регулярные выплаты</h4>
                <p>
                  Большое количество заказов. Вы точно получите возможность заработать
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="vacancy">
              <div class="col-xs-12 element">
                <div class="img">
                  <img src="/images/vacancy/3.svg" alt="" />
                </div>
                <h4>Самореализация</h4>
                <p>
                  Интересная и разнообразная работа, позволяющая в полной мере реализовать свои навыки и знания
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="vacancy">
              <div class="col-xs-12 element">
                <div class="img">
                  <img src="/images/vacancy/4.svg" alt="" />
                </div>
                <h4>Контроль своего заработка</h4>
                <p>
                  Работа в личном кабинете, позволяющем контролировать свою занятость и заработок
                </p>
              </div>
            </div>
          </div>
        <a class="left carousel-control" href="#slider-generic7" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          <span class="sr-only">Предыдущий</span>
        </a>
        <a class="right carousel-control" href="#slider-generic7" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          <span class="sr-only">Следующий</span>
        </a>
      </div>
    </div>

      <div class="vacancy hidden-xs">
        <div class="col-lg-3 col-md-3 col-sm-3 element hidden-xs">
          <div class="img">
            <img src="/images/vacancy/1.svg" alt="" />
          </div>
          <h4>Хороший заработок</h4>
          <p>
            Возможность достойно зарабатывать, не выходя из дома 250-2200 руб. в месяц
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 element hidden-xs">
          <div class="img">
            <img src="/images/vacancy/2.svg" alt="" />
          </div>
          <h4>Регулярные выплаты</h4>
          <p>
            Большое количество заказов. Вы точно получите возможность заработать
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 element hidden-xs">
          <div class="img">
            <img src="/images/vacancy/3.svg" alt="" />
          </div>
          <h4>Самореализация</h4>
          <p>
            Интересная и разнообразная работа, позволяющая в полной мере реализовать свои навыки и знания
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 element hidden-xs">
          <div class="img">
            <img src="/images/vacancy/4.svg" alt="" />
          </div>
          <h4>Контроль своего заработка</h4>
          <p>
            Работа в личном кабинете, позволяющем контролировать свою занятость и заработок
          </p>
        </div>
      </div>

      <div class="clearfix"></div>

      <a href="register/partner" class="btn btn-z4-red">Стать автором</a>
    </div>
  </div>
</div>
<%- partial('partial/footer.ejs') %>
