Здравствуйте! Поступила заявка на регистрацию автора<br /><br />
E-mail: <%= email %><br />
ФИО: <%= fio %><br />
Дата рождения: <%= bdate %><br />
Пол: <%= gender %><br />
Телефон: <%= phone %><br />
Skype: <%= skype %><br />
Социальные сети: <%= social %><br />
ВУЗы: <%= vuz %><br />
Место работы: <%= job %><br />
Должность: <%= vacancy %><br />
Сотрудничество с Зачеткой: <%= sotr %><br />
Ожидаемый доход: <%= payv %><br />
Опыт написания работ: <%= exp %><br />
Способы получения оплаты: <%= payments %><br />
Виды работ: <%= types %><br />
Области знаний: <%= def %><br />
Прочее: <%= misc %><br />
Откуда узнали: <%= knowfrom %><br />
