<div class="banner-2 banner-10" align="center">
  <h2>Наша команда</h2>
  <div class="content full">
    <p>
      Студенческий портал «ЗАЧЁТКА» – компания, состоящая из специалистов высокой квалификации, долгое время консультирующая и помогающая студентам при подготовке и оформлении различного рода тестов, контрольных, курсовых, дипломных и прочих учебных работ. Оказываем услугу on-line экзамен. Также мы можем оказать помощь абитуриентам в выборе и подготовке к поступлению в учебные заведения Республики Беларусь и Российской Федерации
    </p>
  </div>
</div>
