<div class="banner-2 banner-15" align="center">
  <h2>Учебные заведения</h2>
  <div class="content full">
  Наши клиенты проживают и учатся на всей территории Республики Беларусь и за ее пределами.<br />
  У нас Вы можете заказать или найти работу для любого из представленного здесь учебного заведения.<br />
  Если вашего ВУЗа нет в списке - не беда! Станьте первым студентом из пока неизвестного нам образовательного заведения, заказавшим у нас работу. А мы приложим все усилия для качественного и точного её выполнения.<br /><br />
  И, конечно, с радостью пополним наши страницы наименованием Вашего ВУЗа!
  </div>
</div>
