<div class="banner-2 banner-14" align="center">
  <h2>Вопрос-ответ</h2>
  <div class="content full">
    Мы всегда готовы ответить на любые ваши вопросы. Узнайте о способах связи с нами на странице Контакты.
  </div>
</div>
