<div class="banner-2 banner-6" align="center">
  <h2>Партнерам</h2>
  <div class="content full">
    <p>
      Компания «Зачётка» с 2008 года оказывает услуги по написанию уникальных дипломов, курсовых, контрольных работ, рефератов, выполнению презентаций, сдаче экзамена в режиме on-line, решению тестов онлайн и многое другое. Главным принципом в осуществлении нашей деятельности является КАЧЕСТВО выполняемых нами работ. Мы всегда открыты новым путям развития и будем рады видеть среди своих партнеров новые лица!
    </p>
  </div>
</div>
