<div class="banner-2 banner-7" align="center">
  <h2>Блог</h2>
  <div class="content full">
    <div class="search">
      <div class="col-xs-12 col-sm-9 field">
        <form class="form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Найти" aria-describedby="addon-search">
            <span class="input-group-btn">
              <a href="#" class="btn btn-z4-default searchBtn"><span class="glyphicon glyphicon-search"></span> Найти</a>
            </span>
          </div>
        </form>
      </div>
      <div class="col-xs-12 col-sm-3">
        <a href="#subscribe-dialog" class="btn btn-z4-default popup-with-zoom-anim-subscribe btn-subscrb" id="subscribe-open"><span class="hidden-sm hidden-md">Подписаться на рассылку</span><span class="visible-sm visible-md">Рассылка</span></a>
      </div>
    </div>
  </div>
</div>
