<div class="banner-2 banner-9" align="center">
  <h2>Отзывы</h2>
  <div class="content full">
    <div class="giveComment">
      <form class="form">
        <div class="col-xs-12 col-sm-8 minfix">
          <textarea name="name" placeholder="Оставить отзыв" rows="8" cols="40"></textarea>
        </div>
        <div class="col-xs-12 col-sm-4 lh-min">
          <input type="text" name="name" value="" placeholder="Ваше имя">
          <a href="#" class="btn btn-z4-default">Отправить</a>
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
