<div class="banner-2 banner-12" align="center">
  <h2>Как оформить заказ</h2>
  <div class="content full">
    <a href="#small-dialog" class="btn btn-z4-default popup-with-zoom-anim">Оформить заказ</a>
  </div>
</div>
