<div class="banner-2 banner-4" align="center">
  <h2>Дипломная работа</h2>
  <div class="content full service-inner-top">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left">
      <img src="/images/calendar.svg" alt="" />
      <p class="caption">
        Стандартный срок
      </p>
      <p class="dataField">
        от 14 дней
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left">
      <img src="/images/wallet.svg" alt="" />
      <p class="caption">
        Стоимость работы
      </p>
      <p class="dataField">
        от 100 руб.
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="#small-dialog" class="btn btn-z4-default popup-with-zoom-anim">Оформить заказ</a>
    </div>
  </div>
</div>
