<div class="banner-2 banner-13" align="center">
  <h2>Контакты</h2>
  <div class="content full">
    <div class="callBack">
      <form class="form">
        <div class="col-xs-12 col-sm-4 minfix">
          <input type='hidden' name='_csrf' id="call-token" value='<%= _csrf %>'>
          <input type="text" name="name" id="cbName" value="" placeholder="Ваше имя">
        </div>
        <div class="col-xs-12 col-sm-4">
          <input type="text" name="name" id="cbNumber" value="" placeholder="Номер телефона">
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="#" class="btn btn-z4-default request-call">Заказать звонок</a>
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
