<div class="banner-2" align="center">
  <div class="content full">
    <h2>Услуги</h2>
    <div class="priceAsk">
      <form class="form" action="index.html" method="post">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <select id="ptype" class="select" name="" placeholder="Выберите тип работы">
            <option value="не указано">Вид работы</option>
            <% _.each(workTypes, function(worktype) { %>
              <option value="<%= worktype.id %>"><%= worktype.name %></option>
            <% }); %>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <input type="text" class="priceAskD" id="pdiscipl" name="name" value="" placeholder="Укажите дисциплину">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a href="#price-dialog" class="btn btn-z4-default popup-with-zoom-anim vals">Узнать стоимость</a>
        </div>
      </form>
    </div>
  </div>
</div>
