<div class="banner-2 banner-5" align="center">
  <h2>Вакансии</h2>
  <div class="content full">
    <p>
      Компания Зачётка приглашает всех заинтересованных высококвалифицированных преподавателей и специалистов, готовых работать на рынке написания научных и студенческих работ, к сотрудничеству! Все интересующие вопросы можно задать консультанту отдела кадров:  za4etkaavtor@list.ru, +375 29 533-83-61, skype: za4etkaavtor
    </p>
    <a href="register/partner" class="btn btn-z4-default">Стать автором</a>
  </div>
</div>
