<div class="banner-1" align="center">
  <div class="content full">
    <h2 data-animation="fadeInDown" data-animation-delay="200">Дипломы, курсовые, контрольные работы - <br />на самом лучшем портале Беларуси</h2>
    <div class="priceAsk" data-animation="fadeInUp" data-animation-delay="200">
      <form class="form" action="index.html" method="post">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 menu-ios-fix">
          <select id="ptype" class="select" name="" placeholder="Выберите тип работы">
            <option value="не указано">Вид работы</option>
            <% _.each(workTypes, function(worktype) { %>
              <option value="<%= worktype.id %>"><%= worktype.name %></option>
            <% }); %>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 menu-ios-fix">
          <input type="text" class="priceAskD" id="pdiscipl" name="name" value="" placeholder="Укажите дисциплину">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 menu-ios-fix">
          <a href="#price-dialog" class="btn btn-z4-default popup-with-zoom-anim vals">Узнать стоимость <span class="hidden-sm hidden-xs">бесплатно</span></a>
        </div>
      </form>
    </div>
    <div class="partners">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 author" data-animation="fadeInUp" data-animation-delay="500">
        <h3>Вы автор?</h3>
        <p>
          Зарабатывайте от 250 до 2 200 рублей<br />не выходя из дома
        </p>
        <a href="/vakansii" class="more">Узнать больше</a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 partner" data-animation="fadeInUp" data-animation-delay="800">
        <h3>Станьте партнером</h3>
        <p>
          Рекомендуйте нашу компанию и получайте<br />доход 15% от стоимости каждого заказа
        </p>
        <a href="/partneram" class="more">Подробнее</a>
      </div>
    </div>
  </div>
</div>
