<% if(!req.session.user) { %>
  <%- partial('form-order.ejs') %>
    <% } else { %>
      <%- partial('../../userCabinet/partial/form-order-cabinet.ejs') %>
        <% } %>
          <%- partial('form-price.ejs') %>
            <%- partial('form-login.ejs') %>
              <%- partial('form-register.ejs') %>
                <footer>
                  <div class="footer">
                    <div class="container full visible-xs">
                      <div class="row">
                        <div id="menu-xs-wrapper">
                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                  <h4 class="panel-title">
                  Услуги
                </h4>
                                </a>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                  <li><a href="/uslugi/name"><span>Диссертация</span></a></li>
                                  <li><a href="/uslugi/name"><span>Диплом</span></a></li>
                                  <li><a href="/uslugi/name"><span>Отчёт по практике</span></a></li>
                                  <li><a href="/uslugi/name"><span>Курсовая</span></a></li>
                                  <li><a href="/uslugi/name"><span>Контрольная</span></a></li>
                                  <li><a href="/uslugi/name"><span>Дистанционное обучение</span></a></li>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingTwo">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  <h4 class="panel-title">
                  Клиентам
                </h4>
                                </a>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                  <li><a href="/oformlenie-zakaza"><span>Как оформить заказ</span></a></li>
                                  <li><a href="/oplata"><span>Как оплатить</span></a></li>
                                  <li><a href="/garantii"><span>Гарантии</span></a></li>
                                  <li><a href="/oferta"><span>Договор</span></a></li>
                                  <li><a href="/vopros-otvet"><span>Вопрос-ответ</span></a></li>
                                  <li><a href="/discipliny"><span>Выполняемые дисциплины</span></a></li>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingThree">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <h4 class="panel-title">
                  О компании
                </h4>
                                </a>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                  <li><a href="/otzivy"><span>Отзывы</span></a></li>
                                  <li><a href="/nasha-komanda"><span>Наша команда</span></a></li>
                                  <li><a href="/vakansii"><span>Вакансии</span></a></li>
                                  <li><a href="/partneram"><span>Партнерам</span></a></li>
                                  <li><a href="/kontakty"><span>Контакты</span></a></li>
                                  <li><a href="/uchebnie-zavedenia"><span>Учебные заведения</span></a></li>
                                </div>
                              </div>
                            </div>
                          </div>
                          <li class="just-a-link"><a href="/oplata">Способы оплаты</a></li>
                        </div>
                        <div class="copy copy-mob">
                          <div class="social-footer soc-mob">
                            <a href="https://vk.com/za4etka_club" target="_blank"><img src="/images/vk.png" alt="" /></a>
                            <a href="https://www.instagram.com/za4etka_belarus/" target="_blank"><img src="/images/instagram.png" alt="" /></a>
                            <a href="https://ok.ru/zachetkako" target="_blank"><img src="/images/ok.png" alt="" /></a>
                            <a href="https://www.facebook.com/groups/za4etka/" target="_blank"><img src="/images/fb.png" alt="" /></a>
                          </div>
                          <div class="center">Частное предприятие "Зачётка"<br />УНП 490652223<br />Гомель, Советская, 60, оф. 6-6<br />2008-2017 &copy; za4etka.by<br />Все права защищены</div>
                        </div>
                      </div>
                    </div>
                    <div class="container full hidden-xs">
                      <div class="row">
                        <div class="col15-lg-3 col15-md-5 col15-sm-5 content">
                          <h3>Услуги</h3>
                          <ul>
                            <li><a href="/uslugi/name"><span>Диссертация</span></a></li>
                            <li><a href="/uslugi/name"><span>Диплом</span></a></li>
                            <li><a href="/uslugi/name"><span>Отчёт по практике</span></a></li>
                            <li><a href="/uslugi/name"><span>Курсовая</span></a></li>
                            <li><a href="/uslugi/name"><span>Контрольная</span></a></li>
                            <li><a href="/uslugi/name"><span>Дистанционное обучение</span></a></li>
                          </ul>
                        </div>
                        <div class="col15-lg-3 col15-md-5 col15-sm-5 content">
                          <h3>Клиентам</h3>
                          <ul>
                            <li><a href="/oformlenie-zakaza"><span>Как оформить заказ</span></a></li>
                            <li><a href="/oplata"><span>Как оплатить</span></a></li>
                            <li><a href="/garantii"><span>Гарантии</span></a></li>
                            <li><a href="/oferta"><span>Договор</span></a></li>
                            <li><a href="/vopros-otvet"><span>Вопрос-ответ</span></a></li>
                            <li><a href="/discipliny"><span>Выполняемые дисциплины</span></a></li>
                          </ul>
                        </div>
                        <div class="col15-lg-3 col15-md-5 col15-sm-5 content">
                          <h3><span class="hidden-sm hidden-xs">О компании</span><span class="visible-sm visible-xs">О нас</span></h3>
                          <ul>
                            <li><a href="/otzivy"><span>Отзывы</span></a></li>
                            <li><a href="/nasha-komanda"><span>Наша команда</span></a></li>
                            <li><a href="/vakansii"><span>Вакансии</span></a></li>
                            <li><a href="/partneram"><span>Партнерам</span></a></li>
                            <li><a href="/kontakty"><span>Контакты</span></a></li>
                            <li><a href="/uchebnie-zavedenia"><span>Учебные заведения</span></a></li>
                          </ul>
                        </div>
                        <div class="col15-lg-3 col15-md-4 col15-sm-5 content">
                          <h3>Способы оплаты</h3>
                          <div class="payments-icon">
                            <img src="/images/payment/1.png" alt="" />
                            <img src="/images/payment/2.png" alt="" />
                            <img src="/images/payment/3.png" alt="" />
                            <img src="/images/payment/4.png" alt="" />
                          </div>
                        </div>
                        <div class="col15-lg-3 col15-md-6 col15-sm-5 content">
                          <h3>Социальные сети</h3>
                          <div class="social-footer">
                            <a href="https://vk.com/za4etka_club" target="_blank"><img src="/images/vk.png" alt="" /></a>
                            <a href="https://www.instagram.com/za4etka_belarus/" target="_blank"><img src="/images/instagram.png" alt="" /></a>
                            <a href="https://ok.ru/zachetkako" target="_blank"><img src="/images/ok.png" alt="" /></a>
                            <a href="https://www.facebook.com/groups/za4etka/" target="_blank"><img src="/images/fb.png" alt="" /></a>
                          </div>
                          <div class="copy">
                            <div>Частное предприятие "Зачётка", УНП 490652223</div>Гомель, Советская, 60, оф. 6-6<br />2008-2017 &copy; za4etka.by<br />Все права защищены
                          </div>
                        </div>
                        <div class="to-top">
                          <a href="#"><span class="glyphicon glyphicon-menu-up"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>

                <div class="message-wrapper"></div>
                <audio id="eventAudio"><source src="/sound/notify.ogg" type="audio/ogg"><source src="/sound/notify.mp3" type="audio/mpeg"><source src="/sound/notify.wav" type="audio/wav"></audio>

                <el-dialog title="Оформление заказа" :visible.sync="orderDialogBasic" width="50%" center>
                  <span>Проверяйте правильность введённых данных. От этого зависит качество и скорость обработки заказа. Поля, помеченные звёздочкой (*) обязательны к заполнению!</span>
                  <el-form label-position="top" ref="orderFormBasic" :model="orderFormBasicData">
                    <el-row :gutter="50">
                      <el-col :span="12">
                        <el-form-item label="ФИО *">
                          <el-input clearable v-model="orderFormBasicData.name" :class="{'has-error': !orderNameValid && orderFormBasicData.name != ''}"></el-input>
                          <div class="invalid-feedback" v-if="!orderNameValid && orderFormBasicData.name != ''">
                            ФИО должно содержать минимум 3 символа!
                          </div>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="Телефон *" id="orderFormPhone">
                          <el-input clearable v-model="orderFormBasicData.phone" placeholder="Код оператора и номер" class="input-with-select">
                            <el-select placeholder="Страна" slot="prepend" v-model="orderFormBasicData.phonePrefix">
                              <el-option label="Беларусь (+375)" value="+375"></el-option>
                              <el-option label="Россия (+7)" value="+7"></el-option>
                              <el-option label="Украина (+380)" value="+380"></el-option>
                            </el-select>
                          </el-input>
                          <div class="invalid-feedback" v-if="!orderPhoneValid && orderFormBasicData.phone != ''">
                            Необходимо выбрать страну и ввести корректный номер телефона с кодом оператора!
                          </div>
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row :gutter="50">
                      <el-col :span="12">
                        <el-form-item label="Электронная почта *">
                          <el-input clearable v-model="orderFormBasicData.mail" :class="{'has-error': !orderMailValid && orderFormBasicData.mail != ''}"></el-input>
                          <div class="invalid-feedback" v-if="!orderMailValid && orderFormBasicData.mail != ''">
                            Необходимо ввести корректный e-mail!
                          </div>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="Учебное заведение *">
                          <el-input clearable v-model="orderFormBasicData.highschool" :class="{'has-error': !orderHighschoolValid && orderFormBasicData.highschool != ''}"></el-input>
                          <div class="invalid-feedback" v-if="!orderHighschoolValid && orderFormBasicData.highschool != ''">
                            Необходимо указать ваше учебное заведение!
                          </div>
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row :gutter="50">
                      <el-col :span="12">
                        <el-form-item label="Специальность *">
                          <el-input clearable v-model="orderFormBasicData.speciality" :class="{'has-error': !orderSpecialityValid && orderFormBasicData.speciality != ''}"></el-input>
                          <div class="invalid-feedback" v-if="!orderSpecialityValid && orderFormBasicData.speciality != ''">
                            Необходимо указать вашу специальность (кафедра, отделение и т.д.)!
                          </div>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="Курс *">
                          <el-select v-model="orderFormBasicData.course" :class="{'has-error': !orderCourseValid && orderFormBasicData.course != ''}" placeholder="Выберите курс, на котором учитесь">
                            <el-option label="1" value="1"></el-option>
                            <el-option label="2" value="2"></el-option>
                            <el-option label="3" value="3"></el-option>
                            <el-option label="4" value="4"></el-option>
                            <el-option label="5" value="5"></el-option>
                            <el-option label="6" value="6"></el-option>
                            <el-option label="Выпускник" value="Выпускник"></el-option>
                          </el-select>
                          <div class="invalid-feedback" v-if="!orderCourseValid && orderFormBasicData.course != ''">
                            Необходимо выбрать курс на котором вы учитесь!
                          </div>
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row :gutter="50">
                      <el-col :span="12">
                        <el-form-item label="Вид работы *">
                          <el-select v-model="orderFormBasicData.workType"  :class="{'has-error': !orderWorkTypeValid && orderFormBasicData.workType != ''}" placeholder="Выберите вид работы">
                            <% _.each(workTypes, function(worktype) { %>
                              <el-option label="<%= worktype.name %>" value="<%= worktype.id %>"></el-option>
                              <% }); %>
                            </el-select>
                            <div class="invalid-feedback" v-if="!orderWorkTypeValid && orderFormBasicData.workType != ''">
                              Необходимо выбрать вид работы!
                            </div>
                          </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="Дисциплина *">
                          <el-input clearable v-model="orderFormBasicData.discipline" :class="{'has-error': !orderDisciplineValid && orderFormBasicData.discipline != ''}"></el-input>
                          <div class="invalid-feedback" v-if="!orderDisciplineValid && orderFormBasicData.discipline != ''">
                            Необходимо указать дисциплину, по которой будет выполняться {{ orderFormBasicData.workType?orderFormBasicData.workType.toLowerCase():'работа!' }}
                          </div>
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row :gutter="50">
                      <el-col :span="12">
                        <el-form-item label="Тема *">
                          <el-input v-model="orderFormBasicData.theme" clearable :class="{'has-error': !orderThemeValid && orderFormBasicData.theme != ''}"></el-input>
                          <div class="invalid-feedback" v-if="!orderThemeValid && orderFormBasicData.theme != ''">
                            Необходимо указать тему работы!
                          </div>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item label="Выполнить к *">
                          <el-date-picker
                            v-model="orderFormBasicData.dateTo"
                            type="date"
                            placeholder="Выберите дату"
                            :picker-options="dateToSelectorOptions"
                            format="dd.MM.yyyy"
                            :editable="false"
                            :class="{'has-error': !orderDateToValid && orderFormBasicData.dateTo != ''}">
                          </el-date-picker>
                          <div class="invalid-feedback" v-if="!orderDateToValid && orderFormBasicData.dateTo != ''">
                            Необходимо выбрать корректную дату, к которой работа должна быть выполнена!
                          </div>
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row :gutter="50">
                      <el-col :span="24">
                        <el-form-item label="Комментарии">
                          <el-input type="textarea" clearable :autosize="{ minRows: 4, maxRows: 6}" v-model="orderFormBasicData.comment"></el-input>
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-form-item align="center">
                      <el-upload
                      class="upload"
                      drag
                      ref="orderFormUpload"
                      action="/api/upload"
                      :data="{_csrf:'',order:''}"
                      name="uploadFile"
                      :file-list="orderFormBasicData.fileList"
                      :auto-upload="false"
                      :on-success="alertSuccess"
                      multiple>
                      <i class="el-icon-upload"></i>
                      <div class="el-upload__text">Перетяните файлы сюда или <em>нажмите для загрузки</em></div>
                      <div class="el-upload__tip" slot="tip">изображения и документы не более 50МБ</div>
                    </el-upload>
                  </el-form-item>
                  <el-form-item label="Промо-код">
                    <el-input v-model="orderFormBasicData.promo" clearable></el-input>
                  </el-form-item>
                    <el-form-item align="center" style="font-weight:700;">
                      С условиями публичного договора согласен (нажмите на переключатель) *<br /><el-switch v-model="orderFormBasicData.agree"></el-switch>
                      <div class="invalid-feedback" v-if="!orderAgreeValid && orderFormBasicData.agree != ''">
                        Вы должны принять условия публичного договора!<br />Для этого нажмите на переключатель над текстом!
                      </div>
                    </el-form-item>
                  </el-form>

                  <span slot="footer" class="dialog-footer">
                    <el-button @click="orderDialogBasic = false">Отмена</el-button>
                    <el-button v-if="orderIsReadyForSending" type="primary" @click="sendOrder();">Отправить</el-button>
                  </span>
                </el-dialog>

                <el-dialog title="Смена пароля" :visible.sync="changePasswordDialog">
                  <el-form>
                    <el-form-item label="Текущий пароль">
                      <el-input v-model="oldPwd"></el-input>
                    </el-form-item>
                    <el-form-item label="Новый пароль">
                      <el-input v-model="newPwd"></el-input>
                    </el-form-item>
                  </el-form>
                  <span slot="footer">
                    <el-button @click="changePasswordDialog = false;">Отмена</el-button>
                    <el-button @click="changePassword();">Отправить</el-button>
                  </span>
                </el-dialog>
