<div id="login-dialog" class="zoom-anim-dialog mfp-hide">
  <div class="dialog-content">
  <h2>Вход в личный кабинет</h2>
  <p class="center">
    Введите ваш e-mail и пароль
  </p>
  <form class="form-horizontal" action="/login" method="POST" id="login-form">
    <div class="form-group">
      <div class="col-xs-12 left">
        <input type="text" name="email" value="" placeholder="E-mail" id="login-email">
        <input type="password" name="password" value="" placeholder="Пароль" id="login-password">
        <input type='hidden' name='_csrf' value='<%= _csrf %>'>
      </div>
    </div>
    <div class="lbtns-send">
      <div class="col-xs-12 center">
        <input type="submit" class="btn btn-z4-default" name="submit" value="Вход">
      </div>
    </div>
  </form>
  </div>
</div>
