<div id="subscribe-dialog" class="zoom-anim-dialog mfp-hide">
  <div class="dialog-content">
  <h2>Подписка на рассылку</h2>
  <p class="center">
    Подпишитесь на нашу рассылку чтобы всегда быть в курсе последних новостей!
  </p>
  <form class="form-horizontal" id="subscribe-form">
    <div class="form-group">
      <label for="type" class="col-sm-2 col-xs-12 control-label">E-mail <span class="important">*</span></label>
      <div class="col-sm-10 col-xs-12">
        <input type="email" name="name" value="" id="email-subscribe">
      </div>
    </div>
    <div class="sbtns-send">
      <div class="col-sm-12 col-xs-12 center">
        <a href="#" class="btn btn-z4-default subscribe-send">Подписаться</a>
      </div>
    </div>
  </form>
  </div>
</div>
