<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
  <div class="dialog-content">
  <h2>Оформить заказ</h2>
  <span class="important">*</span> - обязательно для заполнения
  <br />
  <br />
  <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/send/order" id="order-form">
    <h3 class="hidden">Регистрация</h3>
    <!--<ul>
      <li><a href="#order-step-1">Регистрация<br /><small>Основная информация</small></a></li>
      <li><a href="#order-step-2">Данные о заказе<br /><small>Подробно о заказе, задание, файлы</small></a></li>
    </ul>-->
    <div>
    <!--<div id="order-step-1">-->
      <div class="form-group">
        <label for="fio" class="col-sm-5 col-xs-12 control-label">ФИО <span class="important">*</span></label>
        <div class="col-sm-7 col-xs-12">
          <input type="text" id="fio" name="fio" class="form-control" placeholder="Ваше ФИО">
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-5 col-xs-12 control-label">Телефон <span class="important">*</span></label>
        <div class="col-sm-7 col-xs-12">
          <input type="text" name="phone" class="phone-select" id="phone" value="" placeholder="код и номер">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-5 col-xs-12 control-label">E-mail <span class="important">*</span></label>
        <div class="col-sm-7 col-xs-12">
          <input type="email" id="email" name="email" class="form-control" placeholder="Электронная почта">
        </div>
      </div>
      <div class="form-group">
        <label for="vuz" class="col-sm-5 col-xs-12 control-label">Учебное заведение <span class="important">*</span></label>
        <div class="col-sm-7 col-xs-12">
          <input type="text" id="vuz" name="vuz" class="form-control" placeholder="В котором учитесь">
        </div>
      </div>
      <div class="form-group">
        <label for="special" class="col-sm-5 col-xs-12 control-label">Специальность</label>
        <div class="col-sm-7 col-xs-12">
          <input type="text" id="special" name="special" class="form-control" placeholder="На которую учитесь">
        </div>
      </div>
      <div class="form-group">
        <label for="course" class="col-sm-5 col-xs-12 control-label">Курс</label>
        <div class="col-sm-7 col-xs-12">
          <select class="form-control" name="course" id="course">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
      </div>
    <!--</div>-->
    <h3 class="hidden">Данные о заказе</h3>
    <!--<div id="order-step-2">-->
    <input type='hidden' name='_csrf' id="order-token" value='<%= _csrf %>'>
    <div class="form-group">
      <label for="type" class="col-sm-5 col-xs-12 control-label">Вид работы <span class="important">*</span></label>
      <div class="col-sm-7 col-xs-12">
        <select name="type" id="type" class="form-control" placeholder="Выберите тип работы">
          <option value="не указано">Выберите вид работы</option>
          <% _.each(workTypes, function(worktype) { %>
            <option value="<%= worktype.name %>"><%= worktype.name %></option>
          <% }); %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="discipline" class="col-sm-5 col-xs-12 control-label">Дисциплина <span class="important">*</span></label>
      <div class="col-sm-7 col-xs-12">
        <input type="text" id="discipline" name="discipline" class="form-control" placeholder="На которую заказываете работу">
      </div>
    </div>
    <div class="form-group">
      <label for="theme" class="col-sm-5 col-xs-12 control-label">Тема</label>
      <div class="col-sm-7 col-xs-12">
        <input type="text" id="theme" name="theme" class="form-control" placeholder="На которую выполняется работа">
      </div>
    </div>
    <div class="form-group">
      <label for="todate" class="col-sm-5 col-xs-12 control-label">Выполнить к <span class="important">*</span></label>
      <div class="col-sm-7 col-xs-12">
        <input type="text" id="todate" name="todate" class="form-control atodate" placeholder="дд.мм.гггг">
      </div>
    </div>
    <div class="form-group">
      <label for="comment" class="col-sm-5 col-xs-12 control-label">Комментарии</label>
      <div class="col-sm-7 col-xs-12">
        <textarea class="form-control" name="comments" id="comments" rows="4" cols="40"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="comment" class="col-sm-5 col-xs-12 control-label">Промо-код</label>
      <div class="col-sm-7 col-xs-12 center">
        <input type="text" name="promocode" id="promocode" class="form-control" placeholder="Промо-код">
      </div>
    </div>
    <div class="form-group">
      <label for="file" class="col-sm-5 col-xs-12 control-label">Прикрепить файлы</label>
      <div class="col-sm-7 col-xs-12">
        <div class="fileform">
          <div id="fileformlabel"></div>
          <div class="selectbutton">Обзор</div>
          <input type="file" name="uploadFile" class="fileSelect" accept="image/jpeg,image/x-png,image/gif,image/png,application/x-zip-compressed,application/x-compressed,application/zip,multipart/x-zip,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,application/x-compressed,application/x-zip-compressed,application/zip,multipart/x-zip,application/vnd.ms-excel,application/vnd.ms-powerpoint" id="file" onchange="getName(this.value);" multiple="multiple">
        </div>
      </div>
    </div>
    <div class="col-xs-12 checkbox">
      <input type="checkbox" id="checkbox6" name="agreement"> <label for="checkbox6" name="checkbox2_lbl">С условиями публичного <a href="/oferta" target="_blank">договора</a> согласен\согласна <span class="important">*</span></label>
    </div>
    <div class="btns-send">
      <div class="col-sm-12 col-xs-12 center">
        <a href="#" class="btn btn-z4-default order-send">Узнать стоимость</a>
      </div>
    </div>
  <!--</div>-->
  </div>
  </form>
  </div>
</div>
