<div id="price-dialog" class="zoom-anim-dialog mfp-hide">
  <div class="dialog-content">
  <h2>Узнать стоимость</h2>
  <p class="center">
    <div class="data-price">
      <span id="price-param-theme"></span> по теме <span id="price-param-discipline"></span>
    </div>
    Введите ваш номер телефона или e-mail и мы вам перезвоним
  </p>
  <form class="form-horizontal" id="subscribe-form">
    <div class="form-group">
      <div class="col-xs-12 left">
        <input type="text" name="phone" value="" placeholder="Номер телефона или e-mail" id="price-phone">
        <input type='hidden' name='_csrf' id="price-token" value='<%= _csrf %>'>
      </div>
    </div>
    <div class="pbtns-send">
      <div class="col-xs-12 center">
        <a href="#" class="btn btn-z4-default price-send">Узнать стоимость</a>
      </div>
    </div>
  </form>
  </div>
</div>
