<header>
  <div class="container wide" style="width:100%;">
  <div class="row" align="center">
    <div class="line-1 full">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
          <a href="/"><div class="logo"></div></a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 phone">
          <span><a href="tel:+375295358361" class="tel">+375 29 535-83-61</a></span>
          <p class="hidden-xs">
            Бесплатный звонок по всей Беларуси
          </p>
        </div>
        <div class="hidden-lg hidden-md hidden-sm visible-xs col-xs-2 menu-mobile">
          <div class="menu">
            <nav class="navbar navbar-default">
              <div class="container wide" align="center">
                <div class="full">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-01" aria-expanded="false">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
              </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-lg-1 hidden-md hidden-sm hidden-xs clock">
          <span>24/7</span>
          <p>
            Приём заявок
          </p>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-3 hidden-xs btns">
          <% if(!req.session.user) { %>
            <a href="#" @click.prevent="fetchUserInfo(); orderDialogBasic = true;" class="btn btn-info"><span class="hidden-sm hidden-xs">Оформить заказ</span><span class="visible-sm visible-xs"><span class="glyphicon glyphicon-shopping-cart"></span></span></a>
          <% } else { %>
            <a href="#" @click.prevent="fetchUserInfo(); orderDialogBasic = true;" class="btn btn-info"><span class="hidden-sm hidden-xs">Оформить заказ</span><span class="visible-sm visible-xs"><span class="glyphicon glyphicon-shopping-cart"></span></span></a>
          <% } %>
          <%
          if(req.session.user) {
          %>
          <div class="dropdown float-right">
	          <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      	      Кабинет
    	        <b class="caret"></b>
	          </a>
	          <ul class="dropdown-menu">
              <li><a href="<% if(userType == 1) { %>/cabinet<% } %><% if(userType == 2) { %>/manager<% } %><% if(userType == 3) { %>/author<% } %><% if(userType == 4) { %>/partner<% } %>">В кабинет</a></li>
              <li><a href="/logout">Выйти</a></li>
	          </ul>
          </div>
          <%
          } else {
          %>
          <div class="dropdown float-right">
	          <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      	      Кабинет
    	        <b class="caret"></b>
	          </a>
	          <ul class="dropdown-menu">
              <li><a href="#login-dialog" class="popup-with-zoom-anim"><span class="hidden-sm hidden-xs">Вход в кабинет</span><span class="visible-sm visible-xs"><span class="glyphicon glyphicon-user"></span></span></a></li>
              <li><a href="#register-dialog" class="popup-with-zoom-anim"><span class="hidden-sm hidden-xs">Регистрация</span><span class="visible-sm visible-xs"><span class="glyphicon glyphicon-user"></span></span></a></li>
	          </ul>
          </div>
          <%
          }
          %>
        </div>
    </div>
    <div class="collapse navbar-collapse hidden-lg hidden-md hidden-sm" id="navbar-collapse-01">
      <ul class="nav navbar-nav">
        <li class="col-lg-1 col-md-1 col-sm-1 col-xs-12 active"><a href="/">Главная</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="/oplata">Оплата</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="/uslugi">Услуги</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="/vakansii">Вакансии</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="/partneram">Партнерам</a></li>
        <li class="col-lg-1 col-md-1 col-sm-2 col-xs-12"><a href="/blog">Блог</a></li>
        <li class="col-lg-2 col-md-2 col-sm-1 col-xs-12"><a href="/kontakty">О компании</a></li>
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12 fast-order-m"><a href="#small-dialog" class="popup-with-zoom-anim">Оформить заказ</a></li>
        <%
        if(req.session.user) {
        %>
        <li class="col-lg-1 col-md-1 col-sm-2 col-xs-6 auth-m"><a href="<% if(userType == 1) { %>/cabinet<% } %><% if(userType == 2) { %>/manager<% } %><% if(userType == 3) { %>/author<% } %><% if(userType == 4) { %>/partner<% } %>">В кабинет</a></li>
        <li class="col-lg-1 col-md-1 col-sm-2 col-xs-6 auth-m"><a href="/logout">Выйти</a></li>
        <%
        } else {
        %>
        <li class="col-lg-1 col-md-1 col-sm-2 col-xs-12 auth-m"><a href="#login-dialog" class="popup-with-zoom-anim">Вход в личный кабинет</a></li>
        <%
        }
        %>-->
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="menu hidden-xs">
      <nav class="navbar navbar-default">
        <div class="container wide" align="center">
          <div class="full">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="col-lg-1 col-md-1 col-sm-1 col-xs-12 active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
              <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="/oplata">Оплата</a></li>
              <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="/uslugi">Услуги</a></li>
              <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="/vakansii">Вакансии</a></li>
              <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="/partneram">Партнерам</a></li>
              <li class="col-lg-1 col-md-1 col-sm-1 col-xs-12"><a href="/blog">Блог</a></li>
              <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12 dropdown">
      	          <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
            	      О компании
          	        <b class="caret"></b>
      	          </a>
      	          <ul class="dropdown-menu">
                    <li><a href="/otzivy">Отзывы</a></li>
                    <!--<li><a href="/nasha-komanda">Наша команда</a></li>-->
                    <li><a href="/kontakty">Контакты</a></li>
      	          </ul>
              </li>
              <!--<li class="col-lg-2 col-md-2 col-sm-1 col-xs-12"><a href="#"><span class="hidden-sm hidden-xs">О компании</span><span class="visible-sm visible-xs">О нас</span></a></li>-->
            </ul>
          </div>
        </div>
        </div>
      </nav>
    </div>
  </div>
  </div>
</header>
