<div class="block-white doubled-inner bottom-0 steps">
  <h2>Как мы работаем</h2>
  <div class="container" align="center">
    <div class="row sub">
      <div class="col-xs-12 visible-xs hidden-sm">
        <div id="slider-generic6" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/images/steps/1.png" alt="" />
              <p>
                1. Вы оформляете заявку
              </p>
            </div>
            <div class="item">
              <img src="/images/steps/2.png" alt="" />
              <p>
                2. Получаете доступ в личный кабинет и персонального менеджера
              </p>
            </div>
            <div class="item">
              <img src="/images/steps/3.png" alt="" />
              <p>
                3. Менеджер сообщает стоимость
              </p>
            </div>
            <div class="item">
              <img src="/images/steps/4.png" alt="" />
              <p>
                4. Вносите предоплату
              </p>
            </div>
            <div class="item">
              <img src="/images/steps/5.png" alt="" />
              <p>
                5. Специалист выполняет работу
              </p>
            </div>
            <div class="item">
              <img src="/images/steps/6.png" alt="" />
              <p>
                6. Получаете уведомление о готовности
              </p>
            </div>
            <div class="item">
              <img src="/images/steps/7.png" alt="" />
              <p>
                7. Скачиваете готовую работу в личном кабинете
              </p>
            </div>
          <a class="left carousel-control" href="#slider-generic6" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
          </a>
          <a class="right carousel-control" href="#slider-generic6" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
          </a>
        </div>
      </div>
      </div>
      <div class="col-lg-12 hidden-xs step" align="center">
        <table class="process-inner">
          <tr>
            <td>
              <img src="/images/steps/1.png" alt="" />
              <p>
                1. Вы оформляете заявку
              </p>
            </td>
            <td class="hidden-md hidden-sm hidden-xs">
              <img src="/images/steps/arr_dn.png" alt="" />
            </td>
            <td class="dn">
              <img src="/images/steps/2.png" alt="" />
              <p>
                2. Получаете доступ в личный кабинет и персонального менеджера
              </p>
            </td>
            <td class="hidden-md hidden-sm hidden-xs">
              <img src="/images/steps/arr_up.png" alt="" />
            </td>
            <td>
              <img src="/images/steps/3.png" alt="" />
              <p>
                3. Менеджер сообщает стоимость
              </p>
            </td>
            <td class="hidden-md hidden-sm hidden-xs">
              <img src="/images/steps/arr_dn.png" alt="" />
            </td>
            <td class="dn">
              <img src="/images/steps/4.png" alt="" />
              <p>
                4. Вносите предоплату
              </p>
            </td>
            <td class="hidden-md hidden-sm hidden-xs">
              <img src="/images/steps/arr_up.png" alt="" />
            </td>
            <td>
              <img src="/images/steps/5.png" alt="" />
              <p>
                5. Специалист выполняет работу
              </p>
            </td>
            <td class="hidden-md hidden-sm hidden-xs">
              <img src="/images/steps/arr_dn.png" alt="" />
            </td>
            <td class="dn">
              <img src="/images/steps/6.png" alt="" />
              <p>
                6. Получаете уведомление о готовности
              </p>
            </td>
            <td class="hidden-md hidden-sm hidden-xs">
              <img src="/images/steps/arr_up.png" alt="" />
            </td>
            <td>
              <img src="/images/steps/7.png" alt="" />
              <p>
                7. Скачиваете готовую работу в личном кабинете
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
