<div id="partnerApp">
  <div class="sidebar-menu">
    <div class="logo-primary">
      <img src="/images/logo.png" alt="" style="width:150px;margin-left:-5px;">
    </div>
    <ul>
      <li class="sidemenu-title">Навигация</li>
      <router-link to="/" title="Главная">
        <li><span class="glyphicon glyphicon-plus"></span>Главная</li>
      </router-link>
      <router-link to="/orders" title="Заказы">
        <li><span class="glyphicon glyphicon-shopping-cart"></span>Заказы</li>
      </router-link>
      <router-link to="/library" title="Справочник">
        <li><span class="glyphicon glyphicon-list"></span>Справочники</li>
      </router-link>
      <router-link to="/profile" title="Профиль">
        <li><span class="glyphicon glyphicon-user"></span>Профиль</li>
      </router-link>
      <router-link to="/payment" title="Оплата">
        <li><span class="glyphicon glyphicon-usd"></span>Оплата</li>
      </router-link>
      <router-link to="/organizer" title="Органайзер">
        <li><span class="glyphicon glyphicon-list-alt"></span>Органайзер</li>
      </router-link>
      <a href="/logout" title="Выход">
        <li><span class="glyphicon glyphicon-remove-sign"></span>Выход</li>
      </a>
    </ul>
  </div>
  <nav class="navbar top-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" name="button"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
      </div>
      <ul class="nav navbar-nav nav-right">
        <li><span class="glyphicon glyphicon-envelope"></span></li>
        <li><span class="glyphicon glyphicon-question-sign"></span></li>
        <li><span class="glyphicon glyphicon-cog"></span></li>
      </ul>
    </div>
  </nav>
