<div id="order-dialog-cabinet" class="zoom-anim-dialog mfp-hide">
  <div class="dialog-content">
  <h2>Оформить заказ</h2>
  <span class="important">*</span> - обязательно для заполнения
  <br />
  <br />
  <form class="form-horizontal" id="order-form-cabinet">
    <div class="form-group">
      <label for="type" class="col-sm-5 col-xs-12 control-label">Вид работы <span class="important">*</span></label>
      <div class="col-sm-7 col-xs-12">
        <select name="type" id="type" class="form-control" placeholder="Выберите тип работы">
          <option value="не указано">Выберите вид работы</option>
          <% _.each(workTypes, function(worktype) { %>
            <option value="<%= worktype.id %>"><%= worktype.name %></option>
          <% }); %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="discipline" class="col-sm-5 col-xs-12 control-label">Дисциплина <span class="important">*</span></label>
      <div class="col-sm-7 col-xs-12">
        <input type="text" id="discipline" name="discipline" class="form-control" placeholder="На которую заказываете работу">
      </div>
    </div>
    <div class="form-group">
      <label for="theme" class="col-sm-5 col-xs-12 control-label">Тема</label>
      <div class="col-sm-7 col-xs-12">
        <input type="text" id="theme" name="theme" class="form-control" placeholder="На которую выполняется работа">
      </div>
    </div>
    <div class="form-group">
      <label for="todate" class="col-sm-5 col-xs-12 control-label">Выполнить к <span class="important">*</span></label>
      <div class="col-sm-7 col-xs-12">
        <input type="text" id="todate" name="todate" class="form-control atodate">
      </div>
    </div>
    <div class="form-group">
      <label for="file" class="col-sm-5 col-xs-12 control-label">Задание</label>
      <div class="col-sm-7 col-xs-12">
        <input type="file" name="file" class="form-control" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,application/x-compressed,application/x-zip-compressed,application/zip,multipart/x-zip,application/vnd.ms-excel,application/vnd.ms-powerpoint" id="file">
      </div>
    </div>
    <div class="form-group">
      <label for="comment" class="col-sm-5 col-xs-12 control-label">Комментарии</label>
      <div class="col-sm-7 col-xs-12">
        <textarea class="form-control" name="comments" id="comments" rows="4" cols="40"></textarea>
      </div>
    </div>
    <div class="col-xs-12 checkbox">
      <input type="checkbox" id="checkbox6" name="agreement"> <label for="checkbox6" name="checkbox2_lbl">С условиями публичного <a href="/oferta" target="_blank">договора</a> согласен\согласна <span class="important">*</span></label>
    </div>
    <div class="clearfix"></div>
    <div class="ocbtns-send">
      <div class="col-sm-6 col-xs-12 center">
        <div class="promocode-input input-group">
          <input type="text" name="promocode" class="form-control pcode" placeholder="Промо-код">
          <input type='hidden' name='_csrf' id="сorder-token" value='<%= _csrf %>'>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 center">
        <a href="#" class="btn btn-z4-default corder-send">Заказ</a>
      </div>
    </div>
  </form>
  </div>
</div>
