<div class="cabinet-menu">
  <a href="/cabinet"><div class="col15-sm-3 cabinet-menu-element"><img src="/images/cabinet/orders-w.svg" alt="" />Мои заказы</div></a>
  <a href="#" @click="fetchUserInfo(); orderDialogBasic = true;"><div class="col15-sm-3 cabinet-menu-element"><img src="/images/cabinet/neworder-w.svg" alt="" />Новый заказ</div></a>
  <a href="/cabinet/earn"><div class="col15-sm-3 cabinet-menu-element"><img src="/images/cabinet/earn-w.svg" alt="" />Заработай</div></a>
  <a href="/cabinet/profile"><div class="col15-sm-3 cabinet-menu-element"><img src="/images/cabinet/profile-w.svg" alt="" />Профиль</div></a>
  <a href="/cabinet/messages"><div class="col15-sm-3 cabinet-menu-element last"><img src="/images/cabinet/message-w.svg" alt="" />Сообщения <% if(newMessagesNum > 0) { %><span class="badge newMessagesNum"><%= newMessagesNum %></span><% } %></div></a>
</div>
