<div class="col-sm-3 hidden-xs rightside">
  <div class="cabinet-banner">
    <img src="/images/cabinet/banner-1.jpg" alt="" />
    <a href="/cabinet/earn" class="btn btn-z4-default btn-earn">Начать зарабатывать</a>
  </div>
  <div class="partner-paids">
    <div class="col-sm-6 arrow-container">
      <div class="arrow_box<% if(userPaid >= 30 && userPaid < 50) { %> profile-step-2<% } %><% if(userPaid >= 50 && userPaid < 100) { %> profile-step-3<% } %><% if(userPaid >= 100 && userPaid < 150) { %> profile-step-4<% } %><% if(userPaid >= 150) { %> profile-step-5<% } %>" data-toggle="tooltip" data-placement="bottom" title="Общая сумма оплаченных вами заказов"><%= userPaid %> руб.</div>
    </div>
    <div class="col-sm-6 profile-scale">
      <ul>
        <li>25% - 150 руб.</li>
        <li>20% - 100 руб.</li>
        <li>15% - 50 руб.</li>
        <li>13% - 30 руб.</li>
        <li>10% - 0 руб.</li>
      </ul>
    </div>
  </div>


</div>
