<template lang="html">
  <div class="container content">
    <div class="cabinet-control">
      <h2>Кабинет автора</h2>
      <div class="well well-sm">
        Test
      </div>
    </div>
  </div>
</template>

<script>
  module.exports = {
    methods: {
      fetchWt() {
        this.$http.get('/api/wt').then(response => {
          this.workTypes = response.body;
        });
      },
      fetchCounts() {
        this.$http.get('/author/statusList').then(response => {
          this.counts = response.body;
        });
      }
    },
    created() {
      this.fetchWt();
      this.fetchCounts();
    },
    data() {
      return {
        workTypes: null,
        workType: null,
        counts: null
      }
    }
  }
</script>
