<template lang="html">
  <div class="container content">
    <div class="cabinet-control" v-if="order">
      <div class="container-fluid">
      <h4 class="page-title">Заказ №{{order.id}} от {{order.createdAt | moment("DD.MM.YYYY")}}</h4>
      <h5 class="bcrumbs"><a href="/author#/orders/1">Заказы</a> > <a :href="'/author#/orders/' + authorStatus">{{ authorStatusList[authorStatus] }}</a></h5>
        <div v-if="authorStatus == 1">
          <span v-if="agreeLocked">Ожидание решения <a class="btn btn-danger" @click="cancelRequest();">Снять заявку</a></span>
          <a class="btn btn-success" @click="agree(); notifyManager('Уведомление', 'Автор оставил заявку к заказу №' + order.id)" v-if="!agreeLocked">Выполню</a>
          <a class="btn btn-warning" @click="suggestDialogVisible = true; notifyManager('Уведомление', 'Автор оставил заявку к заказу №' + order.id)" v-if="!agreeLocked">Мои условия</a>
        </div>
        <div v-if="authorStatus == 2">
          Ожидание оплаты от клиента<br /><br>
        </div>
        <div v-if="authorStatus == 3">
          <a class="btn btn-info" v-if="filesList.length > 0" @click="createArchive(order);">Скачать задание</a>
          <a v-if="showConfirmButton" class="btn btn-success" @click="confirmWork();">Принято в работу</a>
          <a v-if="!showUploadButton" class="btn btn-success" @click="checkWork();">Работа загружена, отправить на проверку</a>
          <a v-if="showUploadButton" class="btn btn-success" @click="showUploadButton = false; showUploadForm = true; fileType = 100;">Загрузить готовую работу</a>
        </div>
        <div v-if="authorStatus == 4">
          <a class="btn btn-info" v-if="filesList.length > 0" @click="createArchive(order);">Скачать задание</a>
          <a v-if="order.inFix != 1" class="btn btn-success" @click="confirmFix();">Принято на доработку</a>
          <a v-if="order.inFix == 1" class="btn btn-success" @click="completedFix();">Исправления внесены, работа загружена</a>
        </div>
        <div v-if="authorStatus == 5">
          На проверке<br /><br>
        </div>
        <div v-if="authorStatus == 6">
          В архиве<br /><br>
        </div>

        <div class="block-dark">
            <div class="col-xs-4" style="padding-left:0px;">
              <h3>Основная информация</h3>
              <h5 style="margin-bottom:8px; padding-top:0px;">Информация о заказе</h5>
              <b>Вид работы: {{ order.order_type.name }}<br />
                Дисциплина: {{ order.order_discipline }}<br />
                Тема: {{ order.order_theme }}
              </b>
            </div>
            <div class="col-xs-4" style="padding-left:0px;">
              <h3 v-if="authorStatus == 1">Стоимость по сервису</h3>
              <h3 v-if="authorStatus != 1">Условия работы</h3>
              <h5 style="margin-bottom:8px; padding-top:0px;">Данные о сроках и стоимости. Определяется автоматически, или менеджером</h5>
              <b style="display:block;" v-if="order.paytoauthor > 0">Гонорар: {{ order.paytoauthor }} руб.</b>
              <b style="display:block;" v-if="order.date_to !== null">Выполнить к: {{ order.date_to | moment("DD.MM.YYYY") }}</b>
              <b style="display:block;" v-if="order.date_to == null && order.paytoauthor <= 0">Данные пока не указаны менеджером. Можно сделать своё предложение при наличии доступа</b>
            </div>
            <div class="col-xs-4" v-if="authorStatus == 1" style="padding-left:0px;">
              <h3>Ваше предложение</h3>
              <h5 style="margin-bottom:8px; padding-top:0px;">Срок готовности работы и стоимость</h5>
              <b style="display:block;" v-if="suggestions.length > 0 && suggestions[0].data">Гонорар: {{ JSON.parse(suggestions[0].data).price }} руб.</b>
              <b style="display:block;" v-if="suggestions.length > 0 && suggestions[0].data">Выполню к: {{ JSON.parse(suggestions[0].data).date | moment("DD.MM.YYYY") }}</b>
              <b style="display:block;" v-if="!suggestions.length > 0">Вы пока не отозвались на предложение</b>
              <b style="display:block;" v-if="suggestions.length > 0 && !suggestions[0].data">Вы согласны с текущими условиями. Заявка на рассмотрении</b>
            </div>
          <div class="clearfix"></div>
        </div>

    <el-dialog title="Предложить другие условия" :visible.sync="suggestDialogVisible" size="tiny">
      <input type="text" class="form-control" v-model="formSuggestedPrice" placeholder="Стоимость" name="sprice" value="">
      <el-date-picker format="dd.MM.yyyy" v-model="formSuggestedDateTo" type="date" placeholder="Выберите день сдачи работы"></el-date-picker>
      <textarea class="form-control" rows="8" cols="80" v-model="suggestionMessage" placeholder="Сопроводительное сообщение"></textarea>
      <span slot="footer" class="dialog-footer">
        <el-button @click="suggestDialogVisible = false">Отмена</el-button>
        <el-button type="primary" @click="suggestDialogVisible = false; suggest();">Отправить</el-button>
      </span>
    </el-dialog>

    <div class="clearfix"></div>

    <div class="col-xs-6" style="padding-left: 0;">
      <div class="block-dark">
          <h3>Чат с менеджером</h3>
          <h5>Сервис обмена сообщениями с менеджером</h5>
          <br />
              <div class="col-xs-3 chat-info" style="padding-left: 0;">
                  <div class="col-xs-3" style="padding-left: 0; margin-bottom: 5px;">
                    <img src="/images/manager/client-r.svg" alt="" />
                  </div>
                  <div class="col-xs-9" style="padding-left: 0; margin-bottom: 5px;" v-if="order">
                    {{ order.user.name?order.user.name:'не указано' }}
                  </div>

                  <div class="clearfix"></div>

                  <div class="col-xs-3" style="padding-left: 0;">
                    <img src="/images/manager/phone-b.svg" alt="" />
                  </div>
                  <div class="col-xs-9" style="padding-left: 0;" v-if="order">
                    {{ order.user.phone?order.user.phone:'не указано' }}
                  </div>
              </div>
              <div class="col-xs-9 chat-area" v-if="chat">
                <div class="chat-field well well-sm">
                  <div class="chat-messages">
                    <div v-if="!chat" id="preloader">
                      Загрузка сообщений..
                      <img src="/images/preloader.gif" alt="" />
                    </div>
                    <div v-else class="messages-all">
                      <span style="text-align:center; display:block;" v-if="chat.length == 0">Сообщений нет</span>
                      <div v-for="msg in chat">

                        <div class="message" :class="{'mine': msg.to, 'his': msg.from}">
                          <div class="col-xs-4">
                            <span>{{ msg.createdAt | moment("DD.MM.YYYY HH:mm") }}</span>
                            <br />
                            <b v-if="msg.from">{{ msg.from.name }} (менеджер)</b>
                            <b v-if="msg.to">Вы</b>
                          </div>
                          <div class="col-xs-8">
                            {{ msg.message }}
                          </div>
                          <div class="clearfix"></div>
                        </div>

                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group chat-input">
                <textarea class="form-control" placeholder="Ваше сообщение" name="msgToManager" rows="4" cols="40" v-model="messageToManager" @keyup.stop.prevent.ctrl.enter="sendMessage();"></textarea>
                <button class="btn btn-info" @click.stop.prevent="sendMessage();" id="chatSend" type="button">Отправить</button>
              </div>
          <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-xs-6" style="padding-right: 0;">
      <div class="block-dark">
        <h3>Файлы</h3>
        <h5>Используется для загрузки файлов. Все загруженные файлы проходят проверку менеджером</h5>
        <div id="files">
          <el-table :data="filesList" border v-show="!showUploadForm">
            <el-table-column property="name" label="Файл">
              <template scope="scope">
                <a :href="'/uploads/' + $route.params.id + '/' + scope.row.path" target="_blank">{{ scope.row.name }}</a>
              </template>
            </el-table-column>
            <el-table-column property="createdAt" sortable label="Загружен">
              <template scope="scope">
                {{ scope.row.createdAt | moment('DD.MM.YYYY HH:mm') }}
              </template>
            </el-table-column>
          </el-table>
          <br />
          <el-button type="primary" v-show="!showUploadForm" @click="showUploadForm = true;">Загрузить <i class="el-icon-plus"></i></el-button>
          <div v-show="showUploadForm">
            <el-upload
              class="upload"
              drag
              name="uploadFile"
              :data="{ '_csrf':csrfToken, 'order':id, 'type':fileType, 'access':true, 'visible':false }"
              action="/api/upload"
              :file-list="fileList"
              :on-success="function(r, file, fl) { filesList.push(r); }"
            multiple>
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">Перетяните файлы сюда или <em>нажмите для выбора файлов</em></div>
              <div class="el-upload__tip" slot="tip">Документы и изображения не больше 15Мб</div>
            </el-upload>
            <br />
            <el-button type="warning" @click="showUploadForm = false; test();">Закрыть</el-button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
  </div>
  </div>
</template>

<script>
module.exports = {
  methods: {
    moment: function() {
      return moment();
    },
    /*downloatTask() {
      this.$http.post('/author/files', {
        _csrf: this.csrfToken,
        order: this.$route.params.id
      }).then(response => {
        console.log(response.body);
      });
    },*/
    checkWork() {
      this.$http.post('/author/check', {
        _csrf: this.csrfToken,
        order: this.$route.params.id
      }).then(response => {
        this.$notify({
          title: 'Отправка работы на проверку',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
        this.authorStatus = 5;
      });
    },
    notifyManager(title, message) {
      this.$http.post('/author/notifyManager', {
        _csrf: this.csrfToken,
        title,
        message
      });
    },
    confirmWork() {
      this.$http.post('/author/confirm', {
        _csrf: this.csrfToken,
        order: this.$route.params.id
      }).then(response => {
        this.$notify({
          title: 'Принять заказ в работу',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
        this.showConfirmButton = false;
      });
    },
    confirmFix() {
      this.$http.post('/author/confirmFix', {
        _csrf: this.csrfToken,
        order: this.$route.params.id
      }).then(response => {
        this.$notify({
          title: 'Принять заказ на доработку',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
        this.showConfirmFixButton = false;
      });
    },
    completedFix() {
      this.$http.post('/author/completedFix', {
        _csrf: this.csrfToken,
        order: this.$route.params.id
      }).then(response => {
        this.$notify({
          title: 'Отправка доработки',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
        this.showCompletedFixButton = false;
        this.authorStatus = 5;
      });
    },
    cancelRequest() {
      this.$http.post('/author/cancel', {
        _csrf: this.csrfToken,
        order: this.$route.params.id
      }).then(response => {
        this.$notify({
          title: 'Снять заявку на заказ',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
        this.agreeLocked = false;
      });
    },
    agree() {
      this.$http.get("/author/agree/" + this.$route.params.id).then(response => {
        this.$notify({
          title: 'Отклик',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
        this.agreeLocked = true;
      });
    },
    fetchMySuggestion() {
      this.$http.get('/author/suggestion/' + this.$route.params.id).then(response => {
        this.mySuggestion = response.body;
      });
    },
    suggest() {
      this.suggestion = '{ "price":' + this.formSuggestedPrice + ', "date":"' + this.formSuggestedDateTo + '"}';
      this.$http.post("/author/suggest", {
        order: this.$route.params.id,
        _csrf: this.csrfToken,
        data: this.suggestion,
        message: this.suggestionMessage
      }).then(response => {
        this.$notify({
          title: 'Ваши условия',
          message: response.body,
          duration: 5000,
          type: 'info'
        });
        this.agreeLocked = true;
      });
    },
    sendMessage() {
      var app = this;
      if (this.messageToManager != null) {
        io.socket.post('/api/message', {
          message: this.messageToManager,
          to: this.order.manager,
          order: this.$route.params.id,
          _csrf: this.csrfToken
        }, function(a) {
          app.fetchChat();
        });
      }
    },
    fetchChat() {
      var el = this;
      this.$http.get('/api/user').then(user => {
        this.userToken = user.body.user;
      });
      this.$http.get('/csrfToken').then(response => {
        this.$http.post('/api/chats', {
          order: this.$route.params.id,
          _csrf: response.body._csrf
        }).then(response => {
          this.chat = response.body;
          if (this.messageToManager == "") {
            document.getElementById('eventAudio').play();
          }
          this.messageToManager = "";
        });
      });
    },
    fetchWt() {
      this.$http.get('/api/wt').then(response => {
        this.workTypes = response.body;
      });
    },
    fetchOrdersCount() {
      this.$http.get('/author/ordersShorted').then(response => {
        this.ordersCount = [0, 0, 0, 0, 0, 0, 0];
        response.body.forEach(item => {
          this.ordersCount[item.author_status]++;
        });
      });
    },
    fetchCounts() {
      this.$http.get('/author/statusList').then(response => {
        this.counts = response.body;
      });
    },
    fetchOrder() {
      this.$http.get('/author/order/' + this.$route.params.id).then(response1 => {
        this.$http.get('/author/suggestions/' + this.$route.params.id).then(response2 => {
          this.suggestions = response2.body;
          if (response2.body.length > 0) {
            this.agreeLocked = true;
          } else {
            this.agreeLocked = false;
          }
          if (response1.body.inWork != 1) {
            this.showConfirmButton = true;
          } else {
            this.showConfirmButton = false;
          }
          if (response1.body.inFix != 1) {
            this.showConfirmFixButton = true;
          } else {
            this.showConfirmFixButton = false;
          }
          this.order = response1.body;
          this.authorStatus = response1.body.author_status;
        });
      });
    },
    createArchive(order) {
      this.$http.get('/csrfToken').then(response => {
        this.$http.post('/api/createArchive', {
          order,
          '_csrf': response.body._csrf
        }).then(response => {
          var url = response.body;
          window.open(url, '_self');
          return true;
        });
      });
    },
    fetchCSRF() {
      if (!this.csrfToken) {
        this.$http.get("/csrfToken").then(response => {
          this.csrfToken = response.body._csrf;
        });
      }
    },
    fetchFileList() {
      this.$http.get("/author/fileList/" + this.$route.params.id).then(response => {
        this.filesList = response.body;
        $.each(response.body, function(elm, v) {
          this.access[v.path] = v.access;
          this.visible[v.path] = v.visible;
        });
      });
    },
    joinGlobal() {
      var app = this;
      io.socket.get('/api/joinGlobalAuthors', function() {
        io.socket.on('forceUpdate', function() {
          app.fetchOrder();
        });
      });
    }
  },
  created() {
    this.fetchWt();
    this.fetchCounts();
    this.fetchOrder();
    this.fetchCSRF();
    this.joinGlobal();
    this.fetchFileList();
    this.fetchChat();
  },
  data() {
    return {
      id: this.$route.params.id,
      csrfToken: null,
      workTypes: null,
      workType: null,
      chatTab: "first",
      counts: null,
      agreeLocked: true,
      order: null,
      messageToManager: null,
      showConfirmButton: true,
      showConfirmFixButton: true,
      suggestion: null,
      fileType: 100,
      filesList: [],
      archivingFiles: false,
      authorStatus: null,
      authorStatusList: ["", "На тендере", "Предзаказ", "В работе", "На доработке", "На проверке", "Архив"],
      showUploadButton: true,
      showUploadForm: false,
      ordersCount: [],
      suggestionMessage: null,
      agreeDialogVisible: true,
      suggestDialogVisible: false,
      formSuggestedDateTo: "",
      formSuggestedPrice: ""
    }
  }
}
</script>
