<template lang="html">
  <div class="container content">
    <div class="cabinet-control">
      <div class="container-fluid">
      <h4 class="page-title">Управление заказами</h4>
      <h5>Если какой-либо вкладки нет - в разделе нет ни одного заказа.</h5>
        <ul v-if="ordersCount" class="work-types">
          <router-link v-if="ordersCount[1] > 0" to="/orders/1">
            <el-tag type="gray">На тендере <b>{{ ordersCount[1] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[2] > 0" to="/orders/2">
            <el-tag type="gray">Предзаказ <b>{{ ordersCount[2] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[3] > 0" to="/orders/3">
            <el-tag type="gray">В работе <b>{{ ordersCount[3] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[4] > 0" to="/orders/4">
            <el-tag type="gray">На доработке <b>{{ ordersCount[4] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[5] > 0" to="/orders/5">
            <el-tag type="gray">На проверке <b>{{ ordersCount[5] }}</b></el-tag>
          </router-link>
          <router-link v-if="ordersCount[6] > 0" to="/orders/6">
            <el-tag type="gray">Архив <b>{{ ordersCount[6] }}</b></el-tag>
          </router-link>
        </ul>

      <div class="block-dark">
        <el-table v-loading.body="loading" border stripe :data="orders" :default-sort = "{prop: 'createdAt', order: 'descending'}" style="width: 100%">
          <el-table-column prop="createdAt" sortable label="Дата" width="130">
            <template scope="scope">
              {{ scope.row.createdAt | moment('DD.MM.YYYY') }}
            </template>
          </el-table-column>
          <el-table-column prop="id" sortable label="Заказ" width="72">
            <template scope="scope">
              <a :href="'/author#/order/' + scope.row.id">{{ scope.row.id }}</a>
            </template>
          </el-table-column>
          <el-table-column prop="order_type.name" sortable label="Вид работы" width="170"></el-table-column>
          <el-table-column prop="order_discipline" sortable label="Дисциплина"></el-table-column>
          <el-table-column prop="order_theme" sortable label="Тема"></el-table-column>
          <el-table-column prop="date_to" sortable label="Выполнить к" width="130">
            <template scope="scope">
              {{ scope.row.date_to | moment('DD.MM.YYYY') }}
            </template>
          </el-table-column>
          <el-table-column prop="paytoauthor" sortable label="Стоимость" width="120"></el-table-column>
          <el-table-column prop="comments" sortable label="Примечания" width="120"></el-table-column>
        </el-table>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
  module.exports = {
    methods: {
      moment: function() {
        return moment();
      },
      fetchWt() {
        this.$http.get('/api/wt').then(response => {
          this.workTypes = response.body;
        });
      },
      fetchOrdersCount() {
        this.$http.get('/author/ordersShorted').then(response => {
          this.ordersCount = [0, 0, 0, 0, 0, 0, 0];
          response.body.forEach(item => {
            this.ordersCount[item.author_status]++;
          });
        });
      },
      fetchCounts() {
        this.$http.get('/author/statusList').then(response => {
          this.counts = response.body;
        });
      },
      fetchOrdersByType() {
        var app = this;
        this.$http.get("/csrfToken").then(token => {
          this.csrfToken = token.body._csrf;
          this.$http.post("/author/orders", {as: app.$route.params.type, _csrf: token.body._csrf}).then(response => {
            this.orders = response.body.orders;
          });
        });
      },
      joinGlobal() {
        var app = this;
        io.socket.get('/api/joinGlobalAuthors', function() {
          io.socket.on('forceUpdate', function() {
            app.fetchOrdersByType();
          });
        });
      }
    },
    created() {
      this.fetchWt();
      this.fetchOrdersCount();
      this.fetchOrdersByType();
      this.joinGlobal();
    },
    watch: {
      '$route': ['fetchOrdersByType', 'fetchCounts']
    },
    data() {
      return {
        workTypes: null,
        workType: null,
        csrfToken: null,
        counts: null,
        ordersCount: [],
        orders: null,
        ordersByType: null
      }
    }
  }
</script>
