<template lang="html">
  <div class="container content">
  <div class="cabinet-control">
  <div class="container-fluid">
    <h4 class="page-title">Оплата</h4>
    <el-date-picker
      v-model="dateRange"
      type="daterange"
      placeholder="Выберите диапазон"
      :picker-options="rangeOptions">
    </el-date-picker>
    <div class="block-dark">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Заказ</th>
            <th>Дата</th>
            <th>Стоимость</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="order in ordersByDateRange">
            <td>{{ order.id }}</td>
            <td>{{ order.createdAt | moment("DD.MM.YYYY") }}</td>
            <td>{{ order.paytoauthor }}</td>
          </tr>
        </tbody>
      </table>
      Итог за выбранный период: <h3>{{ Math.round(totalSum) }}</h3>
    </div>
  </div>
  </div>
  </div>
</template>

<script>
module.exports = {
  methods: {
    moment: function() {
      return moment();
    },
    fetchOrders() {
      this.$http.get('/author/earnings').then(response => {
        this.orders = response.body;
        this.orders.forEach(item => {
          this.totalSum += item.paytoauthor;
        });
      });
    }
  },
  created() {
    this.fetchOrders();
  },
  computed: {
    ordersByDateRange: function() {
      var dateRange = this.dateRange;
      var orders = this.orders;

      if(!dateRange) {
        return orders;
      }

      orders = orders.filter(item => {
        if(new Date(item.createdAt).getTime() >= new Date(dateRange[0]).getTime() && new Date(item.createdAt).getTime() <= new Date(dateRange[1]).getTime()) {
          return item;
        }
      })
      this.totalSum = 0;
      orders.forEach(item => {
        this.totalSum += item.paytoauthor;
      })
      return orders;
    }
  },
  data() {
    return {
      orders: [],
      dateRange: null,
      totalSum: 0,
      rangeOptions: {
          shortcuts: [{
            text: 'Последняя неделя',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Последний месяц',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Последние 3 месяца',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
    }
  }

}
</script>
