<template lang="html">
  <div class="container content">
    <div class="cabinet-control" v-if="user">
      <div class="container-fluid">
      <h4 class="page-title">Ваш профиль</h4>
      <div class="col-xs-6" style="padding-left: 0;">
        <div class="well well-sm">
          <h4>Основная информация</h4>
          <div class="form-group col-xs-12">
            <label for="email" class="control-label">Email</label>
            <input type="text" id="email" name="email" disabled :value="user.email" class="form-control">
          </div>
          <div class="form-group col-xs-12">
            <label for="fio" class="control-label">ФИО</label>
            <input type="text" id="fio" name="fio" v-model="formFIO" :value="user.name" class="form-control">
          </div>
          <div class="form-group col-xs-12">
            <label for="phone" class="control-label">Контактный телефон</label>
            <input type="text" id="fio" name="phone" v-model="formPhone" :value="user.phone" class="form-control">
          </div>
          <div class="form-group col-xs-12">
            <label for="gender" class="control-label">Пол</label>
            <select v-model="formGender" class="form-control" id="gender" name="gender">
              <option value="мужской">мужской</option>
              <option value="женский">женский</option>
            </select>
          </div>
          <div class="form-group col-xs-12">
            <label for="pbdate" class="control-label">Дата рождения</label>
            <el-date-picker :value="user.birthDate" v-model="formBDate" format="dd.MM.yyyy" type="date"></el-date-picker>
          </div>
          <div class="form-group col-xs-12">
            <label for="job" class="control-label">Место работы</label>
            <input type="text" id="job" name="job" :value="user.job" v-model="formJob" class="form-control">
          </div>
          <div class="form-group col-xs-12">
            <label for="vacancy" class="control-label">Должность</label>
            <input type="text" id="vacancy" name="vacancy" :value="user.vacancy" v-model="formVacancy" class="form-control">
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-xs-6" style="padding-right: 0;">
        <div class="well well-sm">
          <h4>Образование</h4>
          <div class="form-group col-xs-12">
            <label for="hs" class="control-label">Учебное заведение</label>
            <input type="text" id="hs" name="hs" v-model="formHS" :value="user.highschool" class="form-control">
          </div>
          <div class="form-group col-xs-12">
            <label for="sp" class="control-label">Специальность</label>
            <input type="text" id="sp" name="sp" v-model="formSpeciality" :value="user.speciality" class="form-control">
          </div>
          <div class="form-group col-xs-12">
            <label for="year" class="control-label">Год окончания</label>
            <input type="text" name="year" v-model="formYear" :value="user.graduation" class="form-control">
          </div>
          <div class="form-group col-xs-12">
            <label for="upload" class="control-label">Фото диплома</label>
            <span v-if="diploma">{{ diploma.name }}</span>
            <a class="btn btn-warning" v-if="!diploma" @click="showUploadForm = true;">Загрузить</a>
            <div v-show="showUploadForm" v-if="user">
              <el-upload
                class="upload"
                drag
                name="uploadFile"
                :data="{ '_csrf':csrfToken, 'user':user.id, 'type':9 }"
                action="/api/upload"
                :on-success="function(r, file, fl) { diploma = file; showUploadForm = false; }">
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Перетяните файлы сюда или <em>нажмите для выбора файлов</em></div>
                <div class="el-upload__tip" slot="tip">Документы и изображения не больше 15Мб</div>
              </el-upload>
              <br />
              <el-button type="warning" @click="showUploadForm = false;">Отмена</el-button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-xs-6" style="padding-right: 0;">
        <div class="well well-sm">
          <h4>Виды работ</h4>
          <div class="form-group col-xs-12">
            <div v-if="workTypes">
              <el-transfer
              :titles="['Справочник','Выбрано']"
              v-model="selectedWorkTypes"
              :data="workTypes">
              </el-transfer>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-xs-6" style="padding-right: 0;">
        <div class="well well-sm">
          <h4>Области знаний</h4>
          <div class="form-group col-xs-12">
            <el-transfer
            :titles="['Справочник','Выбрано']"
            v-model="selectedKnowledges"
            :data="knowledgeListBasic">
            </el-transfer>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
      <a class="btn btn-info" @dblclick="pwdChange" title="Рекомендуем генерировать новый пароль каждую неделю">Сменить пароль</a>
      <a class="btn btn-success" @click="saveInfo">Сохранить изменения</a>
    </div>
  </div>
  </div>
</template>

<script>
  module.exports = {
    methods: {
      pwdChange() {
        this.$http.get('/author/pwd').then(response => {
          this.$notify({
            title: 'Новый пароль',
            message: response.body,
            duration: 0,
            type: 'info'
          });
        });
      },
      handleSwitch() {
        if(this.wtSwitch == false) {
          this.selectedWorkTypes = [];
        }
      },
      saveInfo() {
        var klArr = new Array();
        var wtArr = new Array();
        if(this.selectedWorkTypes) {
          this.selectedWorkTypes.forEach(item => {
            wtArr.push(item);
          });
        }
        if(this.selectedKnowledges) {
          this.selectedKnowledges.forEach(item => {
            klArr.push(item);
          });
        }
        this.$http.post('/author/saveInfo', {_csrf: this.csrfToken, kl: klArr, wt: wtArr, fio: this.formFIO, phone: this.formPhone, gender: this.formGender, bdate: this.formBDate, job: this.formJob, vacancy: this.formVacancy, hs: this.formHS, speciality: this.formSpeciality, year: this.formYear}).then(response => {
          this.$notify({
            title: 'Сохранение изменений',
            message: response.body,
            duration: 5000,
            type: 'info'
          });
        })
      },
      fetchAuthor() {
        var app = this;
        this.$http.get('/author/me').then(response => {
          this.user = response.body;
          this.formFIO = response.body.name;
          this.formPhone = response.body.phone;
          this.formGender = response.body.gender;
          this.formBDate = response.body.birthDate;
          this.formJob = response.body.job;
          this.formVacancy = response.body.vacancy;
          this.formHS = response.body.highschool;
          this.formSpeciality = response.body.speciality;
          this.formYear = response.body.graduation;
          if(response.body.knowledgeList) {
            var kls = response.body.knowledgeList.split(",");
            app.selectedKnowledges = [];
            kls.forEach(function(item) {
              app.selectedKnowledges.push(Number(item));
            });
          }
          if(response.body.workTypes) {
            this.wtSwitch = true;
            app.selectedWorkTypes = [];
            var wts = response.body.workTypes.split(",");
            wts.forEach(function(item) {
              app.selectedWorkTypes.push(Number(item));
            });
          }
        });
      },
      fetchWt() {
        var app = this;
        this.$http.get('/api/wt').then(response => {
          response.body.forEach(item => {
            app.workTypes.push({key: item.id, label: item.name});
          });
        });
      },
      fetchKlBasic() {
        var app = this;
        this.$http.get('/api/knowledge').then(response => {
          response.body.forEach(item => {
            app.knowledgeListBasic.push({key: item.id, label: item.name});
          })
        });
      },
      fetchCounts() {
        this.$http.get('/author/statusList').then(response => {
          this.counts = response.body;
        });
      },
      fetchCSRF() {
        if(!this.csrfToken) {
          this.$http.get("/csrfToken").then(response => {
            this.csrfToken = response.body._csrf;
          });
        }
      },
      fetchDiploma() {
        if(!this.diploma) {
          this.$http.get('/author/diploma').then(response => {
            this.diploma = response.body;
          });
        }
      }
    },
    created() {
      this.fetchCSRF();
      this.fetchKlBasic();
      this.fetchWt();
      this.fetchAuthor();
      this.fetchCounts();
      this.fetchDiploma();
    },
    data() {
      return {
        selectedWorkTypes: [],
        selectedKnowledges: [],
        user: null,
        workTypes: [],
        workType: null,
        wtSelected: [],
        counts: null,
        klbSwitch: true,
        klbSelected: [],
        knowledgeListBasic: [],
        formFIO: null,
        formPhone: null,
        formGender: null,
        formBDate: null,
        formJob: null,
        formVacancy: null,
        formHS: null,
        formSpeciality: null,
        formYear: null,
        showUploadForm: false,
        csrfToken: null,
        wtSwitch: false,
        diploma: null,
        newPwd: null
      }
    }
  }
</script>
