Здравствуйте!
Поступил новый заказ:
<br />
<br />
ФИО: <%=fio%>
<br />
Телефон: <%=phone%>
<br />
E-mail: <%=email%>
<br />
Учебное заведение: <%=vuz%>
<br />
Специальность: <%=special%>
<br />
Курс: <%=course%>
<br />
<br />
Вид работы: <%=type%>
<br />
Дисциплина: <%=discipline%>
<br />
Тема: <%=theme%>
<br />
Выполнить к: <%=todate%>
<br />
Комментарии: <%=comments%>
<br />
Файлы:
<% if(files && files != '-') { %>
  <% _.each(files, function(file) { %>
    <a href="http://za4etka.by/uploads/<%= file.file %>" target="_blank"><%= file.filename %>,</a>
  <% }) %>
<% } else { %>
    -
<% } %>
<br />
<br />
Промо-код: <%=promo%>
<br />
