<div id="managerApp">
  <div class="sidebar-menu">
    <div class="sidebar-logo">
      <router-link to="/"><div class="logo"></div></router-link>
    </div>
    <ul>
      <router-link to="/orders/1" title="Заказы"><li class="col-xs-2"><img src="/images/manager/orders-w.svg" alt="" /></li></router-link>
      <router-link to="/library" title="Справочник"><li class="col-xs-2"><img src="/images/manager/sprav-w.svg" alt="" /></li></router-link>
      <router-link to="/messages" title="Сообщения"><li class="col-xs-2"><img src="/images/manager/messages-w.svg" alt="" /></li></router-link>
      <router-link to="/organizer" title="Органайзер"><li class="col-xs-2"><img src="/images/manager/organ-w.svg" alt="" /></li></router-link>
      <router-link to="/payment" title="Оплата"><li class="col-xs-2"><img src="/images/manager/oplata-w.svg" alt="" /></li></router-link>
      <a href="/logout" class="bottom" title="Выход"><li class="col-xs-2 exit"><img src="/images/manager/exit-w.svg" alt="" /></li></a>
    </ul>
  </div>
