<template lang="html">
  <div class="cabinet-control">
    <h2>Кабинет менеджера</h2>
    <div class="well well-sm">
      Test
    </div>
  </div>
</template>

<script>
module.exports = {

}
</script>

<style lang="css">
</style>
