<template lang="html">
  <div class="cabinet-control">
    <h2>Сообщения</h2>
    <ul v-for="message in messages">
      <li>{{ message }}</li>
    </ul>
  </div>
</template>

<script>
module.exports = {
  methods: {
    fetchMessages() {
      this.$http.get('/manager/messages').then(response => {
        this.messages = response.body;
      });
    }
  },
  data() {
    return {
      messages: null
    }
  }
}
</script>
