<template lang="html">
  <div class="orders-panel" v-if="orders">
    <div class="row">
      <div class="col-xs-12">
        <div class="manager-order-panel">
          <h2>Управление заказами</h2>
          <ul v-if="counts">
            <router-link to="/orders/1">
              <el-tag type="gray">Новые <b>{{ counts[0].count }}</b></el-tag>
            </router-link>
            <router-link to="/orders/2">
              <el-tag type="gray">Рецензия <b>{{ counts[1].count }}</b></el-tag>
            </router-link>
            <router-link to="/orders/3">
              <el-tag type="gray">На тендере <b>{{ counts[2].count }}</b></el-tag>
            </router-link>
            <router-link to="/orders/4">
              <el-tag type="gray">Ждем оплату <b>{{ counts[3].count }}</b></el-tag>
            </router-link>
            <router-link to="/orders/5">
              <el-tag type="gray">В работе <b>{{ counts[4].count }}</b></el-tag>
            </router-link>
            <router-link to="/orders/6">
              <el-tag type="gray">На доработке <b>{{ counts[5].count }}</b></el-tag>
            </router-link>
            <router-link to="/orders/7">
              <el-tag type="gray">На проверке <b>{{ counts[6].count }}</b></el-tag>
            </router-link>
            <router-link to="/orders/8">
              <el-tag type="gray">Архив <b>{{ counts[7].count }}</b></el-tag>
            </router-link>
            <router-link to="/orders/9">
              <el-tag type="gray">Возврат <b>{{ counts[8].count }}</b></el-tag>
            </router-link>
          </ul>
        </div>
      </div>
    </div>
    <div class="well well-sm" v-show="orders && ($route.params.type == 1 || $route.params.type == 4 || $route.params.type == 5 || $route.params.type == 6 || $route.params.type == 7 || $route.params.type == 8 || $route.params.type == 9)">
      <el-table v-loading.body="loading" border stripe :data="orders" :default-sort = "{prop: 'createdAt', order: 'descending'}" style="width: 100%">
        <el-table-column prop="viewed" sortable width="45">
          <template scope="scope">
            <span title="Не просмотрен" class="glyphicon glyphicon-screenshot" v-if="scope.row.viewed == 0"></span>
          </template>
        </el-table-column>
        <el-table-column prop="fromCabinet" sortable width="45">
          <template scope="scope">
            <span title="Передан из другого кабинета" class="glyphicon glyphicon-log-in" v-if="scope.row.thrown == 1"></span>
          </template>
        </el-table-column>
        <el-table-column prop="createdAt" sortable label="Дата" width="130">
          <template scope="scope">
            {{ scope.row.createdAt | moment('DD.MM.YYYY') }}
          </template>
        </el-table-column>
        <el-table-column prop="id" sortable label="Заказ" width="72">
          <template scope="scope">
            <a :href="'/manager#/order/' + scope.row.id">{{ scope.row.id }}</a>
          </template>
        </el-table-column>
        <el-table-column prop="user.name" sortable label="Клиент" width="180">
          <template scope="scope">
            <span @click="pushUserInfo(scope.row.user);" :class="{'online': Number(scope.row.user.online)+60000 > Date.now()}">{{scope.row.user.name}}</span><span class="badge" v-if="scope.row.messages > 0">{{scope.row.messages}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="order_highschool" sortable label="ВУЗ (ССУЗ)"></el-table-column>
        <el-table-column prop="order_discipline" sortable label="Дисциплина"></el-table-column>
        <el-table-column prop="order_type.name" sortable label="Вид работы" width="170"></el-table-column>
        <el-table-column prop="date_to" sortable label="Выполнить к" width="130">
          <template scope="scope">
            {{ scope.row.date_to | moment('DD.MM.YYYY') }}
          </template>
        </el-table-column>
        <el-table-column prop="files" sortable label="Файлы" width="85">
        </el-table-column>
      </el-table>
    </div>
    <div class="well well-sm" v-show="orders && ($route.params.type == 2)">
      <el-table v-loading.body="loading" border stripe :data="orders" :default-sort = "{prop: 'createdAt', order: 'descending'}" style="width: 100%">
        <el-table-column prop="fixes" sortable label="Доработки" width="120" class="first">
          <template scope="scope">
            {{ scope.row.fixes?scope.row.fixes:0 }}
          </template>
        </el-table-column>
        <el-table-column prop="createdAt" sortable label="Дата" width="130">
          <template scope="scope">
            {{ scope.row.createdAt | moment('DD.MM.YYYY') }}
          </template>
        </el-table-column>
        <el-table-column prop="id" sortable label="Заказ" width="72">
          <template scope="scope">
            <a :href="'/manager#/order/' + scope.row.id">{{ scope.row.id }}</a>
          </template>
        </el-table-column>
        <el-table-column prop="user.name" sortable label="Клиент" width="180"></el-table-column>
        <el-table-column prop="order_highschool" sortable label="ВУЗ (ССУЗ)"></el-table-column>
        <el-table-column prop="order_discipline" sortable label="Дисциплина"></el-table-column>
        <el-table-column prop="order_type.name" sortable label="Вид работы" width="170"></el-table-column>
        <el-table-column prop="date_to" sortable label="Выполнить к" width="130">
          <template scope="scope">
            {{ scope.row.date_to | moment('DD.MM.YYYY') }}
          </template>
        </el-table-column>
        <el-table-column prop="files" sortable label="Файлы" width="85">
        </el-table-column>
      </el-table>
    </div>
    <div class="well well-sm" v-show="orders && $route.params.type == 3">
      <el-table v-loading.body="loading" @expand="fetchSuggestions" border stripe :data="orders" :default-sort = "{prop: 'createdAt', order: 'descending'}" style="width: 100%">
        <el-table-column class="first">
          <template scope="scope">
            <span class="glyphicon glyphicon-usd" title="Полностью оплачен" v-show="scope.row.paid == scope.row.price"></span>
            <span class="glyphicon glyphicon-user" title="Автор назначен" v-show="scope.row.order_author != null && scope.row.order_author != ''"></span>
            <span class="glyphicon glyphicon-record" title="Выставлен счёт" v-show="scope.row.order_status == 2"></span>
            <span class="glyphicon glyphicon-sort" title="Частично оплачен" v-show="scope.row.paid > 0 && scope.row.paid < scope.row.price"></span>
          </template>
        </el-table-column>
        <el-table-column type="expand" width="45" class="first">
          <template scope="scope">
            <h3>Предложения авторов к заказу №{{scope.row.id}}</h3>
            <br />
            <el-table :data.sync="suggestions[scope.row.id]" border style="width:100%;" :default-sort = "{prop: 'createdAt', order: 'ascending'}">
              <el-table-column label="Рейтинг" width="70">
                <template scope="innerScope">
                  {{innerScope.row.user.rating?innerScope.row.user.rating:0}}%
                  <span class="glyphicon glyphicon-warning-sign" title="Автор зарегистрирован менее 2 месяцев" v-show="new Date(innerScope.row.user.createdAt).getTime() > (new Date().getTime() - 5184000000)"></span>
                </template>
              </el-table-column>
              <el-table-column label="Автор">
                <template scope="innerScope">
                  <a @click="authorOrdersDialog = true; authorDialogHandler = innerScope.row; fetchAuthorOrders();">{{ innerScope.row.user.name }}</a>
                </template>
              </el-table-column>
              <el-table-column label="Стоимость">
                <template scope="innerScope">
                  <div v-if="innerScope.row.data">
                    Автор:
                    <b :class="
                      {'moreThan': JSON.parse(innerScope.row.data).price > scope.row.paytoauthor,
                      'lessThan': JSON.parse(innerScope.row.data).price < scope.row.paytoauthor}">
                      {{ JSON.parse(innerScope.row.data).price }}
                      <i v-show="JSON.parse(innerScope.row.data).price > scope.row.paytoauthor" class="glyphicon glyphicon-triangle-top"></i>
                      <i v-show="JSON.parse(innerScope.row.data).price < scope.row.paytoauthor" class="glyphicon glyphicon-triangle-bottom"></i>
                    </b>
                    ({{scope.row.paytoauthor}})
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="Срок сдачи">
                <template scope="innerScope">
                  <div v-if="innerScope.row.data">
                    Автор:
                    <b :class="{
                      'moreThan': new Date(JSON.parse(innerScope.row.data).date).getTime() > new Date(scope.row.date_to).getTime(),
                      'lessThan': new Date(JSON.parse(innerScope.row.data).date).getTime() < new Date(scope.row.date_to).getTime()}">
                      {{ (JSON.parse(innerScope.row.data).date) | moment("DD.MM.YYYY") }}
                      <i v-show="new Date(JSON.parse(innerScope.row.data).date).getTime() > new Date(scope.row.date_to).getTime()" class="glyphicon glyphicon-triangle-top"></i>
                      <i v-show="new Date(JSON.parse(innerScope.row.data).date).getTime() < new Date(scope.row.date_to).getTime()" class="glyphicon glyphicon-triangle-bottom"></i>
                    </b>
                    ({{scope.row.date_to | moment("DD.MM.YYYY")}})
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="Сообщение" property="message"></el-table-column>
              <el-table-column>
                <template scope="scope">
                  <a @click="fastMessageHandler = scope.row; fastMessageDialog = true;" class="btn btn-sm btn-info">Отправить сообщение</a>
                </template>
              </el-table-column>
            </el-table>
          </template>
        </el-table-column>
        <el-table-column prop="suggestions" label="Предложения" width="110" class="first">
          <template scope="scope">{{scope.row.suggestions?scope.row.suggestions:0}}</template>
        </el-table-column>
        <el-table-column prop="createdAt" sortable label="Дата" width="130">
          <template scope="scope">
            {{ scope.row.createdAt | moment('DD.MM.YYYY') }}
          </template>
        </el-table-column>
        <el-table-column prop="id" sortable label="Заказ" width="72">
          <template scope="scope">
            <a :href="'/manager#/order/' + scope.row.id">{{ scope.row.id }}</a>
          </template>
        </el-table-column>
        <el-table-column prop="user.name" sortable label="Клиент" width="180"></el-table-column>
        <el-table-column prop="order_highschool" sortable label="ВУЗ (ССУЗ)"></el-table-column>
        <el-table-column prop="order_discipline" sortable label="Дисциплина"></el-table-column>
        <el-table-column prop="order_type.name" sortable label="Вид работы" width="170"></el-table-column>
        <el-table-column prop="date_to" sortable label="Выполнить к" width="130">
          <template scope="scope">
            {{ scope.row.date_to | moment('DD.MM.YYYY') }}
          </template>
        </el-table-column>
        <el-table-column prop="files" sortable label="Файлы" width="85">
        </el-table-column>
      </el-table>
    </div>

    <el-dialog title="Отправить сообщение" :visible.sync="fastMessageDialog" size="tiny">
      <span v-if="fastMessageHandler">Сообщение автору {{ fastMessageHandler.user.name }}</span>
      <textarea class="form-control" placeholder="Сообщение" v-model="fastMessageText" rows="8" cols="80"></textarea>
      <span slot="footer" class="dialog-footer">
        <el-button @click="fastMessageDialog = false;">Отмена</el-button>
        <el-button type="primary" v-if="fastMessageText" @click="fastMessageDialog = false; sendFastMessage();">Отправить</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Информация о пользователе" :visible.sync="showUserInfo" size="tiny">
      <span class="col-xs-6">Имя: <b>{{ userInfo.name?userInfo.name:'-' }}</b></span>
      <span class="col-xs-6">Почта: <b>{{ userInfo.email?userInfo.email:'-' }}</b></span>
      <span class="col-xs-6">Телефон: <b>{{ userInfo.phone?userInfo.phone:'-' }}</b></span>
      <span class="col-xs-6">Пол: <b>{{ userInfo.gender?userInfo.gender:'-' }}</b></span>
      <span class="col-xs-6">Дата рождения: <b>{{ userInfo.birthDate?userInfo.birthDate:'-' }}</b></span>
      <span class="col-xs-6">ВУЗ\ССУЗ: <b>{{ userInfo.highschool?userInfo.highschool:'-' }}</b></span>
      <span class="col-xs-6">Специальность: <b>{{ userInfo.speciality?userInfo.speciality:'-' }}</b></span>
      <span class="col-xs-6">Факультет: <b>{{ userInfo.faculty?userInfo.faculty:'-' }}</b></span>
      <span class="col-xs-6">Год поступления: <b>{{ userInfo.fielded?userInfo.fielded:'-' }}</b></span>
      <span class="col-xs-6">Год выпуска: <b>{{ userInfo.graduation?userInfo.graduation:'-' }}</b></span>
      <span class="col-xs-6">Ключ-токен: <b>{{ userInfo.tokenID?userInfo.tokenID:'-' }}</b></span>
      <span class="col-xs-6">ID в системе: <b>{{ userInfo.id?userInfo.id:'-' }}</b></span>
      <span class="col-xs-6">Дата регистрации: <b>{{ userInfo.createdAt | moment("DD.MM.YYYY") }}</b></span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showUserInfo = false; userInfo = [];">Закрыть</el-button>
      </span>
    </el-dialog>

    <el-dialog title="Статистика" :visible.sync="authorOrdersDialog" size="tiny">
      <span v-if="authorOrders">Статистика автора {{ authorDialogHandler.user.name }}.<br />Срок, помеченный красным цветом - просроченный заказ</span>
      <br />
      <div v-if="authorOrders">
        <el-table :data="authorOrders" border stripe>
          <el-table-column label="Номер" prop="id"></el-table-column>
          <el-table-column label="Срок">
            <template scope="scope">
              <span :class="{'moreThan': scope.row.fail == 1}">{{ scope.row.date_to | moment("DD.MM.YYYY") }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Статус" prop="author_status">
            <template scope="scope">
              <span v-if="scope.row.author_status == 1">На тендере</span>
              <span v-if="scope.row.author_status == 2">Предзаказ</span>
              <span v-if="scope.row.author_status == 3">В работе</span>
              <span v-if="scope.row.author_status == 4">На доработке</span>
              <span v-if="scope.row.author_status == 5">На проверке</span>
              <span v-if="scope.row.author_status == 6">Архив</span>
            </template>
          </el-table-column>
          <el-table-column label="Тип работы" prop="order_type">
            <template scope="scope">
              <span v-if="scope.row.order_type == 1">Дипломная работа</span>
              <span v-if="scope.row.order_type == 2">Отчет</span>
              <span v-if="scope.row.order_type == 3">Курсовая</span>
              <span v-if="scope.row.order_type == 4">Контрольная работа</span>
              <span v-if="scope.row.order_type == 5">Тест</span>
              <span v-if="scope.row.order_type == 6">Диссертация</span>
              <span v-if="scope.row.order_type == 7">Реферат</span>
              <span v-if="scope.row.order_type == 8">Задача</span>
              <span v-if="scope.row.order_type == 9">Доклад</span>
              <span v-if="scope.row.order_type == 10">Лабораторная работа</span>
              <span v-if="scope.row.order_type == 11">Перевод</span>
              <span v-if="scope.row.order_type == 12">Практикум</span>
              <span v-if="scope.row.order_type == 13">Презентация</span>
              <span v-if="scope.row.order_type == 14">СУРС</span>
              <span v-if="scope.row.order_type == 15">Чертёж</span>
              <span v-if="scope.row.order_type == 16">Эссе</span>
              <span v-if="scope.row.order_type == 17">Вопросы</span>
              <span v-if="scope.row.order_type == 18">Онлайн-экзамен</span>
              <span v-if="scope.row.order_type == 19">Шпаргалка</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="authorOrdersDialog = false;">Закрыть</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
module.exports = {
  methods: {
    moment: function() {
      return moment();
    },
    fetchAuthorOrders() {
      this.$http.get("/manager/fetchAuthorActivity/" + this.authorDialogHandler.user.id).then(response => {
        this.authorOrders = response.body;
        console.log(response.body);
      })
    },
    pushUserInfo(data) {
      this.userInfo = data;
      this.showUserInfo = true;
    },
    sendFastMessage() {
      var app = this;
      if(this.fastMessageText != null) {
        io.socket.post('/api/message', {
          message: this.fastMessageText,
          to: this.fastMessageHandler.user.id,
          order: this.fastMessageHandler.order.id,
          _csrf: this.csrfToken
        }, function(a) {
          app.fastMessageText = null;
          app.$notify({
            title: 'Отправка сообщения',
            message: a,
            duration: 5000,
            type: 'info'
          });
        });
      }
    },
    fetchOrders() {
      this.$http.get('/manager/orders/' + this.$route.params.type).then(response => {
        this.orders = response.body.orders;
        this.loading = false;
      });
    },
    fetchCount() {
      this.$http.get('/manager/statusList').then(response => {
        this.counts = response.body;
      });
    },
    fetchSuggestions(val) {
      this.$http.get('/manager/suggestions/' + val.id).then(response => {
        Vue.set(this.suggestions, val.id, response.body);
      });
    },
    fetchCSRF() {
      if(!this.csrfToken) {
        this.$http.get("/csrfToken").then(response => {
          this.csrfToken = response.body._csrf;
        });
      }
    },
    joinGlobal() {
      var app = this;
      io.socket.get('/api/joinGlobalManagers', function(){
        io.socket.on('forceUpdate', function() {
          app.fetchOrders();
        });
      });
    }
  },
  watch: {
    '$route': ['fetchOrders', 'fetchCount']
  },
  created() {
    this.fetchOrders();
    this.fetchCount();
    this.fetchCSRF();
    this.joinGlobal();
  },
  data() {
    return {
      orders: null,
      counts: null,
      fastMessageDialog: false,
      fastMessageHandler: null,
      fastMessageText: null,
      suggestions: {},
      authorOrdersDialog: false,
      authorOrders: null,
      authorDialogHandler: null,
      loading: true,
      csrfToken: null,
      showUserInfo: false,
      userInfo: {}
    }
  }
}
</script>
