<template lang="html">
  <div class="cabinet-control">
    <h2>Органайзер</h2>
    <h3>{{currentDate}}</h3>
  </div>
</template>

<script>
module.exports = {
  methods: {
    moment: function() {
      return moment();
    },
    getCurrentDate() {
      var app = this;
      app.currentDate = moment().format("DD.MM.YYYY HH:mm:ss");
      setInterval(function() {
        app.currentDate = moment().format("DD.MM.YYYY HH:mm:ss");
      }, 1000);
    }
  },
  created() {
    this.getCurrentDate();
  },
  data() {
    return {
      currentDate: null
    }
  }

}
</script>
