<%- partial('../main/partial/header.ejs') %>
<div class="block-white cabinet">
  <div class="container" align="center">
    <div class="row sub">
      <div class="col-sm-12 col-sm-9 leftside">
        <%- partial('partial/menu.ejs') %>

        <div class="clearfix"></div>

        <div class="cabiner-inner">
            <div class="earn-elements">

            </div>
        </div>
      </div>
      <%- partial('partial/rightSide.ejs') %>
    </div>
  </div>
</div>
<%- partial('partial/form-order-cabinet.ejs') %>
<%- partial('../main/partial/footer.ejs') %>
