<%- partial('../main/partial/header.ejs') %>
<div class="block-white cabinet">
  <div class="container" align="center">
    <div class="row sub">
      <div class="col-sm-12 col-sm-9 leftside">
        <%- partial('partial/menu.ejs') %>

        <div class="clearfix"></div>

        <div class="cabiner-inner">
          <% if(orders.length>0) { %>
          <% _.each(orders, function(order) { %>
            <div class="order-element">

              <div class="col-xs-12 col-sm-8 order-info">
                <div class="col-sm-6 col-xs-12 text-left">
                  <h3>
                   <a href="/cabinet/details/<%- order.id %>">Заказ №<%= order.id %></a> от <%- moment(order.createdAt).format("DD.MM.YYYY") %>
                  </h3>
                  <ul>
                    <li>Вид работы: <%= order.order_type?order.order_type.name:'-' %></li>
                    <li>Дисциплина: <%= order.order_discipline?order.order_discipline:'-' %></li>
                    <li>Выполнить до: <%= order.date_to?moment(order.date_to).format("DD.MM.YYYY"):'-' %></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-xs-12 text-right">
                  <% if(order.order_status) { %>
                    <% if(order.order_status.id == 1) { statusIcon = '<img src="/images/cabinet/onremark-b.svg" class="statusIcon" />' } %>
                    <% if(order.order_status.id == 2) { statusIcon = '<img src="/images/cabinet/payment-b.svg" class="statusIcon" />' } %>
                    <% if(order.order_status.id == 4) { statusIcon = '<img src="/images/cabinet/inwork-b.svg" class="statusIcon" />' } %>
                    <% if(order.order_status.id == 5) { statusIcon = '<img src="/images/cabinet/onstage-b.svg" class="statusIcon" />' } %>
                    <% if(order.order_status.id == 7) { statusIcon = '<img src="/images/cabinet/ready-b.svg" class="statusIcon" />' } %>
                    <% if(order.order_status.id == 8) { statusIcon = '<img src="/images/cabinet/cancelled-r.svg" class="statusIcon" />' } %>
                    <% if(order.order_status.id == 3) { %>
                      <img src="/images/cabinet/payment-b.svg" class="statusIcon" /><span class="status">К оплате</span><br /><img src="/images/cabinet/inwork-b.svg" class="statusIcon" /><span class="status">В работе</span>
                    <% } else if(order.order_status.id == 6) { %>
                      <img src="/images/cabinet/payment-b.svg" class="statusIcon" /><span class="status">К оплате</span><br /><img src="/images/cabinet/ready-b.svg" class="statusIcon" /><span class="status">Готов</span>
                    <% } else { %>
                      <%- statusIcon %><span class="status"><%= order.order_status.name %></span>
                    <% } %>
                  <% } %>
                  <% if(messages) { %>
                    <% var count = 0;%>
                    <% _.each(messages, function(message) { %>
                      <% if (message.order == order.id) { %>
                      <% count++; %>
                      <% } %>
                    <% }); %>
                    <% if(count > 0) { %>
                      <div class="newMessagesCount">
                        <img src="/images/cabinet/message-b.svg" class="statusIcon" /><span class="status">Новых сообщений: <%= count %></span>
                      </div>
                    <% } %>
                  <% } %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 order-actions">
                <% if(order.order_status) { %>
                <% if(order.order_status.id == 1) { %>
                  Идет оценка стоимости работы и поиск автора
                <% } %>
                <% if(order.order_status.id == 8) { %>
                  <%= order.reason?order.reason:'Работа не может быть выполнена' %>
                <% } %>
                <% if(order.order_status.id == 2 || order.order_status.id == 3) { %>
                  <div class="order-price">
                    <ul>
                      <% if(order.discount > 0 && order.paid > 0) { %>
                        <li>Стоимость: <%= order.price+order.discount %> - <span class="order-discount"><%= order.discount %></span> = <span class="order-fprice"><%= order.price %></span> руб.</li>
                      <% } %>
                      <% if(order.paid <= 0 || order.discount <= 0) { %>
                        <li>Стоимость: <%= order.price %> руб.</li>
                      <% } %>
                      <% if(order.discount > 0 && order.paid <= 0) { %>
                        <li>Скидка: <span class="order-discount"><%= order.discount %> %</span></li>
                      <% } else { %>
                        <li>Оплачено: <span class="order-fprice"><%= order.paid + 0 %> руб.</span></li>
                        <% } %>
                      <li>К оплате: <span class="order-fprice"><%= order.price - (order.price*order.discount/100) - order.paid %> руб.</span></li>
                    </ul>
                  </div>
                <% } %>
                <% if(order.order_status.id == 6) { %>
                  <div class="order-price">
                    <ul>
                      <% if(order.discount > 0 && order.paid > 0) { %>
                        <li>Стоимость: <%= order.price+(order.price*order.discount/100) %> - <span class="order-discount"><%= (order.price*order.discount/100) %></span> = <span class="order-fprice"><%= order.price %></span> руб.</li>
                      <% } %>
                      <% if(order.paid <= 0 || order.discount <= 0) { %>
                        <li>Стоимость: <%= order.price %> руб.</li>
                      <% } %>
                      <% if(order.discount > 0 && order.paid <= 0) { %>
                        <li>Скидка: <span class="order-discount"><%= order.discount %> %</span></li>
                      <% } else { %>
                        <li>Оплачено: <span class="order-fprice"><%= order.paid + 0 %> руб.</span></li>
                        <% } %>
                      <li>К оплате: <span class="order-fprice"><%= order.price - (order.price*order.discount/100) - order.paid %> руб.</span></li>
                    </ul>
                    <a class="btn btn-default">Оплатить</a>
                  </div>
                <% } %>
                <% if(order.order_status.id == 7) { %>
                  <a class="btn btn-success downloadWork" data-order="<%= order.id %>">Скачать работу</a>
                  <a class="btn btn-warning">На доработку</a>
                <% } %>
                <% } %>
              </div>

              <div class="clearfix"></div>

            </div>
          <% }); %>
          <% } else { %>
            <div class="no-orders">
              Заказов нет! <a href="#">Создать</a> новый заказ?
            </div>
          <% }%>
        </div>
      </div>
      <%- partial('partial/rightSide.ejs') %>
    </div>
  </div>
</div>
<%- partial('partial/form-order-cabinet.ejs') %>
<%- partial('../main/partial/footer.ejs') %>
