<%- partial('../main/partial/header.ejs') %>
<div class="block-white cabinet">
  <div class="container" align="center">
    <div class="row sub">
      <div class="col-sm-12 col-sm-9 leftside">
        <%- partial('partial/menu.ejs') %>

        <div class="clearfix"></div>

        <div class="cabiner-inner">
            <div class="message-elements">
              <div class="col-xs-12 col-sm-12 chats">
                <% if(error) { %>
                  <%= error %>
                <% } %>
                <% if(messages.length > 0) { %>
                  <table class="message-list">
                    <% _.each(messages, function(msg) { %>
                      <tr<% if(msg.read == 0) { %> class="unread"<% } %>>
                        <td class="col-sm-1 center">
                          <img src="/images/cabinet/message-b.svg" class="cabinet-msg" alt="" />
                        </td>
                        <td class="col-sm-2 center">
                          <strong>Заказ №<%= msg.order.id %></strong><br /><%- moment(msg.createdAt).format('DD.MM.YYYY') %>
                        </td>
                        <td class="col-sm-8">
                          <a href="/cabinet/details/<%= msg.order.id %>"><%= msg.message.substr(0,200) %><% if(msg.message.length > 200) { %>...<% } %></a>
                        </td>
                        <td class="col-sm-1">
                          <% if(msg.read != 1) { %><a href="#" class="mark-read" data-messageid="<%= msg.id %>" title="Отметить как прочитанное"><span class="glyphicon glyphicon-ok-circle"></span></a><% } %>
                        </td>
                      </tr>
                      <div class="clearfix"></div>
                    <% }) %>
                  </table>
                <% } else { %>
                  Сообщений нет
                <% } %>
              </div>
            </div>
        </div>
      </div>
      <%- partial('partial/rightSide.ejs') %>
    </div>
  </div>
</div>
<%- partial('partial/form-order-cabinet.ejs') %>
<%- partial('../main/partial/footer.ejs') %>
