<%- partial('../main/partial/header.ejs') %>
<div class="block-white cabinet">
  <div class="container" align="center">
    <div class="row sub">
      <div class="col-xs-12 col-sm-9 leftside">
        <%- partial('partial/menu.ejs') %>

        <div class="clearfix"></div>

        <div class="order-detailed">
          <h3>Заказ №<%= order.id %> от <%- moment(order.createdAt).format("DD.MM.YYYY") %></h3> <span class="status"><%= order.order_status.name %></span>
          <div class="orderid"><%= order.id %></div>
          <div class="userid"><%= userID %></div>
          <div class="primary-info">
            <ul>
              <li>Вид работы: <%= order.order_type?order.order_type.name:'-' %></li>
              <li>Дисциплина: <%= order.order_discipline?order.order_discipline:'-' %></li>
              <li>Выполнить до: <%= moment(order.date_to).format("DD.MM.YYYY") %></li>
              <li>Тема: <%= order.order_theme %></li>
              <li>Примечания: <%= order.comments %></li>
            </ul>
          </div>
        </div>
        <div class="user-orderPanel">

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#chat" aria-controls="home" role="tab" data-toggle="tab">Чат с менеджером</a></li>
            <li role="presentation"><a href="#files" aria-controls="profile" role="tab" data-toggle="tab">Файлы</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="chat">
              <div class="col-xs-3 chat-info">
                  <div class="col-xs-3">
                    <img src="/images/manager/client-r.svg" alt="" />
                  </div>
                  <div class="col-xs-9">
                    <%= order.user.name?order.user.name:'-' %>
                  </div>

                  <div class="clearfix"></div>

                  <div class="col-xs-3">
                    <img src="/images/manager/phone-b.svg" alt="" />
                  </div>
                  <div class="col-xs-9">
                    <%= order.user.phone?order.user.phone:'-' %>
                  </div>
              </div>
              <div class="col-xs-9 chat-area">
                <div class="chat-field">
                  <div class="chat-messages">
                    <div id="preloader">
                      Загрузка сообщений..
                      <img src="/images/preloader.gif" alt="" />
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control" id="chatMessage" placeholder="Ваше сообщение">
                    <input type="hidden" name="to" id="to" value="<%= order.manager %>">
                    <input type="hidden" name="order" id="order" value="<%= order.id %>">
                    <span class="input-group-btn">
                      <button class="btn btn-default" id="orderChatSend" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="files">
              <% if(order.filesList && order.filesList.length > 0) { %>
                <table class="table table-striped">
                  <tr>
                    <td>Имя файла</td>
                    <td>Тип</td>
                    <td>Дата публикации</td>
                  </tr>
              <% _.each(order.filesList, function(file) { %>
                <tr>
                  <td>
                    <a href="/uploads/<%=order.id%>/<%= file.path %>" target="_blank"><%= file.name %></a>
                  </td>
                  <td>
                    <%= file.type?file.type.name:'-' %>
                  </td>
                  <td>
                    <%= file.updatedAt %>
                  </td>
                </tr>
              <% }) %>
                </table>
              <% } else { %>
                Нет файлов
              <% } %>

              <form enctype="multipart/form-data" action="/cabinet/upload" method="POST">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <input type="hidden" name="order" value="<%= order.id %>">
                <label for="#uf">Добавить файл:</label><input id="uf" type="file" class="form-control" name="uploadFile" value="">
                <input type="submit" name="submit" value="Загрузить">
              </form>

            </div>
          </div>

        </div>

      </div>
      <%- partial('partial/rightSide.ejs') %>
    </div>
  </div>
</div>
<%- partial('../main/partial/footer.ejs') %>
