<%- partial('../main/partial/header.ejs') %>
<div class="block-white cabinet">
  <div class="container" align="center">
    <div class="row sub">
      <div class="col-sm-12 col-sm-9 leftside">
        <%- partial('partial/menu.ejs') %>

        <div class="clearfix"></div>

        <div class="cabiner-inner">
            <div class="profile-elements">
              <% if(req.session.flash.status) { %>
                <div class="col-xs-12 profileStatus">
                  <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= req.flash("status") %>
                  </div>
                </div>
                <div class="clearfix"></div>
              <% } %>
              <form method="post">
                <div class="form-group">
                  <label for="" class="col-sm-3 col-xs-12 control-label">ФИО <span class="important">*</span></label>
                  <div class="col-sm-9 col-xs-12">
                    <input type="text" name="name" class="form-control" value="<%= userData.name?userData.name:'' %>" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-3 col-xs-12 control-label">Страна <span class="important">*</span></label>
                  <div class="col-sm-9 col-xs-12">
                    <select class="form-control" name="phonePrefix" value="<%= userData.phonePrefix?userData.phonePrefix:'' %>">
                      <option value="+375">Беларусь (+375)</option>
                      <option value="+7">Россия (+7)</option>
                      <option value="+380">Украина (+380)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-3 col-xs-12 control-label">Телефон (код и номер)<span class="important">*</span></label>
                  <div class="col-sm-9 col-xs-12">
                    <input type="text" name="phone" class="form-control" value="<%= userData.phone?userData.phone:'' %>" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-3 col-xs-12 control-label">E-mail <span class="importantb">*</span></label>
                  <div class="col-sm-9 col-xs-12">
                    <input type="text" title="Для изменения данных обратитесь к менеджеру" class="form-control" disabled="disabled" disabled value="<%= userData.email?userData.email:'' %>" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-3 col-xs-12 control-label">Учебное заведение <span class="importantb">*</span></label>
                  <div class="col-sm-9 col-xs-12">
                    <input type="text" name="highschool" class="form-control" value="<%= userData.highschool?userData.highschool:'' %>" placeholder="" <% if(userData.highschool) { %> disabled="disabled" disabled title="Для изменения данных обратитесь к менеджеру"<% } %>>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-3 col-xs-12 control-label">Специальность <span class="importantb">*</span></label>
                  <div class="col-sm-9 col-xs-12">
                    <input type="text" name="speciality" class="form-control" value="<%= userData.speciality?userData.speciality:'' %>" placeholder="" <% if(userData.speciality) { %> disabled="disabled" disabled title="Для изменения данных обратитесь к менеджеру"<% } %>>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-3 col-xs-12 control-label">Факультет </label>
                  <div class="col-sm-9 col-xs-12">
                    <input type="text" name="faculty" class="form-control" value="<%= userData.faculty?userData.faculty:'' %>" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-3 col-xs-12 control-label">Год поступления </label>
                  <div class="col-sm-3 col-xs-12">
                    <input type="text" name="fielded" class="form-control" value="<%= userData.fielded?userData.fielded:'' %>" placeholder="">
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                  <label for="" class="col-sm-3 col-xs-12 control-label">Пол </label>
                  <div class="col-sm-9 col-xs-12">
                    <label><input type="radio" name="gender" value="m" <% if(userData.gender == "m") { %>checked="checked"<% } %>> Мужской </label> <label><input type="radio" name="gender" value="f" <% if(userData.gender == "f") { %>checked="checked"<% } %>> Женский</label>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                  <label for="pbdate" class="col-sm-3 col-xs-12 control-label">Дата рождения </label>
                  <div class="col-sm-4 col-xs-12 pbdt">
                    <input type="text" id="pbdate" name="birthDate" value="<%= userData.birthDate?userData.birthDate:'' %>" class="form-control pbdate"><a href="#" class="profileCalendarTrg"><img src="/images/calendar.svg" alt="" /></a>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                  <label for="pcomment" class="col-sm-3 col-xs-12 control-label">Дополнительно</label>
                  <div class="col-sm-9 col-xs-12">
                    <textarea class="form-control" name="comments" id="pcomments" rows="4" cols="40"><%= userData.comments?userData.comments:'' %></textarea>
                  </div>
                </div>
                <div align="center">
                  <input type="submit" class="btn btn-z4-default" value="Сохранить">
                  <button @click.prevent="changePasswordDialog = true;" class="btn btn-z4-default">Сменить пароль</button>
                  <input type="hidden" name="_csrf" value="<%= _csrf %>">
                </div>
                <br />
                <div class="col-xs-12">
                  <span class="important">*</span> - обязательные для заполнения<br />
                  <span class="importantb">*</span> - для изменения данных реквизитов, обратитесь к менеджеру
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
        </div>
      </div>
      <%- partial('partial/rightSide.ejs') %>
    </div>
  </div>
</div>
<%- partial('partial/form-order-cabinet.ejs') %>
<%- partial('../main/partial/footer.ejs') %>
