<template>
  <div class="cabinet-control">
    <div class="container-fluid">
      <h4 class="page-title">Интерфейс партнёра</h4>
      <div class="block-dark">
        <div class="row">
        <div class="col-sm-8">
          <h4>Отправить приглашение</h4>
          <div class="row" style="margin-top:15px; margin-bottom:15px;">
            <div class="col-sm-5" style="line-height:40px;">
              <span class="glyphicon glyphicon-envelope"></span> Персональная ссылка на E-mail
            </div>
            <div class="col-sm-6">
              <el-input v-model="invitationData.mail" placeholder="Адрес электронной почты"></el-input>
            </div>
            <div class="col-sm-1">
              <button @click="sendViaMail" type="button" style="height:40px !important;" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5" style="line-height:40px;">
              <span class="glyphicon glyphicon-phone"></span> СМС-сообщение на телефон
            </div>
            <div class="col-sm-6">
              <el-input v-model="invitationData.sms" placeholder="Номер в формате +375291112233"></el-input>
            </div>
            <div class="col-sm-1">
              <button type="button" style="height:40px !important;" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
          </div>
        </div>
      <div class="col-sm-4">
        <h4>Личные параметры</h4>
        <div class="row">
          <div class="col-sm-12">
            <br />
            Промо-код: {{ me.referalLink }}
            <br />
            Личная ссылка: <a :href="me.link">{{ me.link }}</a>
            <br />
            <br />
            <qrcode v-if="me.link" :value="me.link" :options="{ size: 150 }"></qrcode>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    </div>
    <div class="block-dark">
      <div class="row">
        <div class="col-sm-12">
          <h4>Рекламные материалы</h4>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>
<script>
module.exports = {
  methods: {
    fetchMe: function() {
      this.$http.get("/api/me").then(response => {
        console.log(response);
        this.me = response.body;
        this.me.link = "http://za4etka.by/?p=" + response.body.referalLink;
      })
    },
    sendViaMail: function() {
      this.$http.get("/csrfToken").then(function(csrf) {
        this.$http.post("/partner/sendMail", {target: this.invitationData.mail, _csrf: csrf.data._csrf}).then(function(response) {
          this.$alert(response.body.message, 'Уведомление');
        });
      });
    }
  },
  created() {
    this.fetchMe();
  },
  data() {
    return {
      me: {},
      invitationData: {
        mail: '',
        sms: ''
      }
    }
  }
}
</script>
