<template>
  <div class="cabinet-control">
    <div class="container-fluid">
      <h4 class="page-title">Заказы</h4>
      <div class="block-dark" v-if="orders">
        <div class="row">
          <div class="col-sm-12">
            <div style="display:inline-block;" @click="orderType = 1"><el-tag>Мои</el-tag></div>
            <div style="display:inline-block;" @click="orderType = 2"><el-tag>Поиск</el-tag></div>
            <div style="display:inline-block;" @click="orderType = 3"><el-tag>Архив</el-tag></div>
          </div>
          <div class="col-sm-12">
            <h4 v-if="orderType == 1" style="margin-top:15px;">Мои заказы</h4>
            <h4 v-if="orderType == 2" style="margin-top:15px;">Поиск</h4>
            <h4 v-if="orderType == 3" style="margin-top:15px;">Архив</h4>

            <el-table ref="orderType1" :data.sync="orders" v-if="orderType == 1">
              <el-table-column label="Дата" sortable prop="createdAt"></el-table-column>
              <el-table-column label="Заказ" prop="id"></el-table-column>
              <el-table-column label="Клиент" prop="user.name"></el-table-column>
              <el-table-column label="ВУЗ" prop="order_highschool"></el-table-column>
              <el-table-column label="Дисциплина" prop="order_discipline"></el-table-column>
              <el-table-column label="Специальность" prop="order_speciality"></el-table-column>
              <el-table-column label="Вид работы" prop="order_type.name"></el-table-column>
              <el-table-column label="Выполнен"></el-table-column>
              <el-table-column label="Стоимость" prop="price"></el-table-column>
              <el-table-column label="Гонорар"></el-table-column>
              <el-table-column label="Причина" prop="reason"></el-table-column>
            </el-table>
            <el-table ref="orderType3" :data.sync="orders" v-if="orderType == 3">
              <el-table-column label="Дата" sortable prop="order.createdAt"></el-table-column>
              <el-table-column label="Заказ" prop="order.id"></el-table-column>
              <el-table-column label="Клиент" prop="order.user.name"></el-table-column>
              <el-table-column label="ВУЗ" prop="order.order_highschool"></el-table-column>
              <el-table-column label="Дисциплина" prop="order.order_discipline"></el-table-column>
              <el-table-column label="Специальность" prop="order.order_speciality"></el-table-column>
              <el-table-column label="Вид работы" prop="order.order_type.name"></el-table-column>
              <el-table-column label="Выполнен"></el-table-column>
              <el-table-column label="Стоимость" prop="order.price"></el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
module.exports = {
  methods: {
    fetchOrders: function() {
      this.$http.get("/partner/orders/" + this.orderType).then(response => {
        if(response.body.status == 'success') {
          this.orders = response.body.data;
        } else {
          this.$alert(response.body.message, 'Уведомление');
        }
      });
    }
  },
  created() {
    this.fetchOrders();
  },
  watch: {
    'orderType': ['fetchOrders']
  },
  data() {
    return {
      me: {},
      orderType: 1,
      orders: null
    }
  }
}
</script>
