<template>
  <div class="cabinet-control">
    <div class="container-fluid">
      <h4 class="page-title">Органайзер</h4>
      <div class="block-dark" v-if="organizerType">
        <div class="row">
          <div class="col-sm-12">
            <div style="display: inline-block;" @click="organizerType = 1">
              <el-tag type="info">Потенциальные клиенты</el-tag>
            </div>
            <div style="display: inline-block;" @click="organizerType = 2">
              <el-tag type="info">Графики учебного процесса</el-tag>
            </div>
            <div v-if="organizerType == 1" style="margin-top:10px;">
              <div style="display:inline-block;" @click="addRecord()"><el-tag type="info">Добавить</el-tag></div>
              <div style="display:inline-block;" @click="removeSelected()"><el-tag type="info">Удалить</el-tag></div>
            </div>
            <div v-if="organizerType == 2" style="margin-top:10px;">
              <div style="display:inline-block;" @click="addRecord()"><el-tag type="info">Добавить</el-tag></div>
              <div style="display:inline-block;" @click="removeSelected()"><el-tag type="info">Удалить</el-tag></div>
            </div>
            <el-table ref="studentTable" :data="data" stripe style="width:100%" v-if="organizerType == 1">
              <el-table-column type="selection" width="55"></el-table-column>
              <el-table-column label="Студент" prop="data.student"></el-table-column>
              <el-table-column label="Ссылка" prop="data.link"></el-table-column>
              <el-table-column label="Учебное заведение" prop="data.highschool"></el-table-column>
              <el-table-column label="Работа" prop="data.work"></el-table-column>
              <el-table-column label="Когда писать" prop="data.writeDate"></el-table-column>
              <el-table-column label="Фейк" prop="data.fake"></el-table-column>
              <el-table-column label="Результат" prop="data.result"></el-table-column>
            </el-table>

            <el-table ref="planTable" :data="data" stripe style="width:100%" v-if="organizerType == 2">
              <el-table-column type="selection" width="55"></el-table-column>
              <el-table-column label="ВУЗ" prop="data.highschool"></el-table-column>
              <el-table-column label="Специальность" prop="data.speciality"></el-table-column>
              <el-table-column label="Группа" prop="data.group"></el-table-column>
              <el-table-column label="Курс" prop="data.course"></el-table-column>
              <el-table-column label="Группа VK" prop="data.vk"></el-table-column>
              <el-table-column label="Зимняя сессия" prop="data.winter"></el-table-column>
              <el-table-column label="Летняя сессия" prop="data.summer"></el-table-column>
              <el-table-column label="Написать" prop="data.writeDate"></el-table-column>
              <el-table-column label="Результат" prop="data.result"></el-table-column>
              <el-table-column label="Списки" prop="data.lists"></el-table-column>
              <el-table-column label="Работы" prop="data.works"></el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
    <el-dialog title="Добавить студента" :visible.sync="addStudentDialog" width="40%">
      <el-form ref="addStudent" v-model="addStudentForm">
        <el-form-item label="Студент">
          <el-input v-model="addStudentForm.student"></el-input>
        </el-form-item>
        <el-form-item label="Ссылка">
          <el-input v-model="addStudentForm.link"></el-input>
        </el-form-item>
        <el-form-item label="Учебное заведение">
          <el-input v-model="addStudentForm.highschool"></el-input>
        </el-form-item>
        <el-form-item label="Работа">
          <el-input v-model="addStudentForm.work"></el-input>
        </el-form-item>
        <el-form-item label="Когда писать">
          <el-input v-model="addStudentForm.writeDate"></el-input>
        </el-form-item>
        <el-form-item label="Фейк">
          <el-input v-model="addStudentForm.fake"></el-input>
        </el-form-item>
        <el-form-item label="Результат">
          <el-input v-model="addStudentForm.result"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addStudentDialog = false">Закрыть</el-button>
        <el-button type="primary" @click="addStudent">Добавить</el-button>
      </span>
    </el-dialog>
    <el-dialog title="Добавить учебный план" :visible.sync="addPlanDialog" width="40%">
      <el-form ref="addPlan" v-model="addPlanForm">
        <el-form-item label="ВУЗ">
          <el-input v-model="addPlanForm.highschool"></el-input>
        </el-form-item>
        <el-form-item label="Специальность">
          <el-input v-model="addPlanForm.speciality"></el-input>
        </el-form-item>
        <el-form-item label="Группа">
          <el-input v-model="addPlanForm.group"></el-input>
        </el-form-item>
        <el-form-item label="Курс">
          <el-input v-model="addPlanForm.course"></el-input>
        </el-form-item>
        <el-form-item label="Группа VK">
          <el-input v-model="addPlanForm.vk"></el-input>
        </el-form-item>
        <el-form-item label="Зимняя сессия">
          <el-input v-model="addPlanForm.winter"></el-input>
        </el-form-item>
        <el-form-item label="Летняя сессия">
          <el-input v-model="addPlanForm.summer"></el-input>
        </el-form-item>
        <el-form-item label="Написать (дата)">
          <el-input v-model="addPlanForm.writeDate"></el-input>
        </el-form-item>
        <el-form-item label="Результат">
          <el-input v-model="addPlanForm.result"></el-input>
        </el-form-item>
        <el-form-item label="Списки">
          <el-input v-model="addPlanForm.lists"></el-input>
        </el-form-item>
        <el-form-item label="Работы">
          <el-input v-model="addPlanForm.works"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addPlanDialog = false">Закрыть</el-button>
        <el-button type="primary" @click="addPlan">Добавить</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
module.exports = {
  methods: {
    addRecord: function() {
      if(this.organizerType == 1) {
        this.addStudentDialog = true;
      } else {
        this.addPlanDialog = true;
      }
    },
    removeSelected: function() {
      if(this.organizerType == 1) {
        if(this.$refs.studentTable.selection.length > 0) {
          this.$http.get("/csrfToken").then(csrf => {
            this.$http.post("/partner/organizer/remove", {data: this.$refs.studentTable.selection, _csrf: csrf.body._csrf}).then(response => {
              this.$alert(response.body.message, 'Уведомление');
              if(response.body.status == 'success') {
                this.fetchData();
              }
            })
          });
        } else {
          this.$alert('Не выбрано ни одной записи!','Уведомление');
        }
      } else {
        if(this.$refs.planTable.selection.length > 0) {
          this.$http.get("/csrfToken").then(csrf => {
            this.$http.post("/partner/organizer/remove", {data: this.$refs.planTable.selection, _csrf: csrf.body._csrf}).then(response => {
              this.$alert(response.body.message, 'Уведомление');
              if(response.body.status == 'success') {
                this.fetchData();
              }
            })
          });
        } else {
          this.$alert('Не выбрано ни одной записи!','Уведомление');
        }
      }
    },
    addStudent: function() {
      this.$http.get('/csrfToken').then(csrf => {
        this.$http.post("/partner/organizer", {_csrf:csrf.body._csrf, type: 1, data: this.addStudentForm}).then(response => {
          this.$alert(response.body.message, 'Уведомление');
          if(response.body.status == 'success') {
            this.data.push(response.body.data);
            this.addStudentForm = {};
          }
        });
      });
      this.addStudentDialog = false;
    },
    addPlan: function() {
      this.$http.get('/csrfToken').then(csrf => {
        this.$http.post("/partner/organizer", {_csrf:csrf.body._csrf, type: 2, data: this.addPlanForm}).then(response => {
          this.$alert(response.body.message, 'Уведомление');
          if(response.body.status == 'success') {
            this.data.push(response.body.data);
            this.addPlanForm = {};
          }
        });
      });
      this.addPlanDialog = false;
    },
    fetchData: function() {
      this.$http.get("/partner/organizer/" + this.organizerType).then(response => {
        if(response.body.status == "success") {
          this.data = response.body.data;
        }
      });
    }
  },
  created() {
    this.fetchData();
  },
  watch: {
    'organizerType': ['fetchData']
  },
  data() {
    return {
      me: {},
      data: null,
      organizerType: 1,
      addPlanDialog: false,
      addPlanForm: {},
      addStudentDialog: false,
      addStudentForm: {}
    }
  }
}
</script>
