<template>
  <div class="cabinet-control">
    <div class="container-fluid">
      <h4 class="page-title">Оплата</h4>
      <div class="block-dark">
        <div class="row">
          <div class="col-sm-12">
            <div style="display:inline-block;" @click="paymentType = 1"><el-tag>К оплате</el-tag></div>
            <div style="display:inline-block;" @click="paymentType = 2"><el-tag>Архив</el-tag></div>
          </div>
          <div class="col-sm-9">
            <el-table :data="data">
              <el-table-column label="Заказ"></el-table-column>
              <el-table-column label="Клиент"></el-table-column>
              <el-table-column label="ВУЗ"></el-table-column>
              <el-table-column label="Дисциплина"></el-table-column>
              <el-table-column label="Вид работы"></el-table-column>
              <el-table-column label="Выполнен"></el-table-column>
              <el-table-column label="Стоимость"></el-table-column>
              <el-table-column label="Гонорар"></el-table-column>
            </el-table>
          </div>
          <div class="col-sm-3">
            <div v-if="paymentType == 1">
              <strong>Сводка за текущий месяц</strong>
            </div>
            <el-date-picker
              v-model="datePeriod"
              type="daterange"
              range-separator="до"
              start-placeholder="Выберите"
              end-placeholder="диапазон"
              v-if="paymentType == 2">
            </el-date-picker>
            Привлечено заказов: 0<br />
            <span v-if="paymentType == 2">Выполнено: 0<br /></span>
            На сумму: 0 руб.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
module.exports = {
  data() {
    return {
      data: null,
      datePeriod: null,
      paymentType: 1
    }
  }
}
</script>
