<template>
  <div class="cabinet-control">
    <div class="container-fluid">
      <h4 class="page-title">Профиль</h4>
      <div class="block-dark col-sm-6" v-if="me">
        <div class="row">
          <div class="col-sm-12">
            <h3>Личные данные</h3>
            <el-form ref="editForm" :model="formData">
              <el-form-item label="ФИО">
                <el-input v-model="formData.name"></el-input>
              </el-form-item>
              <el-form-item label="Телефон">
                <el-input clearable v-model="formData.phone" placeholder="Код оператора и номер" class="input-with-select fix-suffix">
                  <el-select placeholder="Страна" slot="prepend" v-model="formData.phonePrefix">
                    <el-option label="Беларусь (+375)" value="+375"></el-option>
                    <el-option label="Россия (+7)" value="+7"></el-option>
                    <el-option label="Украина (+380)" value="+380"></el-option>
                  </el-select>
                </el-input>
              </el-form-item>
              <el-form-item label="Пол">
                <el-radio v-model="formData.gender" label="мужской"></el-radio>
                <el-radio v-model="formData.gender" label="женский"></el-radio>
              </el-form-item>
            </el-form>
          </div>
        </div>
      </div>
      <div class="block-dark col-sm-6" v-if="me">
        <div class="row">
          <div class="col-sm-12">
            <h3>Образование</h3>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="block-dark col-sm-6" v-if="me">
        <div class="row">
          <div class="col-sm-12">
            <h3>Системные параметры</h3>
            <div style="margin-top:15px;">
              <button type="button" class="btn btn-primary" @click="changePasswordDialog = true;">Сменить пароль</button>
              <button type="button" class="btn btn-primary">Платёжные данные</button>
            </div>
          </div>
        </div>
      </div>
      <div class="block-dark col-sm-6" v-if="me">
        <div class="row">
          <div class="col-sm-12">
            <h3>Список учебных заведений</h3>
          </div>
        </div>
      </div>
    </div>
    <el-dialog title="Смена пароля" :visible.sync="changePasswordDialog">
      <el-form>
        <el-form-item label="Текущий пароль">
          <el-input v-model="oldPwd"></el-input>
        </el-form-item>
        <el-form-item label="Новый пароль">
          <el-input v-model="newPwd"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer">
        <el-button @click="changePasswordDialog = false;">Отмена</el-button>
        <el-button @click="changePassword();">Отправить</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
module.exports = {
  methods: {
    fetchUser() {
      this.$http.get("/api/me").then(response => {
        this.me = response.body;
        console.log(this.me);
      });
    },
    changePassword() {
      this.$http.get("/csrfToken").then(csrf => {
        this.$http.post("/api/changePassword", {old: this.oldPwd, new: this.newPwd, _csrf: csrf.body._csrf}).then(response => {
          console.log(response.body);
          this.$alert(response.body.message, 'Смена пароля');
          if(response.body.status == 'success') {
            this.changePasswordDialog = false;
          }
        });
      });
    }
  },
  created() {
    this.fetchUser();
  },
  data() {
    return {
      me: null,
      formData: {
        name: '',
        phonePrefix: '',
        phone: ''
      },
      changePasswordDialog: false,
      oldPwd: null,
      newPwd: null,
    }
  }
}
</script>
